/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:f0014aa4785b98d80c5255559ff8e2af$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.body-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/body-sprite.png);}

.body-001 {width:201px; height:485px; background-position: -0px -490px}
.body-002 {width:201px; height:488px; background-position: -0px -0px}
