/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:7b186697c0576fd564235b9c33310bac$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.dress-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/dress-sprite.png);}

.blt-001-001 {width:201px; height:226px; background-position: -203px -1775px}
.blt-001-001-copy {width:201px; height:226px; background-position: -0px -1804px}
.blt-001-003 {width:201px; height:234px; background-position: -203px -1539px}
.blt-001-003-copy {width:201px; height:234px; background-position: -406px -1553px}
.bod-001-001 {width:201px; height:126px; background-position: -812px -2804px}
.bod-001-001-copy {width:201px; height:126px; background-position: -609px -2822px}
.bod-001-003 {width:201px; height:127px; background-position: -609px -2565px}
.bod-001-004 {width:201px; height:127px; background-position: -812px -2547px}
.bod-002-001 {width:201px; height:126px; background-position: -609px -2694px}
.bod-002-001-copy {width:201px; height:126px; background-position: -406px -2732px}
.bod-002-003 {width:201px; height:126px; background-position: -812px -2676px}
.bod-003-001 {width:201px; height:121px; background-position: -812px -3183px}
.bod-003-001-copy {width:201px; height:121px; background-position: -609px -3200px}
.bod-003-003 {width:201px; height:121px; background-position: -0px -3139px}
.bod-004-001 {width:201px; height:124px; background-position: -203px -2860px}
.bod-004-001-copy {width:201px; height:124px; background-position: -0px -2888px}
.bod-004-002 {width:201px; height:122px; background-position: -203px -3111px}
.bod-004-003 {width:201px; height:124px; background-position: -812px -2932px}
.bod-005-001 {width:201px; height:123px; background-position: -609px -3075px}
.bod-005-001-copy {width:201px; height:123px; background-position: -406px -3110px}
.bod-005-003 {width:201px; height:123px; background-position: -0px -3014px}
.bod-005-003-copy {width:201px; height:123px; background-position: -812px -3058px}
.bod-006-001 {width:201px; height:123px; background-position: -406px -2985px}
.bod-006-001-copy {width:201px; height:123px; background-position: -203px -2986px}
.bod-006-003 {width:201px; height:123px; background-position: -406px -2860px}
.bod-006-003-copy {width:201px; height:123px; background-position: -609px -2950px}
.bod-007-001 {width:96px; height:276px; background-position: -0px -3262px}
.bod-007-001-copy {width:96px; height:276px; background-position: -98px -3262px}
.bod-007-001-copy-2 {width:96px; height:276px; background-position: -294px -3235px}
.bod-007-001-copy-3 {width:96px; height:276px; background-position: -196px -3262px}
.bod-008-001 {width:201px; height:294px; background-position: -203px -658px}
.bod-008-001-copy {width:201px; height:294px; background-position: -203px -954px}
.bod-008-001-copy-2 {width:201px; height:294px; background-position: -0px -964px}
.bod-008-001-copy-3 {width:201px; height:294px; background-position: -406px -968px}
.skt-001-001 {width:201px; height:287px; background-position: -406px -1264px}
.skt-001-003 {width:201px; height:287px; background-position: -203px -1250px}
.skt-001-004 {width:201px; height:311px; background-position: -609px -653px}
.skt-002-001 {width:201px; height:314px; background-position: -812px -642px}
.skt-002-002 {width:201px; height:314px; background-position: -609px -337px}
.skt-002-003 {width:201px; height:314px; background-position: -406px -337px}
.skt-002-004 {width:201px; height:313px; background-position: -406px -653px}
.skt-003-001 {width:201px; height:335px; background-position: -406px -0px}
.skt-003-001-copy {width:201px; height:335px; background-position: -609px -0px}
.skt-003-003 {width:201px; height:335px; background-position: -0px -0px}
.skt-003-003-copy {width:201px; height:335px; background-position: -203px -0px}
.skt-004-001 {width:201px; height:270px; background-position: -0px -1260px}
.skt-004-001-copy {width:201px; height:270px; background-position: -0px -1532px}
.skt-004-003 {width:201px; height:270px; background-position: -609px -1272px}
.skt-004-003-copy {width:201px; height:270px; background-position: -609px -1544px}
.skt-005-001 {width:201px; height:319px; background-position: -0px -337px}
.skt-005-001-copy {width:201px; height:319px; background-position: -203px -337px}
.skt-005-003 {width:201px; height:319px; background-position: -812px -0px}
.skt-005-003-copy {width:201px; height:319px; background-position: -812px -321px}
.skt-006-001 {width:201px; height:304px; background-position: -812px -958px}
.skt-006-001-copy {width:201px; height:304px; background-position: -609px -966px}
.skt-006-001-copy-2 {width:201px; height:304px; background-position: -0px -658px}
.skt-006-001-copy-3 {width:201px; height:304px; background-position: -812px -1264px}
.slv-001-001 {width:201px; height:61px; background-position: -595px -3386px}
.slv-001-001-copy {width:201px; height:61px; background-position: -392px -3424px}
.slv-001-003 {width:201px; height:61px; background-position: -798px -3369px}
.slv-001-004 {width:201px; height:61px; background-position: -392px -3361px}
.slv-002-001 {width:201px; height:61px; background-position: -392px -3298px}
.slv-002-001-copy {width:201px; height:61px; background-position: -595px -3323px}
.slv-002-003 {width:201px; height:61px; background-position: -812px -3306px}
.slv-002-003-copy {width:201px; height:61px; background-position: -392px -3235px}
.slv-003-001 {width:201px; height:168px; background-position: -406px -2562px}
.slv-003-001-copy {width:201px; height:168px; background-position: -0px -2424px}
.slv-003-003 {width:201px; height:168px; background-position: -406px -2392px}
.slv-003-003-copy {width:201px; height:168px; background-position: -203px -2396px}
.slv-004-001 {width:201px; height:185px; background-position: -203px -2209px}
.slv-004-001-copy {width:201px; height:185px; background-position: -0px -2237px}
.slv-004-003 {width:201px; height:185px; background-position: -609px -2026px}
.slv-004-003-copy {width:201px; height:185px; background-position: -406px -2205px}
.slv-005-001 {width:201px; height:204px; background-position: -406px -1999px}
.slv-005-001-copy {width:201px; height:204px; background-position: -203px -2003px}
.slv-005-003 {width:201px; height:203px; background-position: -812px -1990px}
.slv-005-004 {width:201px; height:203px; background-position: -0px -2032px}
.slv-006-001 {width:201px; height:145px; background-position: -203px -2713px}
.slv-006-001-copy {width:201px; height:145px; background-position: -0px -2741px}
.slv-006-003 {width:201px; height:145px; background-position: -203px -2566px}
.slv-006-003-copy {width:201px; height:145px; background-position: -0px -2594px}
.slv-007-001 {width:201px; height:174px; background-position: -812px -2371px}
.slv-007-001-copy {width:201px; height:174px; background-position: -609px -2389px}
.slv-007-003 {width:201px; height:174px; background-position: -812px -2195px}
.slv-007-003-copy {width:201px; height:174px; background-position: -609px -2213px}
.slv-008-001 {width:201px; height:208px; background-position: -812px -1780px}
.slv-008-001-copy {width:201px; height:208px; background-position: -609px -1816px}
.slv-008-003 {width:201px; height:208px; background-position: -406px -1789px}
.slv-008-003-copy {width:201px; height:208px; background-position: -812px -1570px}
