/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:0ad704fb81783be897f561e6295590d4:1/1$ 
 * 
 * .008 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('008.png?$TexturePacker:SmartUpdate:0ad704fb81783be897f561e6295590d4:1/1$');}
 */

.sprite-008 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/008.png');}
.skt-005-04-008 {width:200px;height:351px; background-position: -0px -0px}
.skt-002-02-008 {width:200px;height:351px; background-position: -0px -352px}
.nek-002-00-008 {width:200px;height:133px; background-position: -0px -704px}
.skt-002-01-008 {width:200px;height:351px; background-position: -201px -0px}
.skt-001-02-008 {width:200px;height:351px; background-position: -201px -352px}
.slv-002-00-008 {width:200px;height:89px; background-position: -201px -704px}
.slv-000-00-008 {width:200px;height:2px; background-position: -201px -794px}
.skt-001-01-008 {width:200px;height:351px; background-position: -402px -0px}
.skt-002-04-008 {width:200px;height:349px; background-position: -402px -352px}
.nek-004-00-008 {width:200px;height:135px; background-position: -402px -702px}
.skt-001-04-008 {width:200px;height:349px; background-position: -603px -0px}
.nek-010-04-008 {width:200px;height:349px; background-position: -603px -350px}
.nek-003-00-008 {width:200px;height:135px; background-position: -603px -700px}
.nek-009-04-008 {width:200px;height:349px; background-position: -804px -0px}
.skt-007-04-008 {width:200px;height:348px; background-position: -804px -350px}
.nek-007-00-008 {width:200px;height:138px; background-position: -804px -699px}
.nek-010-02-008 {width:200px;height:341px; background-position: -1005px -0px}
.nek-009-02-008 {width:200px;height:341px; background-position: -1005px -342px}
.nek-001-00-008 {width:200px;height:135px; background-position: -1005px -684px}
.skt-005-02-008 {width:200px;height:323px; background-position: -1206px -0px}
.skt-007-02-008 {width:200px;height:316px; background-position: -1206px -324px}
.ext-002-00-008 {width:200px;height:189px; background-position: -1206px -641px}
.skt-007-01-008 {width:200px;height:297px; background-position: -1407px -0px}
.skt-005-01-008 {width:200px;height:293px; background-position: -1608px -0px}
.nek-010-01-008 {width:200px;height:291px; background-position: -1809px -0px}
.nek-009-01-008 {width:200px;height:291px; background-position: -1809px -292px}
.slv-006-00-008 {width:200px;height:214px; background-position: -1608px -294px}
.slv-009-00-008 {width:200px;height:209px; background-position: -1407px -298px}
.nek-003-10-008 {width:200px;height:159px; background-position: -1407px -508px}
.nek-002-10-008 {width:200px;height:159px; background-position: -1608px -509px}
.nek-001-10-008 {width:200px;height:159px; background-position: -1407px -668px}
.nek-004-10-008 {width:200px;height:158px; background-position: -1809px -584px}
.nek-006-00-008 {width:200px;height:134px; background-position: -1608px -669px}
.ext-003-00-008 {width:200px;height:71px; background-position: -1809px -743px}

