/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:6e23a971ece6f3e2f0e25bb64b9b61dd:1/1$ 
 * 
 * .010 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('010.png?$TexturePacker:SmartUpdate:6e23a971ece6f3e2f0e25bb64b9b61dd:1/1$');}
 */

.sprite-010 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/010.png');}
.skt-007-04-010 {width:200px;height:352px; background-position: -0px -0px}
.skt-005-04-010 {width:200px;height:352px; background-position: -201px -0px}
.nek-010-04-010 {width:200px;height:350px; background-position: -402px -0px}
.nek-009-04-010 {width:200px;height:350px; background-position: -603px -0px}
.skt-002-04-010 {width:200px;height:349px; background-position: -804px -0px}
.skt-001-04-010 {width:200px;height:349px; background-position: -1005px -0px}
.skt-001-01-010 {width:200px;height:340px; background-position: -1206px -0px}
.skt-002-02-010 {width:200px;height:339px; background-position: -1407px -0px}
.skt-002-01-010 {width:200px;height:339px; background-position: -1407px -340px}
.skt-001-02-010 {width:200px;height:339px; background-position: -1206px -341px}
.nek-010-02-010 {width:200px;height:328px; background-position: -804px -350px}
.nek-009-02-010 {width:200px;height:328px; background-position: -1005px -350px}
.skt-005-02-010 {width:200px;height:324px; background-position: -402px -351px}
.skt-007-02-010 {width:200px;height:316px; background-position: -603px -351px}
.nek-001-00-010 {width:200px;height:136px; background-position: -603px -668px}
.nek-007-00-010 {width:200px;height:135px; background-position: -804px -679px}
.nek-003-00-010 {width:200px;height:135px; background-position: -1005px -679px}
.skt-007-01-010 {width:200px;height:299px; background-position: -0px -353px}
.skt-005-01-010 {width:200px;height:293px; background-position: -201px -353px}
.nek-002-10-010 {width:200px;height:162px; background-position: -201px -647px}
.nek-002-00-010 {width:200px;height:135px; background-position: -402px -676px}
.nek-001-10-010 {width:200px;height:157px; background-position: -0px -653px}
.slv-000-00-010 {width:200px;height:2px; background-position: -201px -810px}
.nek-006-00-010 {width:200px;height:134px; background-position: -1407px -680px}
.slv-006-00-010 {width:200px;height:124px; background-position: -1206px -681px}
.nek-010-01-010 {width:200px;height:291px; background-position: -1608px -0px}
.nek-009-01-010 {width:200px;height:291px; background-position: -1608px -292px}
.ext-002-00-010 {width:200px;height:188px; background-position: -1608px -584px}
.slv-009-00-010 {width:200px;height:180px; background-position: -1809px -0px}
.nek-004-10-010 {width:200px;height:156px; background-position: -1809px -181px}
.nek-003-10-010 {width:200px;height:156px; background-position: -1809px -338px}
.nek-004-00-010 {width:200px;height:134px; background-position: -1809px -495px}
.slv-002-00-010 {width:200px;height:89px; background-position: -1809px -630px}
.ext-003-00-010 {width:200px;height:71px; background-position: -1809px -720px}

