.about {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about .heading {
     background-color: #e93629;
     color:#ffffff;
     font-size: 20px;
     margin:0px;
     padding:20px 20px 20px 20px;
     height: 320px;
 }

/*.about .heading.igg-help{*/
    /*height: 180px;*/
/*}*/

.about .video {
    height: 320px;
}

.about .letter {
    margin-top:20px;
}

.about .team {
    margin-top: 10px;
}

.about .team .text{
    /*margin: 0px;*/
    /*padding: 0px;*/

}

.about .team .text h4{
    margin-top: 0px;
    padding: 0px;

}