<!doctype html>
<html  ng-app="panicApp" class="no-js" lang="en">
<head>
<!-- Meta data and css links-->
{{>static-head}}

 <!-- DB css links-->
{{>design-builder-head}}

<!-- Links to shims -->
{{>shims}}

</head>
<body>
<!-- Header Navigation -->
{{>header}}

<!-- The body of the page -->
{{>body}}

<!-- Footer Navigation -->
{{>footer}}

<!-- Include JS scripts -->
{{>static-scripts}}
{{>design-builder-scripts}}
</body>
</html>