<!doctype html>
<html  ng-app="panicApp" class="no-js" lang="en">
<head>
<!-- Meta data and css links-->
{{>static-head}}
{{>design-builder-head}}
{{>shims}}

<!-- Include GA script (just before </head> as rec by Google -->
{{>foxy-track}}
{{>google-analytics}}
</head>
<body>
<!-- Header Navigation -->
{{>header}}

<!-- The body of the page -->
{{>body}}

<!-- Footer Navigation -->
{{>footer}}

<!-- Include JS scripts -->
{{>static-scripts}}
{{>design-builder-scripts}}
</body>
</html>