<!doctype html>
<html  ng-app="panicApp" class="no-js" lang="en" itemscope itemtype="http://schema.org/Product">
<head>
<!-- Meta data and css links-->
{{>static-head}}
{{>product-meta}}
{{>mobile-builder-head}}

{{>shims}}

<!-- Include GA script (just before </head> as rec by Google -->
{{>foxy-track}}
{{>google-analytics}}
</head>
<body>
<!-- Header Navigation -->

<!-- The body of the page -->
{{>body}}

<!-- Footer Navigation -->

<!-- Include JS scripts -->
{{>static-scripts}}
{{>design-builder-scripts}}
</body>
</html>