<!doctype html>
<html lang="en">
<head>
<!-- Meta data and css links-->
{{>static-head}}
{{>shims}}
<!-- Include GA script (just before </head> as rec by Google -->
{{>static-google-analytics}}
{{>foxy-track}}
</head>
<body>
<!-- Header Navigation -->
{{>header}}

<!-- The body of the page -->
{{>body}}

<!-- Footer Navigation -->
{{>footer}}


<!-- Include JS scripts -->
{{>static-scripts}}
</body>
</html>