/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:83f1820f8af251ac535bdb1cb5a30806:1/1$ 
 * 
 * .008-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('008-mob.png?$TexturePacker:SmartUpdate:83f1820f8af251ac535bdb1cb5a30806:1/1$');}
 */

.sprite-008-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/008-mob.png');}
.skt-005-04-008 {width:112px;height:207px; background-position: -0px -0px}
.skt-002-02-008 {width:112px;height:197px; background-position: -0px -208px}
.nek-010-01-008 {width:112px;height:163px; background-position: -0px -406px}
.skt-002-01-008 {width:112px;height:197px; background-position: -113px -0px}
.skt-001-02-008 {width:112px;height:197px; background-position: -113px -198px}
.skt-005-01-008 {width:112px;height:167px; background-position: -113px -396px}
.slv-000-00-008 {width:112px;height:1px; background-position: -113px -564px}
.skt-001-01-008 {width:112px;height:197px; background-position: -226px -0px}
.skt-007-04-008 {width:112px;height:195px; background-position: -226px -198px}
.skt-007-01-008 {width:112px;height:166px; background-position: -226px -394px}
.skt-002-04-008 {width:112px;height:195px; background-position: -339px -0px}
.skt-001-04-008 {width:112px;height:195px; background-position: -339px -196px}
.skt-007-02-008 {width:112px;height:177px; background-position: -339px -392px}
.nek-010-04-008 {width:112px;height:195px; background-position: -452px -0px}
.nek-009-04-008 {width:112px;height:195px; background-position: -452px -196px}
.nek-009-01-008 {width:112px;height:163px; background-position: -452px -392px}
.nek-010-02-008 {width:112px;height:191px; background-position: -565px -0px}
.nek-009-02-008 {width:112px;height:191px; background-position: -565px -192px}
.skt-005-02-008 {width:112px;height:182px; background-position: -565px -384px}
.slv-006-00-008 {width:112px;height:120px; background-position: -678px -0px}
.slv-009-00-008 {width:112px;height:117px; background-position: -791px -0px}
.ext-002-00-008 {width:112px;height:106px; background-position: -904px -0px}
.nek-005-10-008 {width:112px;height:89px; background-position: -904px -107px}
.nek-003-10-008 {width:112px;height:89px; background-position: -791px -118px}
.nek-002-10-008 {width:112px;height:89px; background-position: -904px -197px}
.nek-001-10-008 {width:112px;height:89px; background-position: -678px -121px}
.nek-004-10-008 {width:112px;height:88px; background-position: -791px -208px}
.nek-008-10-008 {width:112px;height:80px; background-position: -904px -287px}
.nek-006-00-008 {width:112px;height:79px; background-position: -678px -211px}
.blt-002-00-008 {width:112px;height:78px; background-position: -678px -291px}
.nek-008-00-008 {width:112px;height:77px; background-position: -791px -297px}
.nek-004-00-008 {width:112px;height:77px; background-position: -678px -370px}
.nek-007-00-008 {width:112px;height:76px; background-position: -904px -368px}
.nek-003-00-008 {width:112px;height:76px; background-position: -791px -375px}
.nek-001-00-008 {width:112px;height:76px; background-position: -678px -448px}
.nek-005-00-008 {width:112px;height:74px; background-position: -904px -445px}
.nek-002-00-008 {width:112px;height:74px; background-position: -791px -452px}
.ext-003-00-008 {width:112px;height:45px; background-position: -678px -525px}
.slv-002-00-008 {width:112px;height:50px; background-position: -904px -520px}

