/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:113696a572f6bf8f55ea3c62cd9ebc3c:1/1$ 
 * 
 * .083 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('083.png?$TexturePacker:SmartUpdate:113696a572f6bf8f55ea3c62cd9ebc3c:1/1$');}
 */

.sprite-083 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/083.png');}
.nek-018-05-083 {width:200px;height:449px; background-position: -0px -0px}
.nek-017-05-083 {width:200px;height:449px; background-position: -0px -450px}
.trm-nek-018-05-083 {width:200px;height:448px; background-position: -201px -0px}
.trm-nek-018-00-083 {width:200px;height:448px; background-position: -201px -449px}
.trm-nek-017-05-083 {width:200px;height:448px; background-position: -402px -0px}
.trm-nek-017-00-083 {width:200px;height:448px; background-position: -402px -449px}
.nek-005-04-083 {width:200px;height:370px; background-position: -603px -0px}
.nek-001-04-083 {width:200px;height:370px; background-position: -603px -371px}
.slv-006-00-083 {width:200px;height:191px; background-position: -603px -742px}
.nek-015-02-083 {width:200px;height:328px; background-position: -804px -0px}
.nek-014-03-083 {width:200px;height:328px; background-position: -804px -329px}
.slv-008-00-083 {width:200px;height:236px; background-position: -804px -658px}
.nek-014-02-083 {width:200px;height:328px; background-position: -1005px -0px}
.nek-005-02-083 {width:200px;height:325px; background-position: -1005px -329px}
.slv-011-00-083 {width:200px;height:230px; background-position: -1005px -655px}
.nek-001-02-083 {width:200px;height:325px; background-position: -1206px -0px}
.blt-005-00-083 {width:200px;height:316px; background-position: -1206px -326px}
.nek-015-03-083 {width:200px;height:287px; background-position: -1206px -643px}
.nek-018-02-083 {width:200px;height:305px; background-position: -1407px -0px}
.nek-017-02-083 {width:200px;height:302px; background-position: -1608px -0px}
.blt-003-00-083 {width:200px;height:298px; background-position: -1809px -0px}
.nek-005-01-083 {width:200px;height:297px; background-position: -1809px -299px}
.nek-001-01-083 {width:200px;height:297px; background-position: -1608px -303px}
.trm-nek-018-02-083 {width:200px;height:296px; background-position: -1809px -597px}
.trm-nek-017-02-083 {width:200px;height:296px; background-position: -1407px -306px}
.slv-016-00-083 {width:200px;height:110px; background-position: -1608px -601px}
.trm-nek-015-03-083 {width:200px;height:94px; background-position: -1407px -603px}
.trm-nek-015-02-083 {width:200px;height:94px; background-position: -1407px -698px}
.trm-nek-015-00-083 {width:200px;height:94px; background-position: -1608px -712px}
.slv-001-00-083 {width:200px;height:75px; background-position: -1407px -793px}
.trm-nek-014-03-083 {width:200px;height:53px; background-position: -1608px -807px}
.trm-nek-014-02-083 {width:200px;height:53px; background-position: -1608px -861px}
.trm-nek-014-00-083 {width:200px;height:53px; background-position: -1407px -869px}

