/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:fd1ebee5b85eb037aaab8c38abfe884f:1/1$ 
 * 
 * .085 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('085.png?$TexturePacker:SmartUpdate:fd1ebee5b85eb037aaab8c38abfe884f:1/1$');}
 */

.sprite-085 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/085.png');}
.slv-016-00-085 {width:200px;height:456px; background-position: -0px -0px}
.nek-018-05-085 {width:200px;height:455px; background-position: -201px -0px}
.nek-017-05-085 {width:200px;height:455px; background-position: -402px -0px}
.nek-015-02-085 {width:200px;height:335px; background-position: -603px -0px}
.nek-014-02-085 {width:200px;height:335px; background-position: -603px -336px}
.nek-017-02-085 {width:200px;height:313px; background-position: -201px -456px}
.nek-018-02-085 {width:200px;height:312px; background-position: -0px -457px}
.nek-015-03-085 {width:200px;height:296px; background-position: -402px -456px}
.slv-008-00-085 {width:200px;height:194px; background-position: -603px -672px}
.slv-006-00-085 {width:200px;height:124px; background-position: -402px -753px}
.slv-000-00-085 {width:200px;height:2px; background-position: -603px -867px}
.slv-001-00-085 {width:200px;height:90px; background-position: -0px -770px}
.trm-nek-017-00-085 {width:200px;height:47px; background-position: -201px -770px}
.nek-014-03-085 {width:200px;height:296px; background-position: -804px -0px}
.blt-003-00-085 {width:200px;height:258px; background-position: -804px -297px}
.slv-011-00-085 {width:200px;height:223px; background-position: -804px -556px}

