/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:f8825ce9d8fa811cb952734c3c44753b:1/1$ 
 * 
 * .085 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('085.png?$TexturePacker:SmartUpdate:f8825ce9d8fa811cb952734c3c44753b:1/1$');}
 */

.sprite-085 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/085.png');}
.nek-018-05-085 {width:200px;height:449px; background-position: -0px -0px}
.nek-017-05-085 {width:200px;height:449px; background-position: -0px -450px}
.trm-nek-018-05-085 {width:200px;height:448px; background-position: -201px -0px}
.trm-nek-018-00-085 {width:200px;height:448px; background-position: -201px -449px}
.trm-nek-017-05-085 {width:200px;height:448px; background-position: -402px -0px}
.trm-nek-017-00-085 {width:200px;height:448px; background-position: -402px -449px}
.skt-005-04-085 {width:200px;height:371px; background-position: -603px -0px}
.nek-005-04-085 {width:200px;height:371px; background-position: -603px -372px}
.nek-001-04-085 {width:200px;height:371px; background-position: -804px -0px}
.nek-015-02-085 {width:200px;height:328px; background-position: -804px -372px}
.nek-014-03-085 {width:200px;height:328px; background-position: -1005px -0px}
.nek-014-02-085 {width:200px;height:328px; background-position: -1005px -329px}
.skt-005-02-085 {width:200px;height:325px; background-position: -1206px -0px}
.nek-005-02-085 {width:200px;height:325px; background-position: -1206px -326px}
.nek-001-02-085 {width:200px;height:325px; background-position: -1407px -0px}
.blt-005-00-085 {width:200px;height:316px; background-position: -1407px -326px}
.nek-018-02-085 {width:200px;height:305px; background-position: -1608px -0px}
.nek-017-02-085 {width:200px;height:302px; background-position: -1608px -306px}
.blt-003-00-085 {width:200px;height:298px; background-position: -1809px -0px}
.skt-005-01-085 {width:200px;height:297px; background-position: -1809px -299px}
.trm-nek-014-03-085 {width:200px;height:53px; background-position: -201px -898px}
.trm-nek-014-02-085 {width:200px;height:53px; background-position: -402px -898px}
.slv-006-00-085 {width:200px;height:124px; background-position: -603px -744px}
.slv-008-00-085 {width:200px;height:234px; background-position: -804px -701px}
.nek-015-03-085 {width:200px;height:287px; background-position: -1005px -658px}
.nek-005-01-085 {width:200px;height:297px; background-position: -1206px -652px}
.nek-001-01-085 {width:200px;height:297px; background-position: -1407px -643px}
.slv-011-00-085 {width:200px;height:230px; background-position: -1608px -609px}
.slv-001-00-085 {width:200px;height:75px; background-position: -603px -869px}
.slv-016-00-085 {width:200px;height:110px; background-position: -1809px -597px}
.trm-nek-015-03-085 {width:200px;height:94px; background-position: -1608px -840px}
.trm-nek-015-02-085 {width:200px;height:94px; background-position: -1809px -708px}
.trm-nek-015-00-085 {width:200px;height:94px; background-position: -1809px -803px}
.trm-nek-014-00-085 {width:200px;height:53px; background-position: -1809px -898px}
.slv-000-00-085 {width:200px;height:2px; background-position: -0px -900px}

