/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:80987c42315a78f0f34bab8618e35a68:1/1$ 
 * 
 * .087 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('087.png?$TexturePacker:SmartUpdate:80987c42315a78f0f34bab8618e35a68:1/1$');}
 */

.sprite-087 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/087.png');}
.nek-018-05-087 {width:200px;height:449px; background-position: -0px -0px}
.nek-017-05-087 {width:200px;height:449px; background-position: -0px -450px}
.trm-nek-014-03-087 {width:200px;height:53px; background-position: -0px -900px}
.slv-000-00-087 {width:200px;height:2px; background-position: -0px -954px}
.trm-nek-018-05-087 {width:200px;height:448px; background-position: -201px -0px}
.trm-nek-018-00-087 {width:200px;height:448px; background-position: -201px -449px}
.trm-nek-014-02-087 {width:200px;height:53px; background-position: -201px -898px}
.trm-nek-017-05-087 {width:200px;height:448px; background-position: -402px -0px}
.trm-nek-017-00-087 {width:200px;height:448px; background-position: -402px -449px}
.trm-nek-014-00-087 {width:200px;height:53px; background-position: -402px -898px}
.skt-005-04-087 {width:200px;height:371px; background-position: -603px -0px}
.nek-005-04-087 {width:200px;height:371px; background-position: -603px -372px}
.slv-006-00-087 {width:200px;height:204px; background-position: -603px -744px}
.nek-001-04-087 {width:200px;height:371px; background-position: -804px -0px}
.nek-015-02-087 {width:200px;height:328px; background-position: -804px -372px}
.slv-008-00-087 {width:200px;height:235px; background-position: -804px -701px}
.nek-014-03-087 {width:200px;height:328px; background-position: -1005px -0px}
.nek-014-02-087 {width:200px;height:328px; background-position: -1005px -329px}
.nek-018-02-087 {width:200px;height:302px; background-position: -1005px -658px}
.skt-005-02-087 {width:200px;height:325px; background-position: -1206px -0px}
.nek-005-02-087 {width:200px;height:325px; background-position: -1206px -326px}
.nek-017-02-087 {width:200px;height:302px; background-position: -1206px -652px}
.nek-001-02-087 {width:200px;height:325px; background-position: -1407px -0px}
.blt-005-00-087 {width:200px;height:316px; background-position: -1608px -0px}
.blt-003-00-087 {width:200px;height:298px; background-position: -1809px -0px}
.skt-005-01-087 {width:200px;height:297px; background-position: -1809px -299px}
.nek-005-01-087 {width:200px;height:297px; background-position: -1608px -317px}
.nek-001-01-087 {width:200px;height:297px; background-position: -1407px -326px}
.nek-015-03-087 {width:200px;height:287px; background-position: -1809px -597px}
.slv-011-00-087 {width:200px;height:230px; background-position: -1608px -615px}
.slv-016-00-087 {width:200px;height:110px; background-position: -1407px -624px}
.trm-nek-015-03-087 {width:200px;height:94px; background-position: -1407px -735px}
.trm-nek-015-02-087 {width:200px;height:94px; background-position: -1407px -830px}
.trm-nek-015-00-087 {width:200px;height:94px; background-position: -1608px -846px}
.slv-001-00-087 {width:200px;height:75px; background-position: -1809px -885px}

