/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:eab65f7886ca4c0f906adb1d7aa67653:1/1$ 
 * 
 * .088 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('088.png?$TexturePacker:SmartUpdate:eab65f7886ca4c0f906adb1d7aa67653:1/1$');}
 */

.sprite-088 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/088.png');}
.nek-018-05-088 {width:200px;height:449px; background-position: -0px -0px}
.trm-nek-018-05-088 {width:200px;height:448px; background-position: -0px -450px}
.trm-nek-014-03-088 {width:200px;height:53px; background-position: -0px -899px}
.slv-000-00-088 {width:200px;height:2px; background-position: -0px -953px}
.trm-nek-018-00-088 {width:200px;height:448px; background-position: -201px -0px}
.trm-nek-017-05-088 {width:200px;height:448px; background-position: -201px -449px}
.trm-nek-014-02-088 {width:200px;height:53px; background-position: -201px -898px}
.trm-nek-017-00-088 {width:200px;height:448px; background-position: -402px -0px}
.nek-017-05-088 {width:200px;height:446px; background-position: -402px -449px}
.trm-nek-014-00-088 {width:200px;height:53px; background-position: -402px -896px}
.skt-005-04-088 {width:200px;height:370px; background-position: -603px -0px}
.nek-005-04-088 {width:200px;height:370px; background-position: -603px -371px}
.slv-006-00-088 {width:200px;height:213px; background-position: -603px -742px}
.nek-001-04-088 {width:200px;height:370px; background-position: -804px -0px}
.nek-015-02-088 {width:200px;height:328px; background-position: -804px -371px}
.slv-008-00-088 {width:200px;height:231px; background-position: -804px -700px}
.nek-014-02-088 {width:200px;height:328px; background-position: -1005px -0px}
.skt-005-02-088 {width:200px;height:325px; background-position: -1005px -329px}
.blt-003-00-088 {width:200px;height:298px; background-position: -1005px -655px}
.nek-005-02-088 {width:200px;height:325px; background-position: -1206px -0px}
.nek-001-02-088 {width:200px;height:325px; background-position: -1206px -326px}
.skt-005-01-088 {width:200px;height:297px; background-position: -1206px -652px}
.blt-005-00-088 {width:200px;height:316px; background-position: -1407px -0px}
.nek-018-02-088 {width:200px;height:315px; background-position: -1407px -317px}
.nek-017-02-088 {width:200px;height:315px; background-position: -1407px -633px}
.nek-005-01-088 {width:200px;height:297px; background-position: -1608px -0px}
.nek-001-01-088 {width:200px;height:297px; background-position: -1809px -0px}
.nek-015-03-088 {width:200px;height:287px; background-position: -1608px -298px}
.nek-014-03-088 {width:200px;height:287px; background-position: -1809px -298px}
.slv-011-00-088 {width:200px;height:230px; background-position: -1608px -586px}
.slv-016-00-088 {width:200px;height:110px; background-position: -1608px -817px}
.trm-nek-015-03-088 {width:200px;height:94px; background-position: -1809px -586px}
.trm-nek-015-02-088 {width:200px;height:94px; background-position: -1809px -681px}
.trm-nek-015-00-088 {width:200px;height:94px; background-position: -1809px -776px}
.slv-001-00-088 {width:200px;height:75px; background-position: -1809px -871px}

