/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:e071f0d8a94bc92e3cff81f4d27509a8:1/1$ 
 * 
 * .088 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('088.png?$TexturePacker:SmartUpdate:e071f0d8a94bc92e3cff81f4d27509a8:1/1$');}
 */

.sprite-088 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/088.png');}
.nek-018-05-088 {width:200px;height:457px; background-position: -0px -0px}
.nek-017-05-088 {width:200px;height:457px; background-position: -201px -0px}
.slv-016-00-088 {width:200px;height:456px; background-position: -402px -0px}
.nek-015-02-088 {width:200px;height:329px; background-position: -402px -457px}
.nek-014-02-088 {width:200px;height:329px; background-position: -0px -458px}
.nek-018-02-088 {width:200px;height:313px; background-position: -201px -458px}
.slv-001-00-088 {width:200px;height:90px; background-position: -201px -772px}
.trm-nek-017-00-088 {width:200px;height:47px; background-position: -0px -788px}
.slv-000-00-088 {width:200px;height:2px; background-position: -0px -836px}
.nek-017-02-088 {width:200px;height:312px; background-position: -603px -0px}
.nek-015-03-088 {width:200px;height:298px; background-position: -603px -313px}
.nek-014-03-088 {width:200px;height:296px; background-position: -603px -612px}
.blt-003-00-088 {width:200px;height:258px; background-position: -804px -0px}
.slv-011-00-088 {width:200px;height:223px; background-position: -804px -259px}
.slv-006-00-088 {width:200px;height:213px; background-position: -804px -483px}
.slv-008-00-088 {width:200px;height:194px; background-position: -804px -697px}

