/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:cb155e68aaa63691fe8f4d36903af3a5:1/1$ 
 * 
 * .088 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('088.png?$TexturePacker:SmartUpdate:cb155e68aaa63691fe8f4d36903af3a5:1/1$');}
 */

.sprite-088 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/088.png');}
.nek-018-05-088 {width:200px;height:450px; background-position: -0px -0px}
.nek-017-05-088 {width:200px;height:450px; background-position: -201px -0px}
.skt-005-04-088 {width:200px;height:370px; background-position: -402px -0px}
.nek-005-04-088 {width:200px;height:370px; background-position: -603px -0px}
.nek-001-04-088 {width:200px;height:370px; background-position: -804px -0px}
.skt-005-02-088 {width:200px;height:325px; background-position: -1005px -0px}
.nek-015-02-088 {width:200px;height:325px; background-position: -1005px -326px}
.nek-014-02-088 {width:200px;height:325px; background-position: -402px -371px}
.nek-005-02-088 {width:200px;height:325px; background-position: -0px -451px}
.nek-001-02-088 {width:200px;height:325px; background-position: -201px -451px}
.nek-018-02-088 {width:200px;height:307px; background-position: -603px -371px}
.nek-017-02-088 {width:200px;height:306px; background-position: -804px -371px}
.skt-005-01-088 {width:200px;height:297px; background-position: -1005px -652px}
.nek-005-01-088 {width:200px;height:297px; background-position: -804px -678px}
.nek-001-01-088 {width:200px;height:297px; background-position: -603px -679px}
.nek-014-03-088 {width:200px;height:294px; background-position: -402px -697px}
.slv-006-00-088 {width:200px;height:213px; background-position: -0px -777px}
.slv-008-00-088 {width:200px;height:194px; background-position: -201px -777px}
.slv-000-00-088 {width:200px;height:2px; background-position: -201px -972px}
.nek-015-03-088 {width:200px;height:295px; background-position: -1206px -0px}
.blt-003-00-088 {width:200px;height:258px; background-position: -1206px -296px}
.slv-011-00-088 {width:200px;height:223px; background-position: -1206px -555px}
.slv-016-00-088 {width:200px;height:104px; background-position: -1206px -779px}
.slv-001-00-088 {width:200px;height:90px; background-position: -1206px -884px}

