/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:7130e00ed3b39f4985abf1ffe132e23e:1/1$ 
 * 
 * .103-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('103-mob.png?$TexturePacker:SmartUpdate:7130e00ed3b39f4985abf1ffe132e23e:1/1$');}
 */

.sprite-103-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/103-mob.png');}
.blt-004-00-103 {width:112px;height:114px; background-position: -0px -0px}

