/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:3cb056168fd3da15de464d0231d5f92a:1/1$ 
 * 
 * .103 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('103.png?$TexturePacker:SmartUpdate:3cb056168fd3da15de464d0231d5f92a:1/1$');}
 */

.sprite-103 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/103.png');}
.blt-004-00-103 {width:200px;height:232px; background-position: -0px -0px}

