/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:eed3ea1209345d31537c48c50fe82090:1/1$ 
 * 
 * .103 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('103.png?$TexturePacker:SmartUpdate:eed3ea1209345d31537c48c50fe82090:1/1$');}
 */

.sprite-103 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/103.png');}
.blt-004-00-103 {width:200px;height:204px; background-position: -0px -0px}

