/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:fdcc3502b042b4bb2d1682b9c0e07cfd:1/1$ 
 * 
 * .108 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('108.png?$TexturePacker:SmartUpdate:fdcc3502b042b4bb2d1682b9c0e07cfd:1/1$');}
 */

.sprite-108 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/108.png');}
.blt-004-00-108 {width:200px;height:232px; background-position: -0px -0px}

