/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:b74d03287e7dcdb944a5de0e40c6d905:1/1$ 
 * 
 * .112 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('112.png?$TexturePacker:SmartUpdate:b74d03287e7dcdb944a5de0e40c6d905:1/1$');}
 */

.sprite-112 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/112.png');}
.blt-004-00-112 {width:200px;height:204px; background-position: -0px -0px}

