/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:0c949518c5236fbb35c8f9aa590b21ef:1/1$ 
 * 
 * .112 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('112.png?$TexturePacker:SmartUpdate:0c949518c5236fbb35c8f9aa590b21ef:1/1$');}
 */

.sprite-112 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/112.png');}
.blt-004-00-112 {width:200px;height:232px; background-position: -0px -0px}

