/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:840cb5ea745973a4b2a194ed8e9f26a9:1/1$ 
 * 
 * .112 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('112.png?$TexturePacker:SmartUpdate:840cb5ea745973a4b2a194ed8e9f26a9:1/1$');}
 */

.sprite-112 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/112.png');}
.blt-004-00-112 {width:200px;height:204px; background-position: -0px -0px}

