/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:39f2ac52a990cda64e83a652cd8479a9:1/1$ 
 * 
 * .113 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('113.png?$TexturePacker:SmartUpdate:39f2ac52a990cda64e83a652cd8479a9:1/1$');}
 */

.sprite-113 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/113.png');}
.blt-004-00-113 {width:200px;height:232px; background-position: -0px -0px}

