/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:f80fa98533be452b5e7519463e38e7de:1/1$ 
 * 
 * .114-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('114-mob.png?$TexturePacker:SmartUpdate:f80fa98533be452b5e7519463e38e7de:1/1$');}
 */

.sprite-114-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/114-mob.png');}
.blt-004-00-114 {width:112px;height:113px; background-position: -0px -0px}

