/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:ce81cddccbc81211b4ce5c7ad55ab227:1/1$ 
 * 
 * .116-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('116-mob.png?$TexturePacker:SmartUpdate:ce81cddccbc81211b4ce5c7ad55ab227:1/1$');}
 */

.sprite-116-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/116-mob.png');}
.blt-004-00-116 {width:112px;height:115px; background-position: -0px -0px}

