/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:894c13aff2a0f1e2a183aea3e5d5a9cb:1/1$ 
 * 
 * .116 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('116.png?$TexturePacker:SmartUpdate:894c13aff2a0f1e2a183aea3e5d5a9cb:1/1$');}
 */

.sprite-116 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/116.png');}
.blt-004-00-116 {width:200px;height:205px; background-position: -0px -0px}

