/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:17921edc99c2bdcb06a54611f0975b2c:1/1$ 
 * 
 * .116 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('116.png?$TexturePacker:SmartUpdate:17921edc99c2bdcb06a54611f0975b2c:1/1$');}
 */

.sprite-116 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/116.png');}
.blt-004-00-116 {width:200px;height:205px; background-position: -0px -0px}

