/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:2468bbd4a8500e6cb658497c9e934aa5:1/1$ 
 * 
 * .118-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('118-mob.png?$TexturePacker:SmartUpdate:2468bbd4a8500e6cb658497c9e934aa5:1/1$');}
 */

.sprite-118-mob {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/118-mob.png');}
.blt-004-00-118 {width:112px;height:114px; background-position: -0px -0px}

