/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:fc71142a556817c027f9c8659e16618c:1/1$ 
 * 
 * .118 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('118.png?$TexturePacker:SmartUpdate:fc71142a556817c027f9c8659e16618c:1/1$');}
 */

.sprite-118 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/118.png');}
.blt-004-00-118 {width:200px;height:204px; background-position: -0px -0px}

