/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:4349d16e432e0193b8f1bbb0cb4bf416:1/1$ 
 * 
 * .161 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('161.png?$TexturePacker:SmartUpdate:4349d16e432e0193b8f1bbb0cb4bf416:1/1$');}
 */

.sprite-161 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/161.png');}
.blt-002-00-161 {width:200px;height:137px; background-position: -0px -0px}

