/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:7406c5f3b39c1d8d6ee79c02d14a613e:1/1$ 
 * 
 * .161 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('161.png?$TexturePacker:SmartUpdate:7406c5f3b39c1d8d6ee79c02d14a613e:1/1$');}
 */

.sprite-161 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/161.png');}
.blt-002-00-161 {width:200px;height:137px; background-position: -0px -0px}

