/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:4ec8c6417577674aea20b5b55a43c1f1:1/1$ 
 * 
 * .165 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('165.png?$TexturePacker:SmartUpdate:4ec8c6417577674aea20b5b55a43c1f1:1/1$');}
 */

.sprite-165 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/165.png');}
.blt-002-00-165 {width:200px;height:137px; background-position: -0px -0px}

