/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:120fa47c57c5deb37f6a5401a8264299:1/1$ 
 * 
 * .165 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('165.png?$TexturePacker:SmartUpdate:120fa47c57c5deb37f6a5401a8264299:1/1$');}
 */

.sprite-165 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/165.png');}
.blt-002-00-165 {width:200px;height:137px; background-position: -0px -0px}

