/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:ae272a8586220cf0bbe79b9b07a9ac30:1/1$ 
 * 
 * .166 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('166.png?$TexturePacker:SmartUpdate:ae272a8586220cf0bbe79b9b07a9ac30:1/1$');}
 */

.sprite-166 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/166.png');}
.blt-002-00-166 {width:200px;height:137px; background-position: -0px -0px}

