/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:54f498cd97d9c19d611ab610cade1afd:1/1$ 
 * 
 * .168 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('168.png?$TexturePacker:SmartUpdate:54f498cd97d9c19d611ab610cade1afd:1/1$');}
 */

.sprite-168 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/168.png');}
.blt-002-00-168 {width:200px;height:140px; background-position: -0px -0px}

