/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:0262aee8f310841d9a3032a41c7d4188:1/1$ 
 * 
 * .170 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('170.png?$TexturePacker:SmartUpdate:0262aee8f310841d9a3032a41c7d4188:1/1$');}
 */

.sprite-170 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/170.png');}
.blt-002-00-170 {width:200px;height:137px; background-position: -0px -0px}

