/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:1334b922bf521c76b03b224432146cb0:1/1$ 
 * 
 * .body {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('body.png?$TexturePacker:SmartUpdate:1334b922bf521c76b03b224432146cb0:1/1$');}
 */

.sprite-body {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/body.png');}
.tshirt-whole-body {width:200px;height:502px; background-position: -0px -0px}
.strap-whole-body {width:200px;height:502px; background-position: -0px -503px}
.whole-body {width:200px;height:501px; background-position: -201px -0px}
.skirt-whole-body {width:200px;height:501px; background-position: -201px -502px}
.dressed-whole-body {width:200px;height:501px; background-position: -402px -0px}
.pat-301 {width:165px;height:269px; background-position: -402px -502px}
.pat-302 {width:165px;height:248px; background-position: -402px -772px}
.pat-203 {width:165px;height:268px; background-position: -568px -502px}
.pat-314 {width:165px;height:246px; background-position: -568px -771px}
.pat-401 {width:165px;height:264px; background-position: -603px -0px}
.pat-202 {width:165px;height:236px; background-position: -603px -265px}
.pat-316 {width:165px;height:256px; background-position: -734px -502px}
.pat-303 {width:165px;height:241px; background-position: -734px -759px}
.pat-315 {width:165px;height:240px; background-position: -769px -0px}
.pat-304 {width:165px;height:239px; background-position: -769px -241px}
.pat-203b {width:133px;height:285px; background-position: -900px -481px}
.pat-306 {width:165px;height:221px; background-position: -900px -767px}
.pat-305 {width:165px;height:208px; background-position: -935px -0px}
.pat-111 {width:165px;height:180px; background-position: -935px -209px}
.pat-101 {width:165px;height:174px; background-position: -1034px -390px}
.pat-112 {width:165px;height:172px; background-position: -1034px -565px}
.pat-103 {width:165px;height:168px; background-position: -1066px -738px}
.pat-104 {width:165px;height:117px; background-position: -1066px -907px}
.pat-122 {width:165px;height:166px; background-position: -1101px -0px}
.pat-102 {width:165px;height:159px; background-position: -1101px -167px}

