/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:1df4789a2ba36d7ba456a6620ece8143:1/1$ 
 * 
 * .body {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('body.png?$TexturePacker:SmartUpdate:1df4789a2ba36d7ba456a6620ece8143:1/1$');}
 */

.sprite-body {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/body.png');}
.whole body {width:200px;height:501px; background-position: -0px -0px}

