/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d64f7f6dbab4ac2fafea2fb21f07030b:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.db-icons-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/db-icons-sprite.png);}

.blt-002 {width:58px; height:7px; background-position: -0px -498px}
.blt-003 {width:42px; height:55px; background-position: -493px -84px}
.blt-004 {width:39px; height:37px; background-position: -312px -473px}
.ext-001 {width:75px; height:75px; background-position: -314px -396px}
.ext-002 {width:75px; height:75px; background-position: -391px -319px}
.ext-003 {width:37px; height:40px; background-position: -498px -42px}
.nek-001 {width:40px; height:40px; background-position: -498px -0px}
.nek-002 {width:42px; height:41px; background-position: -478px -397px}
.nek-003 {width:41px; height:42px; background-position: -435px -438px}
.nek-004 {width:42px; height:42px; background-position: -493px -141px}
.nek-006 {width:59px; height:39px; background-position: -474px -185px}
.nek-007 {width:55px; height:39px; background-position: -468px -356px}
.nek-009 {width:81px; height:81px; background-position: -415px -0px}
.nek-010 {width:81px; height:81px; background-position: -332px -0px}
.nek-013 {width:81px; height:81px; background-position: -249px -0px}
.nek-014 {width:81px; height:81px; background-position: -166px -0px}
.nek-015 {width:81px; height:81px; background-position: -83px -0px}
.nek-016 {width:81px; height:81px; background-position: -0px -415px}
.nek-017 {width:81px; height:81px; background-position: -0px -332px}
.nek-018 {width:81px; height:81px; background-position: -0px -249px}
.skt-011 {width:22px; height:28px; background-position: -160px -475px}
.skt-012 {width:21px; height:36px; background-position: -353px -473px}
.skt-014 {width:19px; height:40px; background-position: -501px -440px}
.skt-021 {width:75px; height:75px; background-position: -83px -400px}
.skt-022 {width:75px; height:75px; background-position: -160px -398px}
.skt-023 {width:25px; height:40px; background-position: -435px -396px}
.skt-024 {width:21px; height:40px; background-position: -478px -440px}
.skt-031 {width:75px; height:75px; background-position: -237px -322px}
.skt-032 {width:75px; height:75px; background-position: -314px -319px}
.skt-034 {width:75px; height:75px; background-position: -83px -323px}
.skt-051 {width:75px; height:75px; background-position: -160px -321px}
.skt-052 {width:75px; height:75px; background-position: -237px -245px}
.skt-071 {width:75px; height:75px; background-position: -397px -242px}
.skt-072 {width:75px; height:75px; background-position: -320px -242px}
.skt-091 {width:75px; height:78px; background-position: -243px -165px}
.skt-092 {width:75px; height:78px; background-position: -83px -166px}
.skt-095 {width:75px; height:75px; background-position: -397px -165px}
.skt-101 {width:73px; height:77px; background-position: -237px -399px}
.skt-103 {width:76px; height:77px; background-position: -165px -165px}
.slv-000 {width:42px; height:41px; background-position: -391px -439px}
.slv-001 {width:42px; height:41px; background-position: -391px -396px}
.slv-002 {width:60px; height:38px; background-position: -474px -226px}
.slv-006 {width:54px; height:41px; background-position: -474px -266px}
.slv-007 {width:80px; height:80px; background-position: -411px -83px}
.slv-008 {width:80px; height:80px; background-position: -329px -83px}
.slv-009 {width:49px; height:45px; background-position: -474px -309px}
.slv-011 {width:81px; height:81px; background-position: -0px -166px}
.slv-012 {width:81px; height:81px; background-position: -0px -83px}
.slv-013 {width:80px; height:80px; background-position: -247px -83px}
.slv-014 {width:80px; height:80px; background-position: -165px -83px}
.slv-015 {width:80px; height:81px; background-position: -83px -83px}
.slv-016 {width:81px; height:81px; background-position: -0px -0px}
.trm-nek {width:75px; height:75px; background-position: -320px -165px}
.trm-skt {width:75px; height:75px; background-position: -83px -246px}
.trm-slv {width:75px; height:75px; background-position: -160px -244px}
