/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8046492ecdf7c374cd3be1729a8a8086$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.db-icons-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/db-icons-sprite.png);}

.ext-001 {width:75px; height:75px; background-position: -1463px -77px}
.ext-002 {width:75px; height:75px; background-position: -1386px -154px}
.ext-003 {width:75px; height:75px; background-position: -1386px -77px}
.ext-004 {width:75px; height:75px; background-position: -1463px -0px}
.ext-005 {width:75px; height:75px; background-position: -1386px -0px}
.ext-006 {width:75px; height:75px; background-position: -1309px -154px}
.ext-007 {width:75px; height:75px; background-position: -1309px -77px}
.ext-008 {width:75px; height:75px; background-position: -1309px -0px}
.ext-009 {width:75px; height:75px; background-position: -1232px -154px}
.nek-001 {width:75px; height:75px; background-position: -1232px -77px}
.nek-002 {width:75px; height:75px; background-position: -1232px -0px}
.nek-003 {width:75px; height:75px; background-position: -1155px -154px}
.nek-004 {width:75px; height:75px; background-position: -1155px -77px}
.nek-005 {width:75px; height:75px; background-position: -1155px -0px}
.nek-006 {width:75px; height:75px; background-position: -1078px -154px}
.nek-007 {width:75px; height:75px; background-position: -1078px -77px}
.nek-008 {width:75px; height:75px; background-position: -1078px -0px}
.nek-009 {width:75px; height:75px; background-position: -1001px -154px}
.nek-010 {width:75px; height:75px; background-position: -1001px -77px}
.nek-011 {width:75px; height:75px; background-position: -1001px -0px}
.nek-012 {width:75px; height:75px; background-position: -924px -154px}
.nek-013 {width:75px; height:75px; background-position: -924px -77px}
.nek-014 {width:75px; height:75px; background-position: -924px -0px}
.nek-015 {width:75px; height:75px; background-position: -847px -154px}
.nek-016 {width:75px; height:75px; background-position: -847px -77px}
.nek-017 {width:75px; height:75px; background-position: -847px -0px}
.nek-018 {width:75px; height:75px; background-position: -770px -154px}
.nek-019 {width:75px; height:75px; background-position: -770px -77px}
.nek-020 {width:75px; height:75px; background-position: -770px -0px}
.skt-001 {width:75px; height:75px; background-position: -693px -154px}
.skt-002 {width:75px; height:75px; background-position: -693px -77px}
.skt-003 {width:75px; height:75px; background-position: -693px -0px}
.skt-004 {width:75px; height:75px; background-position: -616px -154px}
.skt-005 {width:75px; height:75px; background-position: -616px -77px}
.skt-006 {width:75px; height:75px; background-position: -616px -0px}
.skt-007 {width:75px; height:75px; background-position: -539px -154px}
.skt-008 {width:75px; height:75px; background-position: -539px -77px}
.skt-009 {width:75px; height:75px; background-position: -539px -0px}
.skt-010 {width:75px; height:75px; background-position: -462px -154px}
.skt-011 {width:75px; height:75px; background-position: -462px -77px}
.skt-012 {width:75px; height:75px; background-position: -462px -0px}
.skt-013 {width:75px; height:75px; background-position: -385px -154px}
.skt-014 {width:75px; height:75px; background-position: -385px -77px}
.skt-015 {width:75px; height:75px; background-position: -385px -0px}
.skt-016 {width:75px; height:75px; background-position: -308px -154px}
.slv-001 {width:75px; height:75px; background-position: -308px -77px}
.slv-002 {width:75px; height:75px; background-position: -308px -0px}
.slv-003 {width:75px; height:75px; background-position: -231px -154px}
.slv-004 {width:75px; height:75px; background-position: -231px -77px}
.slv-005 {width:75px; height:75px; background-position: -231px -0px}
.slv-006 {width:75px; height:75px; background-position: -154px -154px}
.slv-007 {width:75px; height:75px; background-position: -154px -77px}
.slv-008 {width:75px; height:75px; background-position: -154px -0px}
.slv-009 {width:75px; height:75px; background-position: -77px -154px}
.slv-010 {width:75px; height:75px; background-position: -77px -77px}
.slv-011 {width:75px; height:75px; background-position: -77px -0px}
.slv-012 {width:75px; height:75px; background-position: -0px -154px}
.slv-013 {width:75px; height:75px; background-position: -0px -77px}
.slv-014 {width:75px; height:75px; background-position: -0px -0px}
