/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:929ff3026d230f43503be265304aa626$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.db-icons-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/db-icons-sprite.png);}

.blt-002 {width:75px; height:75px; background-position: -0px -3582px}
.blt-003 {width:75px; height:75px; background-position: -0px -3505px}
.blt-004 {width:75px; height:75px; background-position: -0px -3428px}
.ext-001 {width:75px; height:75px; background-position: -0px -3351px}
.ext-002 {width:75px; height:75px; background-position: -0px -3274px}
.ext-003 {width:75px; height:75px; background-position: -0px -3197px}
.nek-001 {width:80px; height:80px; background-position: -0px -1567px}
.nek-002 {width:80px; height:80px; background-position: -0px -1485px}
.nek-003 {width:80px; height:80px; background-position: -0px -1403px}
.nek-004 {width:81px; height:81px; background-position: -0px -581px}
.nek-009 {width:81px; height:81px; background-position: -0px -498px}
.nek-010 {width:81px; height:81px; background-position: -0px -415px}
.nek-013 {width:81px; height:81px; background-position: -0px -332px}
.nek-014 {width:81px; height:81px; background-position: -0px -249px}
.nek-015 {width:81px; height:81px; background-position: -0px -166px}
.nek-016 {width:81px; height:81px; background-position: -0px -83px}
.skt-010 {width:75px; height:75px; background-position: -0px -3120px}
.skt-011 {width:75px; height:75px; background-position: -0px -3043px}
.skt-012 {width:75px; height:75px; background-position: -0px -2966px}
.skt-013 {width:75px; height:75px; background-position: -0px -2889px}
.skt-030 {width:75px; height:75px; background-position: -0px -2812px}
.skt-031 {width:75px; height:75px; background-position: -0px -2735px}
.skt-032 {width:75px; height:75px; background-position: -0px -2658px}
.skt-050 {width:75px; height:75px; background-position: -0px -2581px}
.skt-051 {width:75px; height:75px; background-position: -0px -2504px}
.skt-052 {width:75px; height:75px; background-position: -0px -2427px}
.skt-053 {width:75px; height:75px; background-position: -0px -2350px}
.skt-070 {width:75px; height:75px; background-position: -0px -2273px}
.skt-071 {width:75px; height:75px; background-position: -0px -2196px}
.skt-090 {width:75px; height:75px; background-position: -0px -2119px}
.skt-091 {width:75px; height:78px; background-position: -0px -1808px}
.skt-092 {width:75px; height:78px; background-position: -0px -1728px}
.skt-100 {width:76px; height:77px; background-position: -0px -1649px}
.skt-101 {width:73px; height:77px; background-position: -0px -3659px}
.slv-001 {width:80px; height:80px; background-position: -0px -1321px}
.slv-002 {width:80px; height:80px; background-position: -0px -1239px}
.slv-006 {width:80px; height:80px; background-position: -0px -1157px}
.slv-007 {width:80px; height:80px; background-position: -0px -1075px}
.slv-008 {width:80px; height:80px; background-position: -0px -993px}
.slv-009 {width:80px; height:80px; background-position: -0px -911px}
.slv-011 {width:81px; height:81px; background-position: -0px -0px}
.slv-013 {width:80px; height:80px; background-position: -0px -829px}
.slv-014 {width:80px; height:80px; background-position: -0px -747px}
.slv-015 {width:80px; height:81px; background-position: -0px -664px}
.trm-nek {width:75px; height:75px; background-position: -0px -2042px}
.trm-skt {width:75px; height:75px; background-position: -0px -1965px}
.trm-slv {width:75px; height:75px; background-position: -0px -1888px}
