table.admin {
    margin-left: 30px;
}

.admin
{
    /*font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;*/
    width:100%;
    border-collapse:collapse;
}
.admin td, .admin th
{
    font-size:1em;
    border:none;
    padding:3px 7px 2px 7px;
    background-color:#ffffff;
    color:#000000;
}
.admin th
{
    border-top:1px solid #aaaaaa;
    border-bottom:1px solid #aaaaaa;
    font-size:1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    /*background-color:#ffffff;*/
    /*color:#000000;*/
    font-weight: normal;
}

.admin tr td.bold
{
    /*font-size:1.1em;*/
    font-weight: bold;
}

.admin tr.alt td
{
    color:#000000;
    background-color:#f7f7f7;
}

.admin-top-border{
    border-top-style:solid;
    border-color:#dedede;
    border-width:1px;
}

.admin-top-border-small {
    border-top:1px solid #aaaaaa;
}