/* Dress Overview */
.row-divider {
    /*border-bottom-style:solid;*/
    /*border-color: #a2a8bf;*/
    /*border-width:1px;*/
}


/* Catalogue Styles */

.catalogue {
    text-align: center;
}
/*.silhouette.header {*/
    /*font-size: 35px;*/
    /*height: 40px;*/
/*}*/


.catalogue.category {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 25px;
    height: 20px;
    border-top-style:solid;
    border-color: #a2a8bf;
    border-width:1px;
}

.purchase.price {
    min-height: 10px;
    height: 10px;
    text-align: left;
}

.purchase.buy-button {
    min-height: 10px;
    height: 10px;
    text-align: right;
}

/*.purchase.big-buy-button {*/
    /*text-align: center;*/
/*}*/





.silhouette.image{
    width: 200px;
    height: 510px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.item.customize {
    text-align: center;
    height: 20px;
    margin-bottom: 30px;
}

.fabric.type {
    text-align: right;
}


