/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:ed79fe4771e3e3cd61b0cb94a958e971:1/1$ 
 * 
 * .fabrics {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('fabrics.png?$TexturePacker:SmartUpdate:ed79fe4771e3e3cd61b0cb94a958e971:1/1$');}
 */

.sprite-fabrics {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/fabrics.png');}
.412.jpeg {width:70px;height:35px; background-position: -0px -0px}
.411.jpeg {width:70px;height:35px; background-position: -71px -0px}
.410.jpeg {width:70px;height:35px; background-position: -0px -36px}
.408.jpeg {width:70px;height:35px; background-position: -71px -36px}
.407.jpeg {width:70px;height:35px; background-position: -0px -72px}
.406.jpeg {width:70px;height:35px; background-position: -71px -72px}
.305.jpeg {width:70px;height:35px; background-position: -0px -108px}
.304.jpeg {width:70px;height:35px; background-position: -71px -108px}
.303.jpeg {width:70px;height:35px; background-position: -0px -144px}
.302.jpeg {width:70px;height:35px; background-position: -71px -144px}
.301.jpeg {width:70px;height:35px; background-position: -0px -180px}
.300.jpeg {width:70px;height:35px; background-position: -71px -180px}

