footer {
    min-height: 120px;
    margin: 0px;
    background-color: #eee;
    color: #555;
    padding-top: 25px;
}

footer.nb{
    min-height: 120px;
    margin: 0px;
    background-color: #333;
    color: #555;
    padding-top: 25px;
}

footer .navbar, footer .navbar a {
    color: #eee;
}

/*#footer .glyphicon {*/
    /*font-size:14px;*/
    /*vertical-align:middle;*/
/*}*/

/*#footer .contact {*/
    /*height:40px;*/
    /*color: #eee;*/
    /*margin-top:10px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*#footer .contact > .small {*/
    /*vertical-align:middle;*/
/*}*/

/*#footer .contact > .large{*/
    /*font-size:36px;*/
    /*vertical-align:middle;*/
/*}*/


footer .social {
    margin-top: 0px;
    text-align: center;
}
footer .social a {
    margin: 10px;
}
/*#footer .credits .copyright {*/
    /*color: #a6a6a7;*/
    /*font-style: italic;*/
    /*text-align: center;*/
    /*margin-top: 30px;*/
/*}*/
footer .social a {
    margin: 10px;
}
footer .social a span{
    display: inline-block;
    width: 33px;
    height: 33px;
}
footer .social a:hover span.socialicons{
    display: none;
}
footer .social a:hover span.socialicons_h{
    display: inline-block !important;
}
footer .social span.socialicons_h{
    display: none;
}
#email-signup{
    border-right-style: solid;
    border-right-color: #ccc;
    border-right-width: 1px;
}

#email{
    width:70%;
}

#social-signup{
    margin-left:25px;
}

footer .navbar {
    background-color: #333;
    margin-top: 20px;
}

footer .navbar-nav > li > a {
    color: #eee;
    font-weight: 200;
}
footer .navbar .nav {
    border-style: none;
}

.copyright{
    text-align: center;
}