/*
NAVIGATION BAR
================================================ */

/* Drop page body down below the header navbar */
body { padding-top: 70px;}

@media (min-width: 540px) {
    body { padding-top: 82px;}
}

@media (min-width: 768px) {
    body { padding-top: 130px;}
}

.navbar {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    padding-bottom:0px;
    margin-bottom:0;
}

.navbar .nav {
    height: auto;

}

.navbar-header {
    width: 100%;
    text-align:center;
}

.navbar .nav,
.navbar .nav > li {
    display:block;
    *display:inline;  /*ie7 fix*/
    *zoom:1;  /*hasLayout ie7 trigger*/
    vertical-align: top;
    padding: 1px 0;
}

.navbar .spacer {
    background-color: #ffffff;
    height:22px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    line-height: 10px;
    color: #222;
    font-size: 18px;
    padding: 6px;

}
/* Extra small devices (phones, less than 768px) - no media query since this is the default */

/* Small devices (tablets, 768px and up) - min-width: @screen-sm-min */
@media (min-width: 768px) {
    .navbar .nav {
        height: 38px;
    }
    .navbar .nav,
    .navbar .nav > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;

        padding: 0;
    }

    .navbar-nav > li > a {
        height: 20px;
        padding-top: 5px;
        line-height: 10px;
        color: #222;
        font-size: 12px;
    }
}
/* Medium devices (desktops, 992px and up) - min-width: @screen-md-min */
@media (min-width: 992px) {
    .navbar .nav,
    .navbar .nav > li {
        padding: 0 3px;
    }
    .navbar-nav > li > a {
        font-size: 14px;
    }
}
/* Large devices (large desktops, 1200px and up) - min-width: @screen-lg-min */
@media (min-width: 1200px) {
    .navbar .nav{
        padding: 0;
    }
    .navbar .nav > li {
        /*padding: 0 18px;*/
        padding: 0 18px;
    }
}

.navbar .nav > li {
    margin-top: 5px;
    margin-bottom: 5px;

    border-left-style: solid;
    border-left-color: #ccc;
    border-left-width: 1px;
}

.navbar .nav > :first-child {
    border-left-style: none;
    padding-left:0;
}

/*.navbar .nav > :first-child {*/
    /*padding: 0;*/
/*}*/

hr {
    margin: 0;
    margin-left:-3%;
    width:106%;
}
hr.grad-line  {
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

.navbar .container {
    text-align:center;
}

.navbar-toggle {
    z-index:99;
    border: 1px solid black;
}

.nav img {
    height:18px;
    padding:0;
    margin:-5px 0 0 0;
    vertical-align: middle;
}
.nav .heart {
    height:18px;
    padding:0;
    margin:-5px 0 0 0;
    vertical-align: middle;
}

#header {
    width:100%
}

#logo {
    /*width:100%;*/
    z-index: -99;
    text-align:left;
    margin-left:10px;
}

#logo img {
    width:220px;
}

#logo-mob {
    /*width:100%;*/
    z-index: -99;
    text-align:left;
    margin-left:10px;
}

#logo-mob img {
    width:220px;
}



#foxy_mincart {
    margin:5px 0;
}

@media (max-width: 500px) {
    .navbar-header {
        width: auto;
    }
}

@media (min-width: 540px) {
    #header {
        position: relative;
    }

    #logo img {
        width:auto;
        /*width:120px;*/
        /*height:22px;*/
        /*padding-right:10px;*/
        /*margin-top:-12px;*/
    }

    #logo-mob img {
        width:auto;
        /*width:120px;*/
        /*height:22px;*/
        /*padding-right:10px;*/
        /*margin-top:-12px;*/
    }
}

@media (max-width: 767px) {

    #logo-nav {
        display:none;
    }
}

@media (min-width: 768px) {

    .mob-only {
        display: none;
    }

    #foxy_mincart {
        position: absolute;
        right: 0;
        top: 10px;
    }

    #logo {
        position: static;
        text-align:left;
        margin-left:0;
    }
    #logo img {
        height: 30px;
    }

}



@media (min-width: 992px) {
    #logo img {
        /*width:120px;*/
        /*height:22px;*/
        padding-right:10px;
        margin-top:-12px;
    }

    #logo img {
        height: 40px;
    }
}

.super-nav {
    background-color: black; margin-bottom: 0;
    height: 4px;
     line-height: 30px
}
.super-nav .bag {
    color:white; font-size: 14px;
    /*display:block;*/
    /*position: relative;*/
    float:right;
    /*width: 200%;*/
    /*line-height: 38px;*/
}

.super-nav .bag a{
    color:white; font-size: 14px;
    /*display:block;*/
    /*float: right;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*line-height: 38px;*/
    /*height: 38px;*/
}

/*.super-nav .bag-text, .super-nav .shopping_bag{*/
    /*color:white; font-size: 14px;*/
    /*display:block;*/
    /*float: right;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
.super-nav .bag .shopping_bag{
    margin-top: 20px;
}


/*.super-nav .sign-up {*/
    /*color:white; font-size: 14px;*/
/*}*/
/*.super-nav .gift {*/
    /*color:white; font-size: 20px; margin-top:-5px;*/
/*}*/

.super-nav li a {
    height:30px;
}

@media (max-width: 767px) {
    .super-nav .container{
        display: none;
    }
}

/* Small devices (tablets, 768px and up) - min-width: @screen-sm-min */
@media (min-width: 768px) {
    .super-nav {
        height: auto;
        margin-bottom:20px;
    }
}
