/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:52369ce832e49b3d9a821591d7f04f2c:1/1$ 
 * 
 * .icons {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('icons.png?$TexturePacker:SmartUpdate:52369ce832e49b3d9a821591d7f04f2c:1/1$');}
 */

.sprite-icons {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/icons.png');}
.step-4-Cherish {width:310px;height:109px; background-position: -0px -0px}
.step-2-Customise {width:240px;height:116px; background-position: -0px -110px}
.aurza-measure-guide-hips {width:97px;height:90px; background-position: -0px -227px}
.step-1-Choose {width:254px;height:102px; background-position: -241px -110px}
.step-3-Deliver {width:233px;height:111px; background-position: -241px -213px}
.wordpress {width:32px;height:32px; background-position: -475px -213px}
.wordpress-var {width:32px;height:32px; background-position: -475px -246px}
.twitter {width:32px;height:32px; background-position: -475px -279px}
.aurza-measure-guide-waist {width:100px;height:100px; background-position: -311px -0px}
.aurza-measure-guide-bust {width:100px;height:100px; background-position: -412px -0px}
.twitter-var {width:32px;height:32px; background-position: -98px -227px}
.shopping_bag {width:32px;height:32px; background-position: -98px -260px}
.pinterest {width:32px;height:32px; background-position: -98px -293px}
.pinterest-var {width:32px;height:32px; background-position: -131px -227px}
.instagram {width:32px;height:32px; background-position: -131px -260px}
.instagram-var {width:32px;height:32px; background-position: -131px -293px}
.facebook {width:32px;height:32px; background-position: -164px -227px}
.facebook-var {width:32px;height:32px; background-position: -197px -227px}
.email {width:32px;height:32px; background-position: -164px -260px}
.email-var {width:32px;height:32px; background-position: -164px -293px}
.heart {width:18px;height:18px; background-position: -197px -260px}

