/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:312ec5c7dc162a4205bd3afcee143ce2:1/1$ 
 * 
 * .icons {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('icons.png?$TexturePacker:SmartUpdate:312ec5c7dc162a4205bd3afcee143ce2:1/1$');}
 */

.sprite-icons {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/icons.png');}
.step-4-Cherish {width:310px;height:109px; background-position: -0px -0px}
.aurza-measure-guide-waist {width:100px;height:100px; background-position: -311px -0px}
.aurza-measure-guide-bust {width:100px;height:100px; background-position: -311px -101px}
.step-2-Customise {width:240px;height:116px; background-position: -0px -110px}
.step-1-Choose {width:254px;height:102px; background-position: -241px -202px}
.step-3-Deliver {width:233px;height:111px; background-position: -0px -227px}
.wordpress {width:32px;height:32px; background-position: -241px -110px}
.wordpress-var {width:32px;height:32px; background-position: -241px -143px}
.heart {width:18px;height:18px; background-position: -241px -176px}
.twitter {width:32px;height:32px; background-position: -274px -110px}
.twitter-var {width:32px;height:32px; background-position: -274px -143px}
.aurza-measure-guide-hips {width:97px;height:90px; background-position: -412px -0px}
.shopping_bag {width:32px;height:32px; background-position: -412px -91px}
.pinterest {width:32px;height:32px; background-position: -412px -124px}
.pinterest-var {width:32px;height:32px; background-position: -412px -157px}
.instagram {width:32px;height:32px; background-position: -445px -91px}
.instagram-var {width:32px;height:32px; background-position: -445px -124px}
.gplus2 {width:32px;height:32px; background-position: -445px -157px}
.gplus {width:32px;height:32px; background-position: -234px -305px}
.gplus-variation2 {width:32px;height:32px; background-position: -267px -305px}
.gplus-variation {width:32px;height:32px; background-position: -300px -305px}
.facebook {width:32px;height:32px; background-position: -333px -305px}
.facebook-var {width:32px;height:32px; background-position: -366px -305px}
.email {width:32px;height:32px; background-position: -399px -305px}
.email-var {width:32px;height:32px; background-position: -432px -305px}

