/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:678a0c7b87c42959d98715062f10aa1f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.db-icons-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db-icons-sprite.png);}

.blt-002 {width:75px; height:75px; background-position: -0px -3748px}
.blt-003 {width:75px; height:75px; background-position: -0px -3671px}
.blt-004 {width:75px; height:75px; background-position: -0px -3594px}
.ext-001 {width:75px; height:75px; background-position: -0px -3517px}
.ext-002 {width:75px; height:75px; background-position: -0px -3440px}
.ext-003 {width:75px; height:75px; background-position: -0px -3363px}
.nek-001 {width:80px; height:80px; background-position: -0px -1733px}
.nek-002 {width:80px; height:80px; background-position: -0px -1651px}
.nek-003 {width:80px; height:80px; background-position: -0px -1569px}
.nek-004 {width:81px; height:81px; background-position: -0px -747px}
.nek-009 {width:81px; height:81px; background-position: -0px -664px}
.nek-010 {width:81px; height:81px; background-position: -0px -581px}
.nek-013 {width:81px; height:81px; background-position: -0px -498px}
.nek-014 {width:81px; height:81px; background-position: -0px -415px}
.nek-015 {width:81px; height:81px; background-position: -0px -332px}
.nek-016 {width:81px; height:81px; background-position: -0px -249px}
.nek-017 {width:81px; height:81px; background-position: -0px -166px}
.nek-018 {width:81px; height:81px; background-position: -0px -83px}
.skt-011 {width:75px; height:75px; background-position: -0px -3286px}
.skt-012 {width:75px; height:75px; background-position: -0px -3209px}
.skt-014 {width:75px; height:75px; background-position: -0px -3132px}
.skt-021 {width:75px; height:75px; background-position: -0px -3055px}
.skt-022 {width:75px; height:75px; background-position: -0px -2978px}
.skt-024 {width:75px; height:75px; background-position: -0px -2901px}
.skt-031 {width:75px; height:75px; background-position: -0px -2824px}
.skt-032 {width:75px; height:75px; background-position: -0px -2747px}
.skt-034 {width:75px; height:75px; background-position: -0px -2670px}
.skt-051 {width:75px; height:75px; background-position: -0px -2593px}
.skt-052 {width:75px; height:75px; background-position: -0px -2516px}
.skt-071 {width:75px; height:75px; background-position: -0px -2439px}
.skt-072 {width:75px; height:75px; background-position: -0px -2362px}
.skt-091 {width:75px; height:78px; background-position: -0px -1974px}
.skt-092 {width:75px; height:78px; background-position: -0px -1894px}
.skt-095 {width:75px; height:75px; background-position: -0px -2285px}
.skt-101 {width:73px; height:77px; background-position: -0px -3825px}
.skt-103 {width:76px; height:77px; background-position: -0px -1815px}
.slv-001 {width:80px; height:80px; background-position: -0px -1487px}
.slv-002 {width:80px; height:80px; background-position: -0px -1405px}
.slv-006 {width:80px; height:80px; background-position: -0px -1323px}
.slv-007 {width:80px; height:80px; background-position: -0px -1241px}
.slv-008 {width:80px; height:80px; background-position: -0px -1159px}
.slv-009 {width:80px; height:80px; background-position: -0px -1077px}
.slv-011 {width:81px; height:81px; background-position: -0px -0px}
.slv-013 {width:80px; height:80px; background-position: -0px -995px}
.slv-014 {width:80px; height:80px; background-position: -0px -913px}
.slv-015 {width:80px; height:81px; background-position: -0px -830px}
.trm-nek {width:75px; height:75px; background-position: -0px -2208px}
.trm-skt {width:75px; height:75px; background-position: -0px -2131px}
.trm-slv {width:75px; height:75px; background-position: -0px -2054px}
