/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8d79cf82d326a3fefa794c06bfeba011$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.db-parts-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db-parts-sprite.png);}

.ext-005-004 {width:200px; height:513px; background-position: -606px -1061px}
.ext-005-005 {width:200px; height:513px; background-position: -202px -1062px}
.ext-005-006 {width:200px; height:513px; background-position: -0px -1062px}
.ext-005-007 {width:200px; height:513px; background-position: -404px -1061px}
.ext-005-008 {width:200px; height:513px; background-position: -1014px -546px}
.ext-005-009 {width:200px; height:513px; background-position: -812px -546px}
.ext-005-010 {width:200px; height:513px; background-position: -610px -546px}
.ext-005-011 {width:200px; height:513px; background-position: -202px -547px}
.ext-005-012 {width:200px; height:513px; background-position: -0px -547px}
.ext-005-013 {width:200px; height:513px; background-position: -408px -546px}
.ext-005-120 {width:196px; height:214px; background-position: -1010px -7962px}
.ext-005-121 {width:196px; height:214px; background-position: -1212px -7961px}
.ext-005-122 {width:196px; height:214px; background-position: -1216px -846px}
.ext-005-123 {width:196px; height:214px; background-position: -1216px -630px}
.model-front {width:200px; height:501px; background-position: -808px -1061px}
.nek-001-003 {width:202px; height:135px; background-position: -1020px -274px}
.nek-001-004 {width:202px; height:135px; background-position: -816px -274px}
.nek-001-005 {width:202px; height:136px; background-position: -204px -0px}
.nek-001-006 {width:202px; height:135px; background-position: -612px -274px}
.nek-001-007 {width:202px; height:133px; background-position: -1020px -411px}
.nek-001-008 {width:202px; height:133px; background-position: -816px -411px}
.nek-001-009 {width:202px; height:136px; background-position: -0px -0px}
.nek-001-010 {width:202px; height:135px; background-position: -204px -275px}
.nek-001-011 {width:202px; height:135px; background-position: -0px -275px}
.nek-001-012 {width:202px; height:135px; background-position: -408px -274px}
.nek-001-013 {width:202px; height:135px; background-position: -1020px -137px}
.nek-001-120 {width:200px; height:133px; background-position: -0px -7594px}
.nek-001-121 {width:200px; height:133px; background-position: -202px -7530px}
.nek-001-122 {width:200px; height:133px; background-position: -404px -7490px}
.nek-001-123 {width:200px; height:133px; background-position: -606px -7481px}
.nek-002-003 {width:200px; height:134px; background-position: -202px -6989px}
.nek-002-004 {width:200px; height:134px; background-position: -808px -7194px}
.nek-002-005 {width:200px; height:134px; background-position: -606px -7075px}
.nek-002-006 {width:200px; height:134px; background-position: -404px -6949px}
.nek-002-007 {width:202px; height:133px; background-position: -612px -411px}
.nek-002-008 {width:202px; height:133px; background-position: -204px -412px}
.nek-002-009 {width:200px; height:134px; background-position: -1010px -7073px}
.nek-002-010 {width:202px; height:135px; background-position: -816px -137px}
.nek-002-011 {width:200px; height:134px; background-position: -808px -7058px}
.nek-002-012 {width:202px; height:135px; background-position: -612px -137px}
.nek-002-013 {width:200px; height:134px; background-position: -606px -6939px}
.nek-002-120 {width:200px; height:133px; background-position: -808px -7465px}
.nek-002-121 {width:200px; height:133px; background-position: -1010px -7344px}
.nek-002-122 {width:200px; height:133px; background-position: -1212px -7210px}
.nek-002-123 {width:200px; height:133px; background-position: -0px -7459px}
.nek-002-136 {width:200px; height:133px; background-position: -202px -7395px}
.nek-003-003 {width:200px; height:134px; background-position: -808px -6922px}
.nek-003-004 {width:202px; height:135px; background-position: -204px -138px}
.nek-003-005 {width:202px; height:135px; background-position: -0px -138px}
.nek-003-006 {width:202px; height:135px; background-position: -408px -137px}
.nek-003-007 {width:202px; height:133px; background-position: -0px -412px}
.nek-003-008 {width:202px; height:133px; background-position: -408px -411px}
.nek-003-009 {width:200px; height:118px; background-position: -808px -7600px}
.nek-003-010 {width:202px; height:135px; background-position: -1020px -0px}
.nek-003-011 {width:202px; height:135px; background-position: -816px -0px}
.nek-003-012 {width:202px; height:135px; background-position: -612px -0px}
.nek-003-013 {width:202px; height:135px; background-position: -408px -0px}
.nek-003-120 {width:200px; height:133px; background-position: -404px -7355px}
.nek-003-121 {width:200px; height:133px; background-position: -606px -7346px}
.nek-003-122 {width:200px; height:133px; background-position: -808px -7330px}
.nek-003-123 {width:200px; height:133px; background-position: -1010px -7209px}
.nek-006-003 {width:200px; height:133px; background-position: -1212px -7075px}
.nek-006-004 {width:200px; height:133px; background-position: -0px -7324px}
.nek-006-005 {width:200px; height:133px; background-position: -202px -7260px}
.nek-006-006 {width:200px; height:133px; background-position: -0px -7189px}
.nek-006-007 {width:200px; height:129px; background-position: -1212px -7478px}
.nek-006-008 {width:200px; height:131px; background-position: -1212px -7345px}
.nek-006-009 {width:200px; height:133px; background-position: -404px -7220px}
.nek-006-010 {width:200px; height:133px; background-position: -202px -7125px}
.nek-006-011 {width:200px; height:133px; background-position: -0px -7054px}
.nek-006-012 {width:200px; height:133px; background-position: -606px -7211px}
.nek-006-013 {width:200px; height:133px; background-position: -404px -7085px}
.skt-010-003 {width:200px; height:349px; background-position: -1212px -3174px}
.skt-010-004 {width:200px; height:349px; background-position: -1010px -3174px}
.skt-010-005 {width:200px; height:349px; background-position: -808px -2970px}
.skt-010-006 {width:200px; height:349px; background-position: -606px -2629px}
.skt-010-007 {width:200px; height:350px; background-position: -404px -1576px}
.skt-010-008 {width:200px; height:349px; background-position: -404px -2279px}
.skt-010-009 {width:200px; height:349px; background-position: -202px -2279px}
.skt-010-010 {width:200px; height:349px; background-position: -0px -2279px}
.skt-010-011 {width:200px; height:349px; background-position: -1212px -2823px}
.skt-010-012 {width:200px; height:349px; background-position: -1010px -2823px}
.skt-010-013 {width:200px; height:349px; background-position: -808px -2619px}
.skt-010-120 {width:200px; height:345px; background-position: -0px -2977px}
.skt-010-121 {width:200px; height:345px; background-position: -404px -2630px}
.skt-010-122 {width:200px; height:345px; background-position: -202px -2630px}
.skt-010-123 {width:200px; height:345px; background-position: -0px -2630px}
.skt-011-001 {width:200px; height:329px; background-position: -404px -4002px}
.skt-011-003 {width:200px; height:342px; background-position: -202px -2977px}
.skt-011-004 {width:200px; height:328px; background-position: -1010px -4190px}
.skt-011-005 {width:200px; height:326px; background-position: -202px -4330px}
.skt-011-006 {width:200px; height:341px; background-position: -808px -3321px}
.skt-011-007 {width:200px; height:351px; background-position: -1010px -1768px}
.skt-011-008 {width:200px; height:351px; background-position: -1212px -1416px}
.skt-011-009 {width:200px; height:349px; background-position: -606px -2278px}
.skt-011-010 {width:200px; height:339px; background-position: -404px -3661px}
.skt-011-011 {width:200px; height:339px; background-position: -202px -3321px}
.skt-011-012 {width:200px; height:330px; background-position: -808px -3996px}
.skt-011-013 {width:200px; height:331px; background-position: -606px -3664px}
.skt-011-120 {width:200px; height:329px; background-position: -606px -3997px}
.skt-011-121 {width:200px; height:331px; background-position: -1212px -3525px}
.skt-011-122 {width:200px; height:331px; background-position: -1010px -3525px}
.skt-011-123 {width:200px; height:328px; background-position: -1212px -4188px}
.skt-012-003 {width:200px; height:290px; background-position: -0px -5548px}
.skt-012-004 {width:200px; height:311px; background-position: -606px -4653px}
.skt-012-005 {width:200px; height:290px; background-position: -0px -5256px}
.skt-012-006 {width:200px; height:341px; background-position: -606px -2980px}
.skt-012-007 {width:200px; height:351px; background-position: -808px -1564px}
.skt-012-008 {width:200px; height:351px; background-position: -1010px -1415px}
.skt-012-009 {width:200px; height:349px; background-position: -404px -1928px}
.skt-012-010 {width:200px; height:339px; background-position: -606px -3323px}
.skt-012-011 {width:200px; height:339px; background-position: -404px -3320px}
.skt-012-012 {width:200px; height:330px; background-position: -1010px -3858px}
.skt-012-013 {width:200px; height:326px; background-position: -0px -4330px}
.skt-012-120 {width:200px; height:300px; background-position: -202px -4658px}
.skt-012-121 {width:200px; height:323px; background-position: -606px -4328px}
.skt-012-122 {width:200px; height:316px; background-position: -808px -4648px}
.skt-012-123 {width:200px; height:292px; background-position: -202px -5255px}
.skt-030-003 {width:200px; height:349px; background-position: -202px -1928px}
.skt-030-004 {width:200px; height:349px; background-position: -0px -1928px}
.skt-030-005 {width:200px; height:349px; background-position: -1212px -2472px}
.skt-030-006 {width:200px; height:349px; background-position: -1010px -2472px}
.skt-030-007 {width:200px; height:349px; background-position: -1212px -2121px}
.skt-030-008 {width:200px; height:349px; background-position: -808px -2268px}
.skt-030-009 {width:200px; height:349px; background-position: -1010px -2121px}
.skt-030-010 {width:200px; height:350px; background-position: -1212px -1769px}
.skt-030-011 {width:200px; height:349px; background-position: -202px -1577px}
.skt-030-012 {width:200px; height:349px; background-position: -0px -1577px}
.skt-030-013 {width:200px; height:349px; background-position: -606px -1927px}
.skt-031-003 {width:200px; height:331px; background-position: -0px -3997px}
.skt-031-004 {width:200px; height:327px; background-position: -1212px -4518px}
.skt-031-005 {width:200px; height:336px; background-position: -0px -3324px}
.skt-031-006 {width:200px; height:332px; background-position: -202px -3996px}
.skt-031-007 {width:200px; height:352px; background-position: -1212px -1062px}
.skt-031-008 {width:200px; height:341px; background-position: -404px -2977px}
.skt-031-009 {width:200px; height:330px; background-position: -808px -3664px}
.skt-031-010 {width:200px; height:328px; background-position: -1212px -3858px}
.skt-031-011 {width:200px; height:333px; background-position: -0px -3662px}
.skt-031-012 {width:200px; height:332px; background-position: -202px -3662px}
.skt-031-013 {width:200px; height:349px; background-position: -808px -1917px}
.skt-032-001 {width:200px; height:319px; background-position: -404px -4333px}
.skt-032-003 {width:200px; height:316px; background-position: -1010px -4520px}
.skt-032-004 {width:200px; height:314px; background-position: -1010px -4838px}
.skt-032-005 {width:200px; height:309px; background-position: -1212px -4847px}
.skt-032-006 {width:200px; height:309px; background-position: -404px -4654px}
.skt-032-007 {width:200px; height:352px; background-position: -1010px -1061px}
.skt-032-008 {width:200px; height:318px; background-position: -808px -4328px}
.skt-032-009 {width:200px; height:293px; background-position: -0px -4961px}
.skt-032-010 {width:200px; height:301px; background-position: -0px -4658px}
.skt-032-011 {width:200px; height:293px; background-position: -404px -4965px}
.skt-032-012 {width:200px; height:293px; background-position: -202px -4960px}
.skt-032-013 {width:200px; height:349px; background-position: -606px -1576px}
.slv-001-001 {width:200px; height:90px; background-position: -1212px -7609px}
.slv-001-003 {width:200px; height:90px; background-position: -1010px -7606px}
.slv-001-004 {width:200px; height:90px; background-position: -0px -7821px}
.slv-001-005 {width:200px; height:90px; background-position: -202px -7757px}
.slv-001-006 {width:200px; height:90px; background-position: -404px -7717px}
.slv-001-007 {width:200px; height:80px; background-position: -0px -8088px}
.slv-001-008 {width:200px; height:80px; background-position: -202px -8024px}
.slv-001-009 {width:200px; height:90px; background-position: -0px -7729px}
.slv-001-010 {width:200px; height:90px; background-position: -202px -7665px}
.slv-001-011 {width:200px; height:90px; background-position: -606px -7708px}
.slv-001-012 {width:200px; height:90px; background-position: -404px -7625px}
.slv-001-013 {width:200px; height:90px; background-position: -606px -7616px}
.slv-001-120 {width:200px; height:83px; background-position: -1212px -7876px}
.slv-001-121 {width:200px; height:83px; background-position: -1212px -7791px}
.slv-001-122 {width:200px; height:83px; background-position: -0px -8003px}
.slv-001-123 {width:200px; height:83px; background-position: -202px -7939px}
.slv-002-001 {width:144px; height:51px; background-position: -202px -8106px}
.slv-002-003 {width:200px; height:88px; background-position: -404px -7899px}
.slv-002-004 {width:200px; height:88px; background-position: -606px -7890px}
.slv-002-005 {width:200px; height:88px; background-position: -808px -7810px}
.slv-002-006 {width:200px; height:88px; background-position: -1010px -7788px}
.slv-002-007 {width:200px; height:88px; background-position: -1212px -7701px}
.slv-002-008 {width:200px; height:88px; background-position: -0px -7913px}
.slv-002-009 {width:200px; height:88px; background-position: -202px -7849px}
.slv-002-010 {width:200px; height:88px; background-position: -404px -7809px}
.slv-002-011 {width:200px; height:88px; background-position: -606px -7800px}
.slv-002-012 {width:200px; height:88px; background-position: -808px -7720px}
.slv-002-013 {width:200px; height:88px; background-position: -1010px -7698px}
.slv-002-120 {width:200px; height:82px; background-position: -404px -7989px}
.slv-002-121 {width:200px; height:82px; background-position: -606px -7980px}
.slv-002-122 {width:200px; height:82px; background-position: -808px -7900px}
.slv-002-123 {width:200px; height:82px; background-position: -1010px -7878px}
.slv-006-001 {width:200px; height:170px; background-position: -1010px -6901px}
.slv-006-003 {width:200px; height:191px; background-position: -1010px -6708px}
.slv-006-004 {width:200px; height:209px; background-position: -202px -6198px}
.slv-006-005 {width:200px; height:201px; background-position: -808px -6536px}
.slv-006-006 {width:200px; height:192px; background-position: -202px -6613px}
.slv-006-007 {width:200px; height:209px; background-position: -404px -6156px}
.slv-006-008 {width:200px; height:208px; background-position: -0px -6270px}
.slv-006-009 {width:200px; height:209px; background-position: -606px -6143px}
.slv-006-010 {width:200px; height:125px; background-position: -1010px -7479px}
.slv-006-011 {width:200px; height:202px; background-position: -1212px -6502px}
.slv-006-012 {width:200px; height:181px; background-position: -404px -6766px}
.slv-006-013 {width:200px; height:206px; background-position: -606px -6354px}
.slv-006-120 {width:200px; height:245px; background-position: -606px -5460px}
.slv-006-121 {width:200px; height:245px; background-position: -1212px -5405px}
.slv-006-122 {width:200px; height:245px; background-position: -1010px -5401px}
.slv-006-123 {width:200px; height:245px; background-position: -808px -5213px}
.slv-007-001 {width:200px; height:191px; background-position: -1212px -6706px}
.slv-007-003 {width:200px; height:191px; background-position: -0px -6684px}
.slv-007-004 {width:200px; height:175px; background-position: -0px -6877px}
.slv-007-005 {width:200px; height:201px; background-position: -1010px -6505px}
.slv-007-006 {width:200px; height:192px; background-position: -404px -6572px}
.slv-007-007 {width:200px; height:209px; background-position: -808px -6117px}
.slv-007-008 {width:200px; height:192px; background-position: -606px -6562px}
.slv-007-009 {width:200px; height:209px; background-position: -1010px -6086px}
.slv-007-010 {width:200px; height:174px; background-position: -1212px -6899px}
.slv-007-011 {width:200px; height:202px; background-position: -0px -6480px}
.slv-007-012 {width:200px; height:181px; background-position: -606px -6756px}
.slv-007-013 {width:200px; height:206px; background-position: -808px -6328px}
.slv-007-120 {width:200px; height:245px; background-position: -404px -5260px}
.slv-007-121 {width:200px; height:245px; background-position: -606px -5213px}
.slv-007-122 {width:200px; height:245px; background-position: -1212px -5158px}
.slv-009-001 {width:200px; height:209px; background-position: -1212px -6082px}
.slv-009-003 {width:200px; height:215px; background-position: -606px -5926px}
.slv-009-004 {width:200px; height:209px; background-position: -1212px -5871px}
.slv-009-005 {width:200px; height:203px; background-position: -404px -6367px}
.slv-009-006 {width:200px; height:207px; background-position: -1212px -6293px}
.slv-009-007 {width:200px; height:209px; background-position: -0px -6059px}
.slv-009-008 {width:200px; height:209px; background-position: -202px -5987px}
.slv-009-009 {width:200px; height:209px; background-position: -404px -5945px}
.slv-009-010 {width:200px; height:180px; background-position: -202px -6807px}
.slv-009-011 {width:200px; height:202px; background-position: -202px -6409px}
.slv-009-012 {width:200px; height:181px; background-position: -808px -6739px}
.slv-009-013 {width:200px; height:206px; background-position: -1010px -6297px}
.slv-009-120 {width:200px; height:245px; background-position: -1010px -5154px}
.slv-009-121 {width:200px; height:245px; background-position: -808px -4966px}
.slv-009-122 {width:200px; height:245px; background-position: -606px -4966px}
.slv-012-001 {width:200px; height:217px; background-position: -808px -5898px}
.slv-012-003 {width:200px; height:217px; background-position: -1010px -5867px}
.slv-012-004 {width:200px; height:217px; background-position: -1212px -5652px}
.slv-012-005 {width:200px; height:217px; background-position: -0px -5840px}
.slv-012-006 {width:200px; height:217px; background-position: -202px -5768px}
.slv-012-007 {width:200px; height:217px; background-position: -404px -5726px}
.slv-012-008 {width:200px; height:217px; background-position: -606px -5707px}
.slv-012-009 {width:200px; height:217px; background-position: -808px -5679px}
.slv-012-010 {width:200px; height:217px; background-position: -1010px -5648px}
.slv-012-011 {width:200px; height:217px; background-position: -808px -5460px}
.slv-012-012 {width:200px; height:217px; background-position: -202px -5549px}
.slv-012-013 {width:200px; height:217px; background-position: -404px -5507px}
.slv-012-120 {width:160px; height:208px; background-position: -808px -7984px}
.slv-012-121 {width:160px; height:208px; background-position: -1224px -420px}
.slv-012-122 {width:160px; height:208px; background-position: -1224px -210px}
.slv-012-123 {width:160px; height:208px; background-position: -1224px -0px}
