<div id="partyView" class="container">
    <p>Treat yourself *and 5 friends to a night of fashion where you can try on our dresses,
        find your ideal size, check out the fabrics and design your perfect dress together in
        the comfort of your own home.</p>
    <p>No more compromises, no more excuses. Finally everyone can feel this good.</p>
    <p>*As a party host you will get 50% off your perfect dress whilst helping each other design
        the dresses that you really want and that you know will look amazing.</p>
    <img src="image/party/party.png" class="img-polaroid">
</div>