<div id="purchaseView" class="container">

    <div class=" container-fluid">
        <!--<div class="row-fluid silhouette header">-->
        <!--Sillouttes-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span6">
                Review your selection
            </div>
            <div class="span6 pull-right builder price">
                <b>HKD {{design.price}}</b>
            </div>
        </div>
        <div class="row-fluid top-border">
            <div class="span6">
                <p>Size Selector</p>
                <p>Dress details (in words)</p>
            </div>
            <div class="span6">
                Picture of dress
            </div>
        </div>
    </div>

</div>