<div id="silhouettesView" class="container">
     <div class="span12 container-fluid">
    <!--<div class="row-fluid silhouette header">-->
        <!--Sillouttes-->
    <!--</div>-->
    <div class="row-fluid">
        <p class="span9 offset1 catalogue description">
            customise - colour, neckline, length, sleeves, trim and exact body measurements!
        </p>
    </div>
    <div class="row-fluid">
            <div ng-repeat="silhouette in silhouettes">
                <div class="row-fluid">
                    <p class="span9 offset1 catalogue category">{{silhouette.catName}}</p>
                </div>
                <div class="row-fluid">
                    <div ng-repeat="design in silhouette.designs">
                        <div class="span3 container-fluid row-divider">
                            <div class="row-fluid item title">
                                 <div class="span12">
                                    {{design.desName}}
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 overview price">
                                    <p><i>From: <b>HKD {{design.price}}</b></i></p>
                                </div>
                            </div>
                            <div class="row-fluid silhouette image">
                                <div class="span12 ">
                                    <a href="#/design/{{design.desId}}" onClick="_gaq.push(['_trackEvent', 'Silhouettes', 'customize', '{{design.desId}}']);">
                                        <!--{{design.silhouetteImage}}-->
                                        <img ng-src="images/silhouettes/{{design.silhouetteImage}}.png">
                                        <!--<div class="items-sprite {{dress.itemId}}"></div>-->
                                    </a>
                                </div>
                            </div>
                            <div class="row-fluid item customize" >
                                <div class="span12">
                                    <a class="btn btn-info" id="review-dress" href="#/design/{{design.desId}}" onClick="_gaq.push(['_trackEvent', 'Silhouettes', 'customize-button', '{{design.desId}}']);">Design me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->