/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:47397c5cf70cb5b9d0498c43fc3e8597:1/1$ 
 * 
 * .110 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('110.png?$TexturePacker:SmartUpdate:47397c5cf70cb5b9d0498c43fc3e8597:1/1$');}
 */

.sprite-110 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/110.png');}
.blt-004-00-110 {width:200px;height:232px; background-position: -0px -0px}

