/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:0662a19887173367ff2b3418614f203d:1/1$ 
 * 
 * .160 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('160.png?$TexturePacker:SmartUpdate:0662a19887173367ff2b3418614f203d:1/1$');}
 */

.sprite-160 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/160.png');}
.blt-002-00-160 {width:200px;height:139px; background-position: -0px -0px}

