/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:7eb7f639a0c6171153db70e858fddacf:1/1$ 
 * 
 * .169 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('169.png?$TexturePacker:SmartUpdate:7eb7f639a0c6171153db70e858fddacf:1/1$');}
 */

.sprite-169 {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/169.png');}
.blt-002-00-169 {width:200px;height:137px; background-position: -0px -0px}

