---
title: AURZA - utterly fabulous custom-made dresses
---
<article id="maintenance-splash" class="container">
    <section id="maintenance"  class="page-curl large">
        <div class="row">
            <div class="col-md-12">
                <a href="http://aurza.com?try=again">
                <img src="../../../images/aurza-down-for-maintenance.jpg"
                     class="img-responsive"
                     alt="custom-made fabulous" >
                </a>
            </div>

        </div>
    </section>

</article>