<div id="designBuildView" class="container">

    <div ng-include="'/views/ng-partials/partial-sizing-modal.html'"></div>
    <div class="row">

        <div class="col-lg-3" ng-show="!isDebugCollapsed" style="margin: 0 0 0 -120px">
            <ul>
                <li ng-repeat="design in form.design" ng-class-even="'alt'">
                    {{design.type+"-"+design.id+"-"+design.size}} ({{design.fabric}})
                    <br><br>
                    {{design | lookup}} <br>({{design|fablookup}} {{design.trim|trimlookup}})
                    <br><br>
                </li>
                <hr class="gradient">
                <li ng-repeat="design in form.extras" ng-class-even="'alt'">
                    {{design.type+"-"+design.id+"-"+design.size}} ({{design.fabric}})
                    <br><br>
                    {{design | lookup}} <br>({{design|fablookup}} {{design.trim|trimlookup}})
                    <br><br>
                </li>
            </ul>
        </div>

        <div id="view_dress_image_panel" class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-5 col-xs-5">
            <div class="dress_image_panel">
                <div draw-design model="item.design_builder.model" design="form"></div>
            </div>
        </div>


        <form name="foxyForm" class="form-horizontal" role="form"
              action="https://aurza.foxycart.com/cart" method="post"
              accept-charset="utf-8">

            <div id="builder_controls_panel" class="col-lg-7 col-md-8 col-sm-7">
                <tabset class="breaded" type="pills">
                    <tab heading="Style" active="tabs.style"
                         ng-click="gaEvent('nav', 'click', 'design-builder-style');tab('style')" >
                        <div ng-include="'/views/ng-partials/partial-style-builder.html'"></div>
                    </tab>
                    <tab heading="Customize" active="tabs.design" ng-hide=""
                         ng-click="gaEvent('nav', 'click', 'design-builder-customize');tab('customize')" >
                        <div ng-include="'/views/ng-partials/partial-customize.html'"></div>
                    </tab>
                    <tab heading="Fit" active="tabs.fit"
                         ng-click="gaEvent('nav', 'click', 'design-builder-fit');tab('fit')" >
                        <div ng-include="'/views/ng-partials/partial-fit.html'"></div>
                    </tab>

                    <tab heading="Review" active="tabs.order" disabled="!foxyForm.$valid"
                         ng-click="gaEvent('nav', 'click', 'design-builder-review');tab('review')" >
                        <div ng-include="'/views/ng-partials/partial-review.html'"></div>
                    </tab>

                </tabset>
            </div>
        </form>
    </div>


    <!--<div class="row" id="debug_view">-->

        <!--<div class="col-md-4 align-left">-->
            <!--<a class="btn btn-mini" ng-click="isDebugCollapsed = !isDebugCollapsed">Toggle debug view</a>-->
        <!--</div>-->
        <!--<div class="col-md-4 align-center">-->
        <!--</div>-->
        <!--<div class="col-md-4 align-right">-->
            <!--<a class="btn btn-mini" href="#!/admin/{{item.style.styleId}}">Toggle admin view</a>-->
        <!--</div>-->
        <!--<hr>-->
        <!--<div ng-show="!isDebugCollapsed">-->
            <!--<pre>test={{test}}</pre>-->
            <!--<p>{{param(form)}}</p>-->
            <!--<pre>form={{form}}</pre>-->
            <!--<pre>fabricSets={{fabricSets}}</pre>-->
            <!--<pre>trimFabricSets={{trimFabricSets}}</pre>-->
            <!--<pre>dressFabricSets={{dressFabricSets}}</pre>-->


            <!--<pre>master={{master}}</pre>-->
            <!--<pre>category={{category}}</pre>-->
            <!--<pre>style={{style}}</pre>-->
            <!--<pre>item.design_builder={{item.design_builder}}</pre>-->
            <!--<pre>item={{item}}</pre>-->
            <!--<pre>item.itemDesign={{item.itemDesign}}</pre>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!-- /designBuildView -->