<div class="row">
    <tabset class="tabs-left db-options">
        <tab ng-repeat="part in item.design_builder.options[0].parts" heading="{{part.label}}">

            <div class="container-fluid opt-parts">
                <div class="col-xs-7">
                    <part-selector part="part"
                                   selected-option="form[item.design_builder.options[0].option_name][part.part_name]"/>
                </div>
                <div class="col-xs-5">
                    <fabric-selector ng-repeat="set in fabricSets | filterSets:part.fabricSets" fabric-set="set"
                                     attrib="'fabric'"
                                     selected-option="form[item.design_builder.options[0].option_name][part.part_name]"/>

                </div>
            </div>
            <div class="container-fluid opt-length db-options-divider" ng-show="part.size">
                <div class="col-xs-6">
                    Length:
                </div>
                <div class="col-xs-6">
                    <size-selector part="part"
                                   selected-option="form[item.design_builder.options[0].option_name][part.part_name]"/>
                </div>
            </div>
            <div class="container-fluid opt-trim db-options-divider" ng-show="part.trim">
                <div class="col-sm-7">
                    <div class="row fabric-header">
                        Trim:
                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="fabric-group" ng-repeat="set in fabricSets | filterSets:part.trimFabricSets">
                       <div class="row fabric-header">
                             {{set.setName}}
                           </div>
                       <div class="row ">
                           <button ng-repeat="fabric in set.fabrics" type="button"
                                   class="btn fabric-selector fabric{{fabric.fabId}}"
                                   ng-click="toggleTrim(form[item.design_builder.options[0].option_name][part.part_name], fabric, part)"
                                   btn-radio="fabric.fabId"
                                   ng-model="fabric.fabId"
                                   ng-class="{active: form[item.design_builder.options[0].option_name][part.part_name]['trim']===fabric.fabId }">
                           </button>

                           </div>
                    </div>
                </div>
            </div>
        </tab>

        <tab ng-repeat="part in item.design_builder.extras[0].parts" heading="{{part.label}}">

            <div class="container-fluid" ng-repeat="value in part.values">
                <div class="col-xs-7">

                    <div data-toggle="buttons">
                        <!--https://github.com/angular-ui/bootstrap/issues/233-->
                        <div class="option-button">
                            <button type="button" class="btn btn-default option"
                                    btn-radio="value.id"
                                    ng-model="value.id"
                                    ng-click="toggleExtraButton(form[item.design_builder.extras[0].name][part.part_name], value)"
                                    ng-class="{highlight: form[item.design_builder.extras[0].name][part.part_name]['id']===value.id }">
                                <div class="db-icons-sprite {{part.type}}-{{value.id}}">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5" style="vertical-align: middle">
                    <div ng-repeat="set in fabricSets | filterSets:value.fabricSets">
                        <div class="fabric-group middle-inner">
                            <div class="row extras-fabric-header">
                                {{set.setName}}
                            </div>
                            <div class="row">
                                <button ng-repeat="fabric in set.fabrics" type="button"
                                        class="btn fabric-selector fabric{{fabric.fabId}}"
                                        ng-click="toggleExtra(form[item.design_builder.extras[0].name][part.part_name], fabric, value)"
                                        btn-radio="value.id +'-'+fabric.fabId"
                                        ng-model="form[item.design_builder.extras[0].name][part.part_name]['code']"
                                        ng-class="{active: form[item.design.extras[0].name][part.part_name]['code']==value.id +'-'+fabric.fabId }">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </tab>

        <div class="col-md-3 col-sm-3 align-center" style="margin-top:60px">
            <a class="btn btn-default design-buttons" id="reset-design"
               ng-click="cancel(); gaEvent('button', 'click', 'builder-customize-reset');" ng-disabled="isCancelDisabled()"
               style="font-family: 'Nothing You Could Do', cursive;font-size: 20px;">
                <!--onClick="_gaq.push(['_trackEvent', 'Design Build', 'reset-design', '{{dress.silId}}/{{dress.itemId}}']);">-->
                Reset</a>
        </div>
    </tabset>


    <div class="row" ng-show="('004' === form.extras.belt.id ) && !('obi' === item.style.styleId)">
        <div class="col-sm-12 obi-warn">
        <span class="glyphicon glyphicon-tags"></span>&nbsp Leather Obi Belt added (+HKD650)
        </div>
    </div>

    <div id="action" class="row divider">
        <div class="divider"></div>

        <div class="col-md-7 col-sm-7 alternate-action hidden-xs	">
            <a class="btn btn-default" ng-href="/shop/design"
               ng-click="gaEvent('button', 'click', 'builder-customize-different-style');">
                <!--onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', 'design-build/different-style']);">-->

                try a different style</a>
        </div>
        <div class="col-sm-4 col-xs-12 main-action">
            <a class="btn btn-primary"
               href="" data-toggle="tab"
               ng-click="tabs.fit = true; gaEvent('button', 'click', 'builder-customize-choose-size');">Choose your size</a>


        </div>
    </div>


</div>