<div id="dress_image_panel" class="row">
    <div class="image col-sm-8 col-sm-push-3">
        <img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : view}}"
             alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"
             class="img-responsive">
    </div>
    <div class="views col-sm-3 col-sm-pull-8">
        <div class="row">
            <div ng-repeat="prod_view in item.itemDesign.images.product" id="{{view}}" class="col-xs-4 col-sm-12">
                <img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-'+prod_view+'.jpg'}}"
                     alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"
                     ng-click="view='-lg-{{prod_view}}.jpg'"
                     class="img-responsive img-thumbnail">
            </div>
            <!--<div id="back" class="col-xs-4  col-sm-12">-->
                <!--<img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-back.jpg'}}"-->
                     <!--alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"-->
                     <!--ng-click="view='-lg-back.jpg'"-->
                     <!--class="img-responsive img-thumbnail">-->
            <!--</div>-->
            <!--<div id="dress" class="col-xs-4  col-sm-12">-->
                <!--<img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-dress.jpg'}}"-->
                     <!--alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"-->
                     <!--ng-click="view='-lg-dress.jpg'"-->
                     <!--class="img-responsive img-thumbnail">-->
            <!--</div>-->
        </div>
    </div>
</div>
