<div class="modal fade" id="size-chart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-6">
                    <h3>AURZA Sizes</h3>
                </div>
                <div class="col-md-6 modal-button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">

                <p>Our dresses are designed to fit the following size bodies perfectly:</p>

                <!--<p class="centeredImage">-->
                <!--<img src="images/sizing/sizeChart.png" class="img-polaroid">-->
                <!--</p>-->

                <table class="table table-striped">
                    <tr>
                        <th colspan="2">&nbsp</th>
                        <th colspan="8" style="text-align:center">AURZA Size</th>
                    </tr>
                    <tr>
                        <th>Measurement</th>
                        <th class="align-center">(units)</th>
                        <th class="align-center">1</th>
                        <th class="align-center">2</th>
                        <th class="align-center">3</th>
                        <th class="align-center">4</th>
                        <th class="align-center">5</th>
                        <th class="align-center">6</th>
                        <th class="align-center">7</th>
                        <th class="align-center">8</th>
                    </tr>
                    <tr>
                        <th>bust</th>
                        <th>(cm)</th>
                        <td>82</td>
                        <td>85</td>
                        <td>88</td>
                        <td>93</td>
                        <td>98.5</td>
                        <td>104</td>
                        <td>109.5</td>
                        <td>115</td>
                    </tr>

                    <tr>
                        <th>waist</th>
                        <th>(cm)</th>
                        <td>65</td>
                        <td>67</td>
                        <td>70</td>
                        <td>76</td>
                        <td>82</td>
                        <td>88</td>
                        <td>94</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>hips</th>
                        <th>(cm)</th>
                        <td>87</td>
                        <td>89</td>
                        <td>92</td>
                        <td>98</td>
                        <td>104</td>
                        <td>110</td>
                        <td>116</td>
                        <td>120</td>
                    </tr>

                    <!--<tr>-->
                        <!--<th>bust</th>-->
                        <!--<th>(inches)</th>-->
                        <!--<td>32</td>-->
                        <!--<td>33</td>-->
                        <!--<td>34</td>-->
                        <!--<td>36.6</td>-->
                        <!--<td>38.8</td>-->
                        <!--<td>40.9</td>-->
                        <!--<td>43.1</td>-->
                        <!--<td>45.3</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<th>waist</th>-->
                        <!--<th>(inches)</th>-->
                        <!--<td>26</td>-->
                        <!--<td>27</td>-->
                        <!--<td>28</td>-->
                        <!--<td>29.9</td>-->
                        <!--<td>32.3</td>-->
                        <!--<td>34.6</td>-->
                        <!--<td>37</td>-->
                        <!--<td>39.4</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>hips</th>-->
                        <!--<th>(inches)</th>-->
                        <!--<td>34</td>-->
                        <!--<td>35</td>-->
                        <!--<td>36</td>-->
                        <!--<td>38.6</td>-->
                        <!--<td>40.9</td>-->
                        <!--<td>43.3</td>-->
                        <!--<td>45.7</td>-->
                        <!--<td>48</td>-->
                    <!--</tr>-->
                </table>

                <p>Thanks to some clever designs and fabric choices all of our sizes have a little stretch and so if you
                    are struggling our advice is as follows
                <ol>
                    <li>
                        If you are up to half way between sizes, choose the smaller size as generally our designs are
                        meant to have a tight & sassy fit e.g bust 90cm choose size 3 not 4
                    </li>

                    <li>If you are half way or over between sizes, choose the larger size otherwise you may experience
                        seam slippage from the dress being too tight eg bust 91cm choose size 4
                    </li>
                    <li>If your top and bottom half fall into 2 separate sizes it is really important that you provide
                        your measurements so we can create an improved fit e.g. bust 94 and waist 72
                    </li>
                </ol>
                </p>


                <p><i>Please not that as AURZA is an international brand based on a unique size system that reflects the
                    modern woman’s form, we have deliberately chosen NOT to use any reference to UK / US standard
                    sizing. This is because through our development work we realized that there really is no consistency
                    across brands or countries with a ‘size 12’ and using this terminology ultimately resulted in our
                    customers choosing the wrong sizes, where as if you provide your size details we are much more
                    likely to get it right first time for you. If you have any problems measuring yourself or choosing
                    the right size for you please email Stephanie@aurza.com for further guidance and we will get back to
                    you within 24 hours.</i></p>

            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="measure-guide-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-6">
                    <h2>How to measure yourself</h2>
                </div>
                <div class="col-md-6 modal-button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 intro">
                        <p>We want your clothes to have a sassy fit, but it's important not to pull the tape measure too
                            tightly
                            when measuring. It is often easier to get a friend to help you.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">
                        <p>
                            <B>BUST</B> - Wear the bra you would expect to be wearing with the dress and relax your arms
                            at side. Pull the tape across fullest part of the bust and keep straight. Keep one finger
                            under the tape measure.
                        </p>

                    </div>
                    <div class="col-sm-2">
                        <p class="centeredImage">
                        <div class="sprite-icons aurza-measure-guide-bust"></div>
                            <!--<img src="/images/sizing/aurza-measure-guide-bust.png" class="img-polaroid">-->
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">
                        <p>
                            <B>WAIST</B> - Find the natural waist by tilting sideways ("I'm a little teapot...") - the
                            point of the body which creases is where the waist lies.
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p class="centeredImage">
                        <div class="sprite-icons aurza-measure-guide-waist"></div>
                            <!--<img src="/images/sizing/aurza-measure-guide-waist.png" class="img-polaroid">-->
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">
                        <p>
                            <B>HIPS</B> - Find the widest part of the hips, about 9 inches below the waistline.
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p class="centeredImage">
                        <div class="sprite-icons aurza-measure-guide-hips"></div>
                            <!--<img src="/images/sizing/aurza-measure-guide-hips.png" class="img-polaroid">-->
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
