<div id="style-panel">
    <div class="container-fluid ">
        <div class="row">
            <div class="intro col-sm-5">
                <div class="name">{{item.style.styleName}}</div>
                <div class="formal-name">{{item.style.styleFormalName}}</div>
                <div class="price">HKD {{item.style.price | number:0}}</div>
            </div>
            <div class="action col-sm-7">
                <div class="row">
                <a class="btn btn-primary" style="width:180px;"
                   href="#!/item/{{item.style.styleId}}/{{item.itemDesign.itemId}}/fit" data-toggle="tab"
                   ng-click="tabs.fit = true">Choose your size</a>
                </div>
                <div class="row">
                    or
                </div>
                <div class="row">
                <!--<div class="action col-sm-5  align-right">-->
                    <a class="btn btn-default" style="width:180px;"
                       href="#!/design/{{item.style.styleId}}/{{item.itemDesign.itemId}}/design" data-toggle="tab"
                       ng-click="tabs.design = true"
                       style="font-family: 'Nothing You Could Do', cursive;font-size: 20px;">
                        Customize</a>

                </div>
            </div>
        </div>
        <hr class="grad-line">
        <div class="row">
            <div class="description col-sm-12">
                <!--<h2>Description</h2>-->
                <p ng-repeat="para in item.style.description">{{para}}</p>
            </div>
        </div>

        <hr class="grad-line">
        <div class="row">
            <div class="care col-sm-12">
                <h2>Fabric & Care</h2>

                <p ng-repeat="para in item.style.care">{{para}}</p>
            </div>
        </div>
        <!--<hr class="grad-line">-->
        </div>
    </div>
</div>