<div class="modal fade" id="spec-sheet-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-6">
                    <h3>Design Spec Sheet</h3>
                </div>
                <div class="col-md-6 modal-button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Component</th>
                                <th>Style</th>
                                <th>Size</th>
                                <th>Fabric</th>
                                <th>Trim</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="design in form.design" ng-class-even="'alt'">
                                <td class="bold">{{design.type}}</td>
                                <td>{{design.id}}</td>
                                <td>{{design.size}}</td>
                                <td><span ng-hide="'000'=== design.id">{{design.fabric}}</span></td>
                                <td>{{design.trim}}</td>
                            </tr>
                            <!--<tr>-->
                            <!--<td colspan="5"> &nbsp</td>-->
                            <!--</tr>-->
                            </tbody>
                            <thead>
                            <tr>
                                <th>Accessory</th>
                                <th>Style</th>
                                <th>Size</th>
                                <th>Fabric</th>
                                <th>Trim</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="design in form.extras" ng-class-even="'alt'">
                                <td class="bold">{{design.type}}</td>
                                <td>{{design.id}}</td>
                                <td>{{design.size}}</td>
                                <td>{{design.fabric}}</td>
                                <td>{{design.trim}}</td>
                            </tr>
                            <!--<tr>-->
                            <!--<td colspan="5"> &nbsp</td>-->
                            <!--</tr>-->
                            </tbody>

                            <thead>
                            <tr>
                                <th>Option</th>
                                <th colspan="4">Measurement</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class-even="'alt'">
                                <td class="bold">Dress size</td>
                                <td colspan="4">{{sizing.size}}</td>
                            </tr>
                            <tr ng-class-even="'alt'">
                                <td class="bold">Bust</td>
                                <td colspan="2">{{sizing.bust}} cm</td>
                                <td class="bold">Waist</td>
                                <td colspan="2">{{sizing.waist}} cm</td>
                            </tr>
                            <!--<tr ng-class-even="'alt'">-->
                            <!--<td class="bold">Waist</td>-->
                            <!--<td colspan="2">{{sizing.waist}} cm</td>-->
                            <!--</tr>-->
                            <tr ng-class-even="'alt'">
                                <td class="bold">Hips</td>
                                <td colspan="2">{{sizing.hips}} cm</td>
                                <td class="bold">Height</td>
                                <td colspan="2">{{sizing.height}} cm</td>
                            </tr>
                            <!--<tr ng-class-even="'alt'">-->
                            <!--<td class="bold">Height</td>-->
                            <!--<td colspan="2">{{sizing.height}} cm</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="review-panel">
    <div class="container-fluid ">
        <div id="style-panel" class="row">
            <div class="intro col-sm-5">
                <div class="name">{{item.style.styleName}}</div>
                <div class="formal-name">{{item.style.styleFormalName}}</div>
                <div class="price">HKD {{item.style.price | number:0}}</div>
            </div>

            <div class="intro col-sm-1">
                <div ng-show="('004' === form.extras.belt.id ) && !('obi' === item.style.styleId)">
                <div class="name">&nbsp</div>
                <div class="formal-name">&nbsp</div>
                <div class="price">+</div>
            </div>
            </div>
            <div class="intro col-sm-3">
                <div ng-show="('004' === form.extras.belt.id ) && !('obi' === item.style.styleId)">
                <div class="name">Obi</div>
                <div class="formal-name">Belt</div>
                <div class="price">HKD 650</div>
                    </div>
            </div>
            <div class="action col-sm-3">

                <div class="row">
                    <input type="submit" class="btn btn-primary" style="width:150px;" value="Buy"
                           ng-click="gaEvent('button', 'click', 'builder-review-buy')"/>
                </div>


                <div>

                </div>
                <div>

                </div>
            </div>
        </div>
        <hr class="grad-line">
        <h1>REVIEW YOUR DESIGN</h1>
        <!--- pep: {{form.extras.peplum.fabric}}-->
        <hr class="grad-line">
        <div class="">

            <!--<img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-dress.jpg'}}"-->
            <!--alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"-->
            <!--ng-click="view='-lg-dress.jpg'"-->
            <!--class="img-responsive img-thumbnail">-->

                <!-- https://wiki.foxycart.com/v/1.1/products -->
                <input type="hidden"  name="{{item.style.fc_category}}" value="{{item.style.type}}"/>
                <input type="hidden"  name="{{item.style.fc_code}}" value="{{item.style.styleId}}"/>
                <input type="hidden"  name="{{item.style.fc_name}}"
                       value="{{item.style.styleName}} ({{item.style.styleFormalName}})"/>
                <input type="hidden"  name="{{item.style.fc_price}}" value="{{item.style.price}}"/>

                <!--<input type="hidden" name="{{item.style.fc_image}}"-->
                       <!--value="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-dress.jpg'}}"/>-->
                <input type="hidden"  name="{{item.style.fc_image}}"
                       value="{{item.style.styleId | path : '/images/foxy/' : '.png'}}"/>
                <!--<input type="hidden"  name="{{item.style.fc_url}}"-->
                       <!--value="/review/{{item.style.styleId}}/{{param(form)}}"/>-->
                <!-- Custom Product Options -->
                <input type="hidden"  name="{{item.style.fc_neckline}}"
                       ng-disabled="(!form.design.neckline.id ) || ('000' === form.design.neckline.id )"
                       value="{{form.design.neckline | lookup}} {{form.design.neckline|fablookup}} {{form.design.neckline.trim|trimlookup}} ({{form.design.neckline.type}}-{{form.design.neckline.id}}-{{form.design.neckline.size}}-{{form.design.neckline.fabric}})"/>

                <input type="hidden"  name="{{item.style.fc_sleeves}}"
                       ng-disabled="(!form.design.sleeves.id ) || ('000' === form.design.sleeves.id )"
                       value="{{form.design.sleeves | lookup}} {{form.design.sleeves|fablookup}} {{form.design.sleeves.trim|trimlookup}} ({{form.design.sleeves.type}}-{{form.design.sleeves.id}}-{{form.design.sleeves.size}}-{{form.design.sleeves.fabric}})"/>

                <input type="hidden"  name="{{item.style.fc_skirt}}"
                       ng-disabled="(!form.design.skirt.id ) || ('000' === form.design.skirt.id )"
                       value="{{form.design.skirt | lookup}} {{form.design.skirt|fablookup}} {{form.design.skirt.trim|trimlookup}} ({{form.design.skirt.type}}-{{form.design.skirt.id}}-{{form.design.skirt.size}}-{{form.design.skirt.fabric}})"/>

                <input type="hidden"  name="{{item.style.fc_peplum}}"
                       value="{{form.extras.peplum | lookup}} {{form.extras.peplum|fablookup}} {{form.extras.peplum.trim|trimlookup}} ({{form.extras.peplum.type}}-{{form.extras.peplum.id}}-{{form.extras.peplum.size}}-{{form.extras.peplum.fabric}})"
                       ng-disabled="(!form.extras.peplum.id ) || ('000' === form.extras.peplum.id ) || ('000' === form.extras.peplum.fabric)"/>

                <input type="hidden"  name="{{item.style.fc_rosetta}}"
                       value="{{form.extras.rosetta | lookup}} {{form.extras.rosetta|fablookup}} {{form.extras.neckline.trim|trimlookup}} ({{form.extras.rosetta.type}}-{{form.extras.rosetta.id}}-{{form.extras.rosetta.size}}-{{form.extras.rosetta.fabric}})"
                       ng-disabled="(!form.extras.rosetta.id ) || ('000' === form.extras.rosetta.id ) || ('000' === form.extras.rosetta.fabric)"/>

                <input type="hidden"  name="{{item.style.fc_belt}}"
                       value="{{form.extras.belt | lookup}} {{form.extras.belt|fablookup}} {{form.extras.belt.trim|trimlookup}} ({{form.extras.belt.type}}-{{form.extras.belt.id}}-{{form.extras.belt.size}}-{{form.extras.belt.fabric}})"
                       ng-disabled="(!form.extras.belt.id ) || (('004' === form.extras.belt.id) || ('000' === form.extras.belt.id) ) && !('obi' === item.style.styleId)"/>

            <input type="hidden"  name="{{item.style.fc_size}}"
                   value="{{sizing.size}}"/>
            <input type="hidden"  name="{{item.style.fc_bust}}"
                   value="{{sizing.bust}}"/>
            <input type="hidden"  name="{{item.style.fc_waist}}"
                   value="{{sizing.waist}}"/>
            <input type="hidden"  name="{{item.style.fc_hips}}"
                   value="{{sizing.hips}}"/>
            <input type="hidden"  name="{{item.style.fc_height}}"
                   value="{{sizing.height}}"/>
            <input type="hidden" name="2:category||e3c8a0bd603c0fa4886e3f833677279f9fd7b50cc23f642dfa30844edfe49896" value="belt"
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>
            <input type="hidden" name="2:code||02792fa86973c71335d7f9bd29e7ed014d4a4e303ca6e1ce98f483d1a5ba99f2" value="obi"
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>
            <input type="hidden" name="2:name||84c52bf6a270241e176547b2f5b7a56679e6c2369b021b918d660845d25beea9||open" value="Leather Obi Belt"
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>
            <input type="hidden" name="2:price||c1acd92502d8d2db8225bdb18af9873a1665b19521697357dd40355d74adc8e8" value="650"
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>
            <input type="hidden" name="2:image||81bc834c1aa540a88ccd3aa4bae3ad17c33c50e5f2a2ad2efce6e7a59b5f529b||open" value="/images/foxy/obi.png"
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>
            <input type="hidden" name="2:url||52693139736b116cba30d786d732693cb92a7c3279017654a4f2126ad82d32b2||open" value=""
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>
            <!-- Custom Product Options -->
            <input type="hidden" name="2:belt||ceaf82467f55a4f527f710177ee2eaa6952f05278595a478560e0b1c8edaaeef||open"
                   value="{{form.extras.belt | lookup}} {{form.extras.belt|fablookup}} {{form.extras.belt.trim|trimlookup}} ({{form.extras.belt.type}}-{{form.extras.belt.id}}-{{form.extras.belt.size}}-{{form.extras.belt.fabric}})"
                   ng-disabled="!('004' === form.extras.belt.id ) || ('obi' === item.style.styleId)"/>

        </div>
        <div class="container-fluid">
            <div class="row">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th colspan="2">Style</th>
                        <th colspan="3">Material</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="design in form.design" ng-class-even="'alt'" ng-hide="'000'=== design.id">
                        <td colspan="2">
                            <span title={{design.type+"-"+design.id+"-"+design.size}}>{{design | lookup}}</span></td>
                        <td colspan="3"><span> {{design|fablookup}} {{design.trim|trimlookup}}</span></td>
                    </tr>
                    <!--<tr>-->
                    <!--<td colspan="5"> &nbsp</td>-->
                    <!--</tr>-->
                    </tbody>
                    <thead>
                    <tr>
                        <th colspan="2">Accessory</th>
                        <th colspan="3">Material</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="design in form.extras" ng-class-even="'alt'" ng-hide="'000'=== design.id">
                        <td colspan="2">
                            <span title={{design.type+"-"+design.id+"-"+design.size}}>{{design | lookup}}</span>
                        </td>
                        <td colspan="3">{{design|fablookup}} {{design|trimlookup}}</td>

                    </tr>
                    <!--<tr>-->
                    <!--<td colspan="5"> &nbsp</td>-->
                    <!--</tr>-->
                    </tbody>

                    <thead>
                    <tr>
                        <th>Option</th>
                        <th colspan="4">Measurement</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class-even="'alt'">
                        <td class="bold">Dress size</td>
                        <td colspan="4">{{sizing.size}}</td>
                    </tr>
                    <tr ng-class-even="'alt'">
                        <td class="bold">Bust</td>
                        <td colspan="2">{{sizing.bust}} <span ng-show="sizing.bust">cm</span><span ng-hide="sizing.bust">- - -</span></td>
                        <td class="bold">Waist</td>
                        <td colspan="2">{{sizing.waist}} <span ng-show="sizing.waist">cm</span><span ng-hide="sizing.waist">- - -</span></td>
                    </tr>
                    <tr ng-class-even="'alt'">
                        <td class="bold">Hips</td>
                        <td colspan="2">{{sizing.hips}} <span ng-show="sizing.hips">cm</span><span ng-hide="sizing.hips">- - -</span></td>
                        <td class="bold">Height</td>
                        <td colspan="2">{{sizing.height}} <span ng-show="sizing.height">cm</span><span ng-hide="sizing.height">- - -</span></td>
                    </tr>
                    </tbody>
                </table>
                <!--<div class="row" style="text-align: center">-->
                    <!--<a data-toggle="modal" data-target="#spec-sheet-modal">Detailed Spec Sheet</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>