<div id="shopItemView" class="container">

    <div class="row">
        <div class="col-sm-5">
            <div id="dress_image_panel" class="row">
                <div class="image col-sm-8 col-sm-push-3">
                    <img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : view}}"
                         alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"
                         class="img-responsive">
                </div>
                <div class="views col-sm-3 col-sm-pull-8">
                    <div class="row">
                        <div id="front" class="col-xs-4 col-sm-12">
                            <img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-front.jpg'}}"
                                 alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"
                                 ng-click="view='-lg-front.jpg'"
                                 class="img-responsive img-thumbnail">
                        </div>
                        <div id="back" class="col-xs-4  col-sm-12">
                            <img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-back.jpg'}}"
                                 alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"
                                 ng-click="view='-lg-back.jpg'"
                                 class="img-responsive img-thumbnail">
                        </div>
                        <div id="dress" class="col-xs-4  col-sm-12">
                            <img ng-src="{{item.itemDesign.itemId | path : '/images/collection/' : '-lg-dress.jpg'}}"
                                 alt="{{item.style.styleName}} - {{item.itemDesign.itemDesc}}"
                                 ng-click="view='-lg-dress.jpg'"
                                 class="img-responsive img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 .hidden-xs">
            <div class="breaded">
                <ul class="nav" id="options">
                    <li ng-class="{active: true}">
                        <a href="#">Style</a>
                    </li>
                    <li ng-class="{active: false}">
                        <a href="#!/item/{{item.style.styleId}}/{{item.itemDesign.itemId}}/fit">Fit</a>
                    </li>
                    <li>
                        <a href="#!/item/{{item.style.styleId}}/{{item.itemDesign.itemId}}/order">Review</a>
                    </li>
                </ul>
            </div>
            <div ng-include="'/views/ng-partials/partial-style.html'"></div>
        </div>
    </div>
</div>
<!-- /designBuildView -->