<div id="shopItemView" class="container" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-sm-5">
            <div ng-include="'/views/ng-partials/partial-item-images.html'"></div>
        </div>

        <div id="builder_controls_panel" class="col-sm-7">
            <div class="breaded">
                <ul class="nav" id="options">
                    <li ng-class="{active: true}">
                        <a href="#">Style</a>
                    </li>
                    <li ng-class="{active: false}">
                        <a ng-href="/shop/collection/{{item.style.styleId}}/{{item.itemDesign.itemId}}/fit"
                           ng-click="gaEvent('nav', 'click', 'collection-item-fit');">Fit</a>
                    </li>
                    <li>
                        <!--<a ng-href="/collection/{{item.style.styleId}}/{{item.itemDesign.itemId}}/order">Review</a>-->
                        <a>Checkout</a>
                    </li>
                </ul>
            </div>
            <div ng-include="'/views/ng-partials/partial-style.html'"></div>
        </div>
    </div>
</div>
<!-- /designBuildView -->