---
title: AURZA - Design Builder
---

<!--data-description="current_description"-->
<div ng-controller="appController" id="top">
    <div ng-include="'views/modal.html'"></div>
    <!--<div ng-include="'views/idggHeader.html'"></div>-->
    <!--<div ng-include="'/views/partials/header.html'"></div>-->
    <div class="alert alert-info" ng-show="loading">Loading</div>
    <div ng-view></div>
    <!--<div ng-include="'/views/partials/footer.html'"></div>-->
</div>