/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:15accee5d51a4561b858018e7d8588d1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-005 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/005.png);}

.blt-002-005 {width:200px; height:137px; background-position: -1618px -582px}
.blt-003-005 {width:200px; height:258px; background-position: -1417px -460px}
.ext-002-005 {width:200px; height:188px; background-position: -1212px -672px}
.ext-003-005 {width:200px; height:70px; background-position: -808px -789px}
.nek-001-005 {width:202px; height:134px; background-position: -812px -0px}
.nek-002-005 {width:200px; height:134px; background-position: -1413px -719px}
.nek-003-005 {width:202px; height:134px; background-position: -609px -0px}
.nek-004-005 {width:200px; height:133px; background-position: -1819px -582px}
.nek-006-005 {width:201px; height:133px; background-position: -1418px -326px}
.nek-007-005 {width:201px; height:133px; background-position: -1015px -0px}
.nek-009-005 {width:200px; height:131px; background-position: -1614px -720px}
.nek-010-005 {width:200px; height:131px; background-position: -1819px -716px}
.skt-010-005 {width:200px; height:349px; background-position: -0px -317px}
.skt-011-005 {width:200px; height:290px; background-position: -1820px -0px}
.skt-012-005 {width:200px; height:326px; background-position: -607px -485px}
.skt-013-005 {width:200px; height:326px; background-position: -810px -462px}
.skt-014-005 {width:200px; height:349px; background-position: -406px -298px}
.skt-022-005 {width:200px; height:326px; background-position: -810px -135px}
.skt-024-005 {width:200px; height:349px; background-position: -609px -135px}
.skt-030-005 {width:200px; height:349px; background-position: -1015px -134px}
.skt-031-005 {width:200px; height:309px; background-position: -1011px -484px}
.skt-032-005 {width:200px; height:336px; background-position: -201px -317px}
.skt-034-005 {width:200px; height:349px; background-position: -1217px -0px}
.skt-050-005 {width:200px; height:325px; background-position: -1418px -0px}
.skt-051-005 {width:200px; height:290px; background-position: -1620px -291px}
.skt-052-005 {width:200px; height:321px; background-position: -1216px -350px}
.skt-053-005 {width:200px; height:290px; background-position: -1619px -0px}
.skt-070-005 {width:202px; height:316px; background-position: -203px -0px}
.skt-071-005 {width:202px; height:297px; background-position: -406px -0px}
.skt-072-005 {width:202px; height:316px; background-position: -0px -0px}
.slv-001-005 {width:200px; height:90px; background-position: -1821px -291px}
.slv-002-005 {width:200px; height:89px; background-position: -1821px -382px}
.slv-006-005 {width:200px; height:205px; background-position: -402px -648px}
.slv-007-005 {width:200px; height:202px; background-position: -0px -667px}
.slv-009-005 {width:200px; height:203px; background-position: -201px -654px}
.trm-nek-009-005 {width:200px; height:65px; background-position: -1009px -794px}
