/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:f4b156d452f44934d4905e67acdaa6be$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-008 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/008.png);}

.blt-002-008 {width:200px; height:137px; background-position: -0px -704px}
.blt-003-008 {width:200px; height:258px; background-position: -1608px -317px}
.ext-002-008 {width:200px; height:189px; background-position: -810px -692px}
.ext-003-008 {width:200px; height:71px; background-position: -1413px -802px}
.nek-001-008 {width:202px; height:133px; background-position: -607px -700px}
.nek-002-008 {width:202px; height:133px; background-position: -404px -700px}
.nek-003-008 {width:202px; height:135px; background-position: -201px -704px}
.nek-004-008 {width:200px; height:135px; background-position: -1815px -566px}
.nek-006-008 {width:201px; height:133px; background-position: -1815px -432px}
.nek-007-008 {width:201px; height:133px; background-position: -1815px -298px}
.nek-009-008 {width:200px; height:131px; background-position: -1614px -712px}
.nek-010-008 {width:200px; height:135px; background-position: -1614px -576px}
.skt-010-008 {width:200px; height:349px; background-position: -804px -0px}
.skt-011-008 {width:200px; height:351px; background-position: -201px -352px}
.skt-012-008 {width:200px; height:351px; background-position: -201px -0px}
.skt-013-008 {width:200px; height:351px; background-position: -0px -352px}
.skt-014-008 {width:200px; height:349px; background-position: -603px -350px}
.skt-022-008 {width:200px; height:351px; background-position: -0px -0px}
.skt-024-008 {width:200px; height:349px; background-position: -603px -0px}
.skt-030-008 {width:200px; height:349px; background-position: -402px -350px}
.skt-031-008 {width:200px; height:318px; background-position: -1206px -0px}
.skt-032-008 {width:200px; height:341px; background-position: -804px -350px}
.skt-034-008 {width:200px; height:349px; background-position: -402px -0px}
.skt-050-008 {width:200px; height:325px; background-position: -1005px -0px}
.skt-051-008 {width:200px; height:290px; background-position: -1407px -317px}
.skt-052-008 {width:200px; height:321px; background-position: -1005px -326px}
.skt-053-008 {width:200px; height:290px; background-position: -1206px -319px}
.skt-070-008 {width:202px; height:316px; background-position: -1610px -0px}
.skt-071-008 {width:202px; height:297px; background-position: -1813px -0px}
.skt-072-008 {width:202px; height:316px; background-position: -1407px -0px}
.slv-001-008 {width:200px; height:80px; background-position: -1815px -792px}
.slv-002-008 {width:200px; height:89px; background-position: -1815px -702px}
.slv-006-008 {width:200px; height:214px; background-position: -1011px -648px}
.slv-007-008 {width:200px; height:193px; background-position: -1413px -608px}
.slv-009-008 {width:200px; height:209px; background-position: -1212px -610px}
.trm-nek-009-008 {width:200px; height:65px; background-position: -1212px -820px}
