/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:57bfba6234a062ed2c3093471912754a:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-010 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/010.png);}

.blt-003-010 {width:200px; height:258px; background-position: -1007px -291px}
.ext-003-010 {width:200px; height:71px; background-position: -806px -878px}
.nek-001-010 {width:200px; height:136px; background-position: -1007px -731px}
.nek-002-010 {width:202px; height:135px; background-position: -804px -617px}
.nek-003-010 {width:200px; height:135px; background-position: -201px -690px}
.nek-004-010 {width:200px; height:134px; background-position: -402px -680px}
.nek-006-010 {width:201px; height:133px; background-position: -403px -815px}
.nek-007-010 {width:201px; height:133px; background-position: -201px -826px}
.nek-009-010 {width:200px; height:131px; background-position: -605px -784px}
.nek-010-010 {width:200px; height:132px; background-position: -603px -651px}
.skt-011-010 {width:200px; height:339px; background-position: -402px -340px}
.skt-012-010 {width:200px; height:339px; background-position: -402px -0px}
.skt-014-010 {width:200px; height:349px; background-position: -201px -0px}
.skt-022-010 {width:200px; height:339px; background-position: -201px -350px}
.skt-024-010 {width:200px; height:349px; background-position: -0px -351px}
.skt-032-010 {width:200px; height:328px; background-position: -603px -0px}
.skt-034-010 {width:200px; height:350px; background-position: -0px -0px}
.skt-051-010 {width:200px; height:290px; background-position: -1007px -0px}
.skt-052-010 {width:200px; height:321px; background-position: -603px -329px}
.skt-071-010 {width:202px; height:299px; background-position: -804px -317px}
.skt-072-010 {width:202px; height:316px; background-position: -804px -0px}
.slv-001-010 {width:200px; height:90px; background-position: -0px -877px}
.slv-002-010 {width:200px; height:89px; background-position: -1007px -868px}
.slv-006-010 {width:200px; height:124px; background-position: -806px -753px}
.slv-007-010 {width:200px; height:175px; background-position: -0px -701px}
.slv-009-010 {width:200px; height:180px; background-position: -1007px -550px}
.trm-nek-009-010 {width:200px; height:65px; background-position: -605px -916px}
