/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:7acb1ff10943b22565fff7fbb9c41120$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-010 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/010.png);}

.blt-002-010 {width:200px; height:137px; background-position: -0px -702px}
.blt-003-010 {width:200px; height:258px; background-position: -1409px -302px}
.ext-002-010 {width:200px; height:188px; background-position: -1007px -648px}
.ext-003-010 {width:200px; height:71px; background-position: -1409px -561px}
.nek-001-010 {width:202px; height:134px; background-position: -201px -700px}
.nek-002-010 {width:202px; height:135px; background-position: -1610px -436px}
.nek-003-010 {width:202px; height:135px; background-position: -1610px -300px}
.nek-004-010 {width:200px; height:134px; background-position: -404px -690px}
.nek-006-010 {width:201px; height:133px; background-position: -1410px -633px}
.nek-007-010 {width:201px; height:133px; background-position: -1208px -634px}
.nek-009-010 {width:200px; height:131px; background-position: -1813px -582px}
.nek-010-010 {width:200px; height:132px; background-position: -1612px -572px}
.skt-010-010 {width:200px; height:349px; background-position: -402px -0px}
.skt-011-010 {width:200px; height:339px; background-position: -804px -0px}
.skt-012-010 {width:200px; height:339px; background-position: -603px -340px}
.skt-013-010 {width:200px; height:339px; background-position: -603px -0px}
.skt-014-010 {width:200px; height:349px; background-position: -201px -350px}
.skt-022-010 {width:200px; height:339px; background-position: -402px -350px}
.skt-024-010 {width:200px; height:349px; background-position: -201px -0px}
.skt-030-010 {width:200px; height:350px; background-position: -0px -351px}
.skt-031-010 {width:200px; height:301px; background-position: -1409px -0px}
.skt-032-010 {width:200px; height:328px; background-position: -804px -340px}
.skt-034-010 {width:200px; height:350px; background-position: -0px -0px}
.skt-050-010 {width:200px; height:325px; background-position: -1005px -0px}
.skt-051-010 {width:200px; height:290px; background-position: -1813px -291px}
.skt-052-010 {width:200px; height:321px; background-position: -1005px -326px}
.skt-053-010 {width:200px; height:290px; background-position: -1813px -0px}
.skt-070-010 {width:202px; height:316px; background-position: -1206px -317px}
.skt-071-010 {width:202px; height:299px; background-position: -1610px -0px}
.skt-072-010 {width:202px; height:316px; background-position: -1206px -0px}
.slv-001-010 {width:200px; height:90px; background-position: -1612px -705px}
.slv-002-010 {width:200px; height:89px; background-position: -1410px -767px}
.slv-006-010 {width:200px; height:124px; background-position: -1813px -714px}
.slv-007-010 {width:200px; height:175px; background-position: -605px -680px}
.slv-009-010 {width:200px; height:180px; background-position: -806px -669px}
.trm-nek-009-010 {width:200px; height:65px; background-position: -1208px -768px}
