/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2dadcc97058c96cdbfe29a08a6c234d1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-012 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/012.png);}

.blt-002-012 {width:200px; height:137px; background-position: -0px -700px}
.blt-003-012 {width:200px; height:258px; background-position: -1411px -610px}
.ext-002-012 {width:200px; height:188px; background-position: -605px -662px}
.ext-003-012 {width:200px; height:72px; background-position: -1208px -770px}
.nek-001-012 {width:202px; height:135px; background-position: -1208px -634px}
.nek-002-012 {width:202px; height:135px; background-position: -201px -700px}
.nek-003-012 {width:202px; height:132px; background-position: -1612px -291px}
.nek-004-012 {width:200px; height:135px; background-position: -1610px -424px}
.nek-006-012 {width:201px; height:133px; background-position: -1612px -561px}
.nek-007-012 {width:201px; height:133px; background-position: -1811px -427px}
.nek-009-012 {width:200px; height:131px; background-position: -1612px -695px}
.nek-010-012 {width:200px; height:135px; background-position: -1815px -291px}
.skt-010-012 {width:200px; height:349px; background-position: -402px -0px}
.skt-011-012 {width:200px; height:330px; background-position: -804px -331px}
.skt-012-012 {width:200px; height:330px; background-position: -804px -0px}
.skt-013-012 {width:200px; height:330px; background-position: -603px -331px}
.skt-014-012 {width:200px; height:349px; background-position: -201px -350px}
.skt-022-012 {width:200px; height:330px; background-position: -603px -0px}
.skt-024-012 {width:200px; height:349px; background-position: -201px -0px}
.skt-030-012 {width:200px; height:349px; background-position: -0px -350px}
.skt-031-012 {width:200px; height:293px; background-position: -1409px -316px}
.skt-032-012 {width:200px; height:332px; background-position: -402px -350px}
.skt-034-012 {width:200px; height:349px; background-position: -0px -0px}
.skt-050-012 {width:200px; height:325px; background-position: -1005px -0px}
.skt-051-012 {width:200px; height:290px; background-position: -1813px -0px}
.skt-052-012 {width:200px; height:321px; background-position: -1005px -326px}
.skt-053-012 {width:200px; height:290px; background-position: -1612px -0px}
.skt-070-012 {width:202px; height:316px; background-position: -1206px -317px}
.skt-071-012 {width:202px; height:315px; background-position: -1409px -0px}
.skt-072-012 {width:202px; height:316px; background-position: -1206px -0px}
.slv-001-012 {width:200px; height:90px; background-position: -1814px -561px}
.slv-002-012 {width:200px; height:89px; background-position: -1814px -652px}
.slv-006-012 {width:200px; height:184px; background-position: -404px -683px}
.slv-007-012 {width:200px; height:182px; background-position: -806px -662px}
.slv-009-012 {width:200px; height:181px; background-position: -1007px -648px}
.trm-nek-009-012 {width:200px; height:65px; background-position: -1813px -742px}
