/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:bfbe856718eb10013b5c060c88b685bb:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-085 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/085.png);}

.ext-001-00-085 {width:200px; height:143px; background-position: -402px -633px}
.nek-014-02-085 {width:200px; height:335px; background-position: -402px -0px}
.nek-014-03-085 {width:200px; height:296px; background-position: -402px -336px}
.nek-015-02-085 {width:200px; height:335px; background-position: -201px -456px}
.nek-015-03-085 {width:200px; height:296px; background-position: -603px -314px}
.nek-017-02-085 {width:200px; height:313px; background-position: -804px -0px}
.nek-017-05-085 {width:200px; height:455px; background-position: -201px -0px}
.nek-018-02-085 {width:200px; height:313px; background-position: -603px -0px}
.nek-018-05-085 {width:200px; height:455px; background-position: -0px -457px}
.slv-001-00-085 {width:200px; height:90px; background-position: -603px -804px}
.slv-006-00-085 {width:200px; height:191px; background-position: -804px -733px}
.slv-007-00-085 {width:200px; height:192px; background-position: -603px -611px}
.slv-008-00-085 {width:200px; height:194px; background-position: -804px -538px}
.slv-011-00-085 {width:200px; height:223px; background-position: -804px -314px}
.slv-013-00-085 {width:200px; height:130px; background-position: -402px -777px}
.slv-014-00-085 {width:200px; height:130px; background-position: -201px -792px}
.slv-016-00-085 {width:200px; height:456px; background-position: -0px -0px}
