/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:18874137e31c018e0daeb43f5cf2f1b5:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-088 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/088.png);}

.ext-001-00-088 {width:200px; height:143px; background-position: -201px -772px}
.nek-014-02-088 {width:200px; height:329px; background-position: -0px -458px}
.nek-014-03-088 {width:200px; height:296px; background-position: -603px -613px}
.nek-015-02-088 {width:200px; height:329px; background-position: -402px -457px}
.nek-015-03-088 {width:200px; height:298px; background-position: -603px -314px}
.nek-017-02-088 {width:200px; height:313px; background-position: -603px -0px}
.nek-017-05-088 {width:200px; height:457px; background-position: -201px -0px}
.nek-018-02-088 {width:200px; height:313px; background-position: -201px -458px}
.nek-018-05-088 {width:200px; height:457px; background-position: -0px -0px}
.slv-001-00-088 {width:200px; height:90px; background-position: -804px -826px}
.slv-006-00-088 {width:200px; height:213px; background-position: -804px -224px}
.slv-007-00-088 {width:200px; height:192px; background-position: -804px -633px}
.slv-008-00-088 {width:200px; height:194px; background-position: -804px -438px}
.slv-011-00-088 {width:200px; height:223px; background-position: -804px -0px}
.slv-013-00-088 {width:200px; height:130px; background-position: -402px -787px}
.slv-014-00-088 {width:200px; height:130px; background-position: -0px -788px}
.slv-016-00-088 {width:200px; height:456px; background-position: -402px -0px}
