/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:cfe35f5bcac5b6947ed90e9314c5b242:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-089 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/089.png);}

.ext-001-00-089 {width:200px; height:143px; background-position: -201px -757px}
.nek-014-02-089 {width:200px; height:327px; background-position: -603px -0px}
.nek-014-03-089 {width:200px; height:298px; background-position: -201px -458px}
.nek-015-02-089 {width:200px; height:327px; background-position: -0px -458px}
.nek-015-03-089 {width:200px; height:298px; background-position: -603px -328px}
.nek-017-02-089 {width:200px; height:320px; background-position: -804px -0px}
.nek-017-05-089 {width:200px; height:457px; background-position: -201px -0px}
.nek-018-02-089 {width:200px; height:319px; background-position: -804px -321px}
.nek-018-05-089 {width:200px; height:457px; background-position: -0px -0px}
.slv-001-00-089 {width:200px; height:90px; background-position: -0px -786px}
.slv-007-00-089 {width:200px; height:192px; background-position: -603px -627px}
.slv-008-00-089 {width:200px; height:194px; background-position: -402px -681px}
.slv-011-00-089 {width:200px; height:223px; background-position: -402px -457px}
.slv-013-00-089 {width:200px; height:130px; background-position: -804px -775px}
.slv-014-00-089 {width:200px; height:133px; background-position: -804px -641px}
.slv-016-00-089 {width:200px; height:456px; background-position: -402px -0px}
