/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2fb6a8bd46e6c1ecda128820d5c471d4$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-120 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/120.png);}

.blt-004-120 {width:200px; height:231px; background-position: -1608px -501px}
.ext-002-120 {width:200px; height:209px; background-position: -1206px -291px}
.ext-003-120 {width:200px; height:70px; background-position: -804px -929px}
.nek-001-120 {width:200px; height:132px; background-position: -1407px -672px}
.nek-002-120 {width:200px; height:133px; background-position: -1407px -538px}
.nek-003-120 {width:200px; height:132px; background-position: -1005px -709px}
.nek-004-120 {width:200px; height:132px; background-position: -1206px -638px}
.nek-006-120 {width:200px; height:133px; background-position: -1005px -575px}
.nek-007-120 {width:143px; height:100px; background-position: -1545px -883px}
.nek-014-120 {width:200px; height:137px; background-position: -1005px -437px}
.nek-015-120 {width:200px; height:137px; background-position: -1005px -299px}
.nek-016-120 {width:200px; height:136px; background-position: -1206px -501px}
.skt-010-120 {width:200px; height:345px; background-position: -201px -353px}
.skt-011-120 {width:200px; height:298px; background-position: -1005px -0px}
.skt-012-120 {width:200px; height:329px; background-position: -402px -660px}
.skt-013-120 {width:200px; height:329px; background-position: -402px -330px}
.skt-014-120 {width:200px; height:352px; background-position: -201px -0px}
.skt-022-120 {width:200px; height:329px; background-position: -402px -0px}
.skt-024-120 {width:200px; height:352px; background-position: -0px -358px}
.skt-051-120 {width:200px; height:290px; background-position: -1206px -0px}
.skt-052-120 {width:200px; height:314px; background-position: -804px -0px}
.skt-053-120 {width:200px; height:290px; background-position: -0px -711px}
.skt-070-120 {width:200px; height:320px; background-position: -603px -658px}
.skt-071-120 {width:200px; height:300px; background-position: -201px -699px}
.skt-072-120 {width:137px; height:199px; background-position: -1407px -805px}
.skt-100-120 {width:200px; height:306px; background-position: -804px -622px}
.skt-102-120 {width:200px; height:306px; background-position: -804px -315px}
.skt-103-120 {width:200px; height:328px; background-position: -603px -329px}
.slv-001-120 {width:200px; height:83px; background-position: -1206px -885px}
.slv-002-120 {width:200px; height:83px; background-position: -1608px -733px}
.slv-006-120 {width:200px; height:251px; background-position: -1608px -0px}
.slv-007-120 {width:200px; height:247px; background-position: -1407px -290px}
.slv-009-120 {width:200px; height:248px; background-position: -1608px -252px}
.slv-013-120 {width:200px; height:112px; background-position: -1005px -842px}
.slv-014-120 {width:200px; height:113px; background-position: -1206px -771px}
.trm-nek-009-120 {width:200px; height:65px; background-position: -1545px -817px}
.trm-skt-001-120 {width:200px; height:357px; background-position: -0px -0px}
.trm-skt-002-120 {width:200px; height:328px; background-position: -603px -0px}
.trm-skt-003-120 {width:200px; height:289px; background-position: -1407px -0px}
