/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2bfc400003edd1ae85d887e0e6405a05:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-120 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/120.png);}

.blt-004-00-120 {width:200px; height:231px; background-position: -603px -1185px}
.ext-002-00-120 {width:200px; height:209px; background-position: -804px -847px}
.ext-003-00-120 {width:200px; height:70px; background-position: -804px -1894px}
.nek-001-00-120 {width:200px; height:132px; background-position: -603px -1888px}
.nek-002-00-120 {width:200px; height:133px; background-position: -804px -1328px}
.nek-003-00-120 {width:200px; height:132px; background-position: -603px -1755px}
.nek-004-00-120 {width:200px; height:132px; background-position: -804px -1462px}
.nek-006-00-120 {width:200px; height:133px; background-position: -804px -1194px}
.nek-007-00-120 {width:143px; height:100px; background-position: -804px -1709px}
.nek-014-00-120 {width:200px; height:137px; background-position: -603px -1417px}
.nek-014-02-120 {width:200px; height:328px; background-position: -0px -1387px}
.nek-014-03-120 {width:200px; height:296px; background-position: -603px -636px}
.nek-015-00-120 {width:200px; height:137px; background-position: -402px -1809px}
.nek-015-02-120 {width:200px; height:328px; background-position: -603px -0px}
.nek-015-03-120 {width:200px; height:296px; background-position: -402px -974px}
.nek-016-00-120 {width:200px; height:136px; background-position: -804px -1057px}
.skt-010-00-120 {width:200px; height:345px; background-position: -0px -711px}
.skt-011-00-120 {width:200px; height:298px; background-position: -201px -1333px}
.skt-012-00-120 {width:200px; height:329px; background-position: -0px -1057px}
.skt-013-00-120 {width:200px; height:329px; background-position: -402px -0px}
.skt-014-00-120 {width:200px; height:352px; background-position: -201px -0px}
.skt-022-00-120 {width:200px; height:329px; background-position: -201px -353px}
.skt-024-00-120 {width:200px; height:352px; background-position: -0px -358px}
.skt-051-00-120 {width:200px; height:290px; background-position: -201px -1632px}
.skt-052-00-120 {width:200px; height:314px; background-position: -402px -659px}
.skt-053-00-120 {width:200px; height:290px; background-position: -804px -307px}
.skt-070-00-120 {width:200px; height:320px; background-position: -201px -1012px}
.skt-071-00-120 {width:200px; height:300px; background-position: -0px -1716px}
.skt-072-00-120 {width:137px; height:199px; background-position: -603px -1555px}
.skt-100-00-120 {width:200px; height:306px; background-position: -804px -0px}
.skt-102-00-120 {width:200px; height:306px; background-position: -603px -329px}
.skt-103-00-120 {width:200px; height:328px; background-position: -402px -330px}
.slv-001-00-120 {width:200px; height:83px; background-position: -804px -1810px}
.slv-002-00-120 {width:200px; height:83px; background-position: -402px -1947px}
.slv-006-00-120 {width:200px; height:251px; background-position: -603px -933px}
.slv-007-00-120 {width:200px; height:247px; background-position: -402px -1561px}
.slv-009-00-120 {width:200px; height:248px; background-position: -804px -598px}
.slv-013-00-120 {width:200px; height:112px; background-position: -201px -1923px}
.slv-014-00-120 {width:200px; height:113px; background-position: -741px -1595px}
.trm-nek-009-00-120 {width:200px; height:65px; background-position: -804px -1965px}
.trm-skt-001-00-120 {width:200px; height:357px; background-position: -0px -0px}
.trm-skt-002-00-120 {width:200px; height:328px; background-position: -201px -683px}
.trm-skt-003-00-120 {width:200px; height:289px; background-position: -402px -1271px}
