/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:f47b2ea255db2be4899bf55f0a48768d$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-121 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/121.png);}

.blt-004-121 {width:200px; height:232px; background-position: -0px -5906px}
.ext-002-121 {width:200px; height:209px; background-position: -0px -6139px}
.ext-003-121 {width:200px; height:71px; background-position: -0px -7576px}
.nek-001-121 {width:200px; height:132px; background-position: -0px -7162px}
.nek-002-121 {width:200px; height:133px; background-position: -0px -6762px}
.nek-003-121 {width:200px; height:132px; background-position: -0px -7029px}
.nek-004-121 {width:200px; height:132px; background-position: -0px -6896px}
.nek-014-121 {width:200px; height:137px; background-position: -0px -6487px}
.nek-015-121 {width:200px; height:137px; background-position: -0px -6349px}
.nek-016-121 {width:200px; height:136px; background-position: -0px -6625px}
.skt-010-121 {width:200px; height:345px; background-position: -0px -1059px}
.skt-011-121 {width:200px; height:323px; background-position: -0px -2735px}
.skt-012-121 {width:200px; height:331px; background-position: -0px -2403px}
.skt-013-121 {width:200px; height:331px; background-position: -0px -2071px}
.skt-014-121 {width:200px; height:345px; background-position: -0px -713px}
.skt-022-121 {width:200px; height:331px; background-position: -0px -1739px}
.skt-024-121 {width:200px; height:354px; background-position: -0px -358px}
.skt-051-121 {width:200px; height:290px; background-position: -0px -4577px}
.skt-052-121 {width:200px; height:314px; background-position: -0px -3059px}
.skt-053-121 {width:200px; height:290px; background-position: -0px -4286px}
.skt-071-121 {width:200px; height:297px; background-position: -0px -3988px}
.skt-072-121 {width:148px; height:204px; background-position: -0px -7714px}
.skt-100-121 {width:200px; height:306px; background-position: -0px -3681px}
.skt-102-121 {width:200px; height:306px; background-position: -0px -3374px}
.skt-103-121 {width:200px; height:333px; background-position: -0px -1405px}
.slv-001-121 {width:200px; height:83px; background-position: -0px -7409px}
.slv-002-121 {width:200px; height:82px; background-position: -0px -7493px}
.slv-006-121 {width:200px; height:251px; background-position: -0px -5158px}
.slv-007-121 {width:200px; height:246px; background-position: -0px -5659px}
.slv-009-121 {width:200px; height:248px; background-position: -0px -5410px}
.slv-013-121 {width:200px; height:113px; background-position: -0px -7295px}
.trm-nek-009-121 {width:200px; height:65px; background-position: -0px -7648px}
.trm-skt-001-121 {width:200px; height:357px; background-position: -0px -0px}
.trm-skt-003-121 {width:200px; height:289px; background-position: -0px -4868px}
