/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:a0ae6ab43250f211814902f03009927b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-122 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/122.png);}

.blt-004-122 {width:200px; height:232px; background-position: -0px -6225px}
.ext-002-122 {width:200px; height:209px; background-position: -0px -6458px}
.ext-003-122 {width:200px; height:71px; background-position: -0px -7931px}
.nek-001-122 {width:200px; height:132px; background-position: -0px -7517px}
.nek-002-122 {width:200px; height:133px; background-position: -0px -7250px}
.nek-003-122 {width:200px; height:132px; background-position: -0px -7384px}
.nek-004-122 {width:200px; height:134px; background-position: -0px -7115px}
.nek-014-122 {width:200px; height:171px; background-position: -0px -6668px}
.nek-015-122 {width:200px; height:137px; background-position: -0px -6840px}
.nek-016-122 {width:200px; height:136px; background-position: -0px -6978px}
.skt-010-122 {width:200px; height:345px; background-position: -0px -1059px}
.skt-011-122 {width:200px; height:316px; background-position: -0px -3048px}
.skt-012-122 {width:200px; height:331px; background-position: -0px -2070px}
.skt-013-122 {width:200px; height:331px; background-position: -0px -1738px}
.skt-014-122 {width:200px; height:345px; background-position: -0px -713px}
.skt-022-122 {width:200px; height:332px; background-position: -0px -1405px}
.skt-024-122 {width:200px; height:354px; background-position: -0px -358px}
.skt-051-122 {width:200px; height:290px; background-position: -0px -4896px}
.skt-052-122 {width:200px; height:314px; background-position: -0px -3680px}
.skt-053-122 {width:200px; height:290px; background-position: -0px -4605px}
.skt-071-122 {width:200px; height:314px; background-position: -0px -3365px}
.skt-072-122 {width:200px; height:316px; background-position: -0px -2731px}
.skt-100-122 {width:200px; height:304px; background-position: -0px -4300px}
.skt-102-122 {width:200px; height:304px; background-position: -0px -3995px}
.skt-103-122 {width:200px; height:328px; background-position: -0px -2402px}
.slv-001-122 {width:200px; height:83px; background-position: -0px -7764px}
.slv-002-122 {width:200px; height:82px; background-position: -0px -7848px}
.slv-006-122 {width:200px; height:251px; background-position: -0px -5477px}
.slv-007-122 {width:200px; height:246px; background-position: -0px -5978px}
.slv-009-122 {width:200px; height:248px; background-position: -0px -5729px}
.slv-014-122 {width:200px; height:113px; background-position: -0px -7650px}
.trm-nek-009-122 {width:200px; height:65px; background-position: -0px -8003px}
.trm-skt-001-122 {width:200px; height:357px; background-position: -0px -0px}
.trm-skt-002-122 {width:96px; height:45px; background-position: -0px -8069px}
.trm-skt-003-122 {width:200px; height:289px; background-position: -0px -5187px}
