/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2d870ddcf168171318c2528708551daf$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-123 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../../images/db/123.png);}

.nek-002-123 {width:200px; height:133px; background-position: -201px -0px}
.nek-003-123 {width:200px; height:132px; background-position: -402px -0px}
.slv-001-123 {width:200px; height:83px; background-position: -402px -133px}
.slv-002-123 {width:200px; height:82px; background-position: -201px -134px}
.slv-006-123 {width:200px; height:245px; background-position: -0px -0px}
