<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="pUkTUYdu_NIAmwwQJcRay-D7ctXNv0hB-viL6HFOrhw"/>
    <meta name="description" content="AURZA - utterly fabulous custom-made dresses">
    <meta name="author" content="NoStopButton">
    <title>AURZA - experience custom</title>
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Standard iPhone -->
    <link rel="apple-touch-icon" sizes="57x57" href="touch-icon-iphone-114.png" />
    <!-- Retina iPhone -->
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-114.png" />
    <!-- Standard iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad-144.png" />
    <!-- Retina iPad -->
    <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-144.png" />


    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">

    <!-- build:css /styles/aurza-static.css -->
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/home_custom_bootstrap.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <!-- endbuild -->

    <!-- TODO: research latest shims and shivs - do not use CDN, locla copy-->
    <!--[if lt IE 10]>
    <!--<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
        today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
        experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/components/es5-shim/es5-shim.js"></script>
    <script src="/components/json3/lib/json3.min.js"></script>
    <![endif]-->
</head>