/**
 * Created with TexturePacker http://www.codeandweb.com/texturepacker
 *
 * SmartUpdateHash: $TexturePacker:SmartUpdate:51b3f8a3e7b3c61f7020e11f8b5ff035:1/1$ 
 * 
 * .body {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('body.png?$TexturePacker:SmartUpdate:51b3f8a3e7b3c61f7020e11f8b5ff035:1/1$');}
 */

.sprite-body {display:inline-block;overflow:hidden;background-repeat:no-repeat;background-image:url('../images/body.png');}
.pat-113 {width:165px;height:430px; background-position: -0px -0px}
.pat114e {width:165px;height:435px; background-position: -166px -0px}
.pat114d {width:165px;height:435px; background-position: -332px -0px}
.pat-316b {width:165px;height:435px; background-position: -498px -0px}
.pat-316 {width:165px;height:435px; background-position: -664px -0px}
.pat-315 {width:165px;height:435px; background-position: -830px -0px}
.pat-314 {width:165px;height:435px; background-position: -996px -0px}
.pat-313 {width:165px;height:435px; background-position: -1162px -0px}
.pat-306 {width:165px;height:435px; background-position: -1328px -0px}
.pat-305 {width:165px;height:435px; background-position: -1494px -0px}
.pat-304 {width:165px;height:435px; background-position: -0px -431px}
.pat-303 {width:165px;height:435px; background-position: -166px -436px}
.pat-302 {width:165px;height:435px; background-position: -332px -436px}
.pat-301 {width:165px;height:435px; background-position: -498px -436px}
.pat-213b {width:165px;height:435px; background-position: -664px -436px}
.pat-213 {width:165px;height:435px; background-position: -830px -436px}
.pat-212b {width:165px;height:435px; background-position: -996px -436px}
.pat-212 {width:165px;height:435px; background-position: -1162px -436px}
.pat-203b {width:165px;height:435px; background-position: -1328px -436px}
.pat-203 {width:165px;height:435px; background-position: -1494px -436px}
.pat-202b {width:165px;height:435px; background-position: -0px -867px}
.pat-202 {width:165px;height:435px; background-position: -166px -872px}
.pat-114c {width:165px;height:435px; background-position: -332px -872px}
.pat-114b {width:165px;height:435px; background-position: -498px -872px}
.pat-114a {width:165px;height:435px; background-position: -664px -872px}
.pat-112 {width:165px;height:435px; background-position: -830px -872px}
.pat-111 {width:165px;height:435px; background-position: -996px -872px}
.pat-104e {width:165px;height:435px; background-position: -1162px -872px}
.pat-104d {width:165px;height:435px; background-position: -1328px -872px}
.pat-104c {width:165px;height:435px; background-position: -1494px -872px}
.pat-104b {width:165px;height:435px; background-position: -0px -1303px}
.pat-104a {width:165px;height:435px; background-position: -166px -1308px}
.pat-103 {width:165px;height:435px; background-position: -332px -1308px}
.pat-102 {width:165px;height:435px; background-position: -498px -1308px}
.pat-101 {width:165px;height:435px; background-position: -664px -1308px}
.whole-body {width:200px;height:501px; background-position: -830px -1308px}
.tshirt-whole-body {width:200px;height:501px; background-position: -1031px -1308px}
.strap-whole-body {width:200px;height:501px; background-position: -1232px -1308px}
.skirt-whole-body {width:200px;height:501px; background-position: -1433px -1308px}

