---
title: AURZA - About Us
---

<div id="about-view" class="container about static">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <h1>IDEA BEHIND AURZA</h1>
        </div>
    </div>
    <div class="row">
        <div class="intro col-lg-8 col-lg-offset-2">
            <div class=" col-md-6 col-xs-12 video-panel">
                <iframe class="video" width="520" title="YouTube video player"
                        src="http://www.youtube.com/embed/ETUcf5li_eE?HD=1;rel=0;showinfo=0;controls=0"
                        height="320"
                        frameborder="0"></iframe>
            </div>
            <div class=" col-md-6  col-xs-12 intro-text">
                We founded AURZA out of a frustration of never being able to find the clothes
                we really wanted. After having six kids, clothes shopping had lost its sparkle,
                left us deflated and there was always a compromise – too short, too baggy,
                too expensive or even too plain.
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <hr class="grad-line">
    <div class="row letter">
        <div class="col-md-2 col-md-offset-1">
            <blockquote class="bq3">
                <span>we want everyone to be able to step out with confidence day and night</span>
            </blockquote>
        </div>
        <div class="col-md-8 letter-text">
            <p>So our aim is simple - to allow women like us to create extraordinary clothes
                that reflect their own sense of style whilst both flattering and fitting each
                of our unique bodies. We want everyone to be able to step out with confidence
                day and night, feeling a million dollars and we know from personal experience
                that a great outfit can make all the difference.</p>

            <p>We are starting by offering utterly fabulous custom made dresses and separates
                <b>designed by us and perfected by you</b>. You choose the style and simply change
                the bodice, skirt, sleeves, length, fabric, trims and accessories. </p>

            <p>Once you have experienced custom from the comfort of your own home you will
                always want to feel this good.</p>

            <p class="signature">Steph and Jess</p>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>MEET THE TEAM</h2>
            <img class="img-responsive" src="/images/about/the-aurza-team.jpg" alt="The AURZA Founders - Stephanie Holland and Jessica Stephens">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 ">
            <div class="row">
                <div class="col-md-6">
                    <h3>Stephanie Holland</h3>
                    <h4>Founder and Commerical Director</h4>

                    <p>With fifteen years commercial experience Steph has developed our international supply chain
                        to
                        ensure we offer high quality, value for money pieces that exceed our consumers’ expectations
                        whilst offering the just in time service we require.</p>
                </div>
                <div class="col-md-6">
                    <h3>Jessica Stephens</h3>
                    <h4>Founder and Creative Director</h4>

                    <p>With twelve years of textiles and design experience Jess has lead the way with the creative
                        development of the range. Aiming to create classic designs that are jaw droppingly gorgeous,
                        Jess has worked closely with our 3D pattern and manufacturing experts and spent years
                        researching
                        the perfect silhouettes and fabrics that both flatter and fit and quite frankly just make
                        you feel great.</p>
                </div>
            </div>
        </div>
    </div>
</div>