---
title: AURZA - Across The Web
---

<div id="press-view" class="container static">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>ACROSS THE WEB</h1>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="http://www.arounddb.com/articles/regulars/moments/12418-blast-from-the-past/" target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/AroundDB.png" alt="AROUND {DB}"/>
        </a>

        <h2><a href="http://www.arounddb.com/articles/regulars/moments/12418-blast-from-the-past/" target="_blank">
            Blast from the past</a></h2>

        <p class="center">June 2014 by Jane Clyde</p>

        <p>Childhood friends reunited in DB, Stephanie Holland and Jessica Stephens tell Jane Clyde about their parallel
            lives and fledgling fashion business

            When Stephanie Holland and Jessica Stephens bumped into each other at the Club Siena bus stop in November
            2011, they hadn’t seen each other for 18 or so years. Best friends growing up in Loughborough in the UK,
            they had lost touch after university and so the chance encounter was serendipitous to say the least.</p>

        <p class="center">
            <a href="http://www.arounddb.com/articles/regulars/moments/12418-blast-from-the-past/"
               target="_blank">
                Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="http://sassymamahk.com/instant-goddess-goes-glam-with-aurza-chicameo-and-aly-rachelle/"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/Sassy_Mama_HK.png" alt="Sassy Mama HK"/>
        </a>

        <h2><a href="http://sassymamahk.com/instant-goddess-goes-glam-with-aurza-chicameo-and-aly-rachelle/"
               target="_blank">
            INSTANT GODDESS GOES GLAM WITH AURZA, CHICAMEO AND ALY & RACHELLE</a></h2>

        <p class="center"> 14 May 2014 by Instant Goddess</p>

        <p>The saying “a bit like buses” springs to mind this week… you wait and wait and then not one but three new
            collections come along all at the same time to tantalise those shopping taste buds. And what’s more,
            they’re all collections from homegrown local talent available on our very own doorstep… instant
            gratification here we come.</p>

        <p class="center">
            <a href="http://sassymamahk.com/instant-goddess-goes-glam-with-aurza-chicameo-and-aly-rachelle/"
               target="_blank">Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!--<p class="intro"></p>-->
        <a href="http://www.techinasia.com/startup-creates-custom-tailorfit-dresses-3d-technology/"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/Tech_in_Asia.png"
                 alt="Tech In Asia - Asia Tech News for the World"/>
        </a>

        <h2><a href="http://www.techinasia.com/startup-creates-custom-tailorfit-dresses-3d-technology/"
               target="_blank">
            This Hong Kong startup wants to help women of all shapes and sizes find the perfect dress</a></h2>

        <p class="center">29th April 2014 by <a href="http://www.techinasia.com/author/phoebe/" target="_blank">Phoebe
            Magdirila</a>
        </p>

        <p>The emergence of ecommerce has changed the way people shop. Consumers can now easily browse through an
            ecommerce site and purchase nearly item they want instantly, without ever having to enter a store. But
            for ladies, the shift from a shopping mall to a tablet computer is not as smooth as it may seem,
            especially when dresses are concerned.</p>

        <p class="center">
            <a href="http://www.techinasia.com/startup-creates-custom-tailorfit-dresses-3d-technology/"
               target="_blank">Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="http://asiatechhub.com/aurza-service-wants-help-women-find-perfect-dress/" target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/asiatechhub.png" alt="Asia Tech Hub"/>
        </a>

        <h2><a href="http://asiatechhub.com/aurza-service-wants-help-women-find-perfect-dress/" target="_blank">
            Aurza, The Service That Wants To Help Women Find The Perfect Dress.</a></h2>

        <p class="center">29 April 2014 by <a href="http://asiatechhub.com/author/kevin/" target="_blank">Kevin C</a>
        </p>

        <p>E-commerce has manage to change the way people have begun to do their shopping. With a few simple strokes on
            a keyboard, people can easily browse through an e-commerce site and look though all sorts of categories,
            filled with a variety of items available to instant purchasing, without havng to enter a store. However, its
            a bit more different for the ladies out there with the shift of shopping centers to computerized devices
            being not as smooth as it may seem, especially when it comes down to trying out dresses.</p>

        <p class="center"><a href="http://asiatechhub.com/aurza-service-wants-help-women-find-perfect-dress/"
                             target="_blank">
            Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="http://www.hktdc.com/info/mi/a/hkthk/en/1X09XECI/1/Hong-Kong-Trader-Hong-Kong-Edition/The-Right-3D-Fit.htm"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/hkthk.jpg" alt=""/>
        </a>

        <h2>
            <a href="http://www.hktdc.com/info/mi/a/hkthk/en/1X09XECI/1/Hong-Kong-Trader-Hong-Kong-Edition/The-Right-3D-Fit.htm"
               target="_blank">The Right 3D Fit</a></h2>

        <p class="center">20 April 2014 by <a href="http://www.hktdc.com/" target="_blank">HKTDC</a></p>

        <p>It may be the 21st century, but mass-produced clothes still rely heavily on post-World War II sizing
            information. As a result, consumers often end up making the “clothing compromise,” say Hong Kong-based
            entrepreneurs Stephanie Holland and Jessica Stephens, who this week launched Aurza, an online fashion retail
            offering custom-fitted dresses based on 3D body scanning.</p>

        <p class="center">
            <a href="http://www.hktdc.com/info/mi/a/hkthk/en/1X09XECI/1/Hong-Kong-Trader-Hong-Kong-Edition/The-Right-3D-Fit.htm"
               target="_blank">Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!--<p class="intro"></p>-->
        <a href="http://blog.generalassemb.ly/alumni-interview-jessica-stephens-stephanie-holland/"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/GENERAL_ASSEMBLY.png"
                 alt="GENERAL ASSEMBLY"/>
        </a>

        <h2><a href="http://blog.generalassemb.ly/alumni-interview-jessica-stephens-stephanie-holland/"
               target="_blank">ALUMNI INTERVIEW: STEPHANIE HOLLAND</a></h2>

        <p class="center">2nd January 2014 by <a href="http://blog.generalassemb.ly/author/kate/"
                                                 target="_blank">Kate Haberbusch</a></p>

        <p>
            Meet Jessica Stephens and Stephanie Holland, founders of Hong Kong based fashion startup, AURZA.
            Recently completing one of the largest crowdfunding campaigns in Hong Kong history through indiegogo,
            these women have caught the attention of many, including Forbes. We had the chance to sit down with
            Stephanie, a graduate of our 10 week Digital Marketing Business Course for a quick catch-up on how
            things are going post GA and where AURZA is headed next.
        </p>

        <p class="center">
            <a href="http://blog.generalassemb.ly/alumni-interview-jessica-stephens-stephanie-holland/"
               target="_blank">Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!--<p class="intro"></p>-->
        <a href="http://www.forbes.com/sites/joshsteimle/2013/11/29/crowdfunded-hong-kong-startup-aurza-will-give-every-woman-the-perfect-dress/"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/forbes.jpeg"
                 style="background-color: #1b4a76" alt="Forbes"/>
            <!--<img class="img-responsive" width="300px" src="./images/web/Forbes.png"-->
            <!--alt="Forbes"/>-->
        </a>

        <h2>
            <a href="http://www.forbes.com/sites/joshsteimle/2013/11/29/crowdfunded-hong-kong-startup-aurza-will-give-every-woman-the-perfect-dress/"
               target="_blank">
                Crowdfunded Hong Kong Startup AURZA Will Give Every Woman The Perfect Dress</a></h2>

        <p class="center"> 29 November 2011 by <a href="http://www.forbes.com/sites/joshsteimle/" target="_blank">Josh
            Steimle</a>
        </p>

        <p>
            “On a daily basis two thirds of us can never find the perfect outfit that makes us feel amazing. We’re
            always compromising,” says Stephens, a former interior designer with over 15 years experience in the
            textile and design industry who acts as creative director. “With AURZA we give women a real alternative
            because our dresses are custom made to suit each woman’s style, personality and shape.”
        </p>

        <p class="center">
            <a href="http://www.forbes.com/sites/joshsteimle/2013/11/29/crowdfunded-hong-kong-startup-aurza-will-give-every-woman-the-perfect-dress/"
               target="_blank">Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!--<p class="intro"></p>-->
        <a href="http://katyregan.com/2013/11/16/finally-a-cure-for-the-high-necked-monoboob-custom-made-dresses-you-design-yourself/"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/how_we_met.jpg"
                 alt="Katy Regan - How We Met"/>
        </a>

        <h2>
            <a href="http://katyregan.com/2013/11/16/finally-a-cure-for-the-high-necked-monoboob-custom-made-dresses-you-design-yourself/"
               target="_blank">
                Finally, a cure for the high-necked monoboob? Custom made dresses you design yourself.
            </a></h2>

        <p class="center"> 16 November 2013 by <a href="http://katyregan.com/" target="_blank">Katy Regan</a></p>

        <p>So two big things happened this week: I, finally, after eighteen months (oh yes) finished the second draft of
            my fourth novel, THE STORY OF YOU which is out in April and most importantly, and much more interestingly,
            my sister got married!
        </p>

        <p class="center">
            <a href="http://katyregan.com/2013/11/16/finally-a-cure-for-the-high-necked-monoboob-custom-made-dresses-you-design-yourself/"
               target="_blank">
                Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <a href="https://www.indiegogo.com/projects/aurza-utterly-fabulous-custom-made-dresses/" target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/Indiegogo.png" alt="INDIEGOGO"/>
        </a>

        <h2><a href="https://www.indiegogo.com/projects/aurza-utterly-fabulous-custom-made-dresses" target="_blank">
            INDIEGOGO Campaign: AURZA - Utterly fabulous custom-made dresses</a></h2>

        <p class="center">7th November 2013</p>

        <p>Couture tailoring meets 3D pattern technology to offer a range of sassy dresses, designed by us and
            perfected by you.
            96% of women believe that what they wear significantly affects how confident they feel. Yet on a daily basis
            over two thirds of us can never find the perfect outfit that makes us feel amazing. We constantly
            compromise.

            We aim to give women a real alternative with utterly fabulous custom-made dresses designed by us and
            perfected by you to suit YOUR style, personality and shape.</p>

        <p class="center">
            <a href="https://www.indiegogo.com/projects/aurza-utterly-fabulous-custom-made-dresses"
               target="_blank">Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="http://nancypaddison.blogspot.hk/2013/10/three-fabulous-dresses-two-girls-and.html"
           target="_blank">
            <img class="img-responsive" width="300px" src="./images/web/nancypaddisonphotography.png" alt="INDIEGOGO"/>
        </a>

        <h2><a href="http://nancypaddison.blogspot.hk/2013/10/three-fabulous-dresses-two-girls-and.html"
               target="_blank">
            AURZA is launching soon.</a></h2>

        <p class="center">17th October 2013</p>

        <p>Three fabulous dresses, Two gorgeous girls and One enormous boat (which i am still dreaming about) This shoot
            was fun fun fun. Shot here in Discovery Bay at The Marina Club, for AURZA. A new fashion start up that's
            makes customised dresses, for woman, who are fed up compromising on style and fit. </p>

        <p class="center">
            <a href="http://nancypaddison.blogspot.hk/2013/10/three-fabulous-dresses-two-girls-and.html"
               target="_blank">
                Read more...</a></p>
        <hr class="grad-line">
    </div>
</div>

</div>