---
title: AURZA - Terms and Conditions
description:
---
<div id="termsView" class="container">
<div class="row col-lg-10 col-lg-offset-1" style="padding-bottom: 100px">
<h1 style="text-align: center">AURZA ‘WIN A CUSTOM-MADE DRESS’ PRIZE DRAW AUG 2014</h1>
<h2 style="text-align: center">Terms and Conditons</h2>

<ol>
    <li>By entering this Prize Draw, Entrants agree to be bound by (i) these Terms and Conditions ii) the AURZA website general terms of use http://aurza.com/terms.html  and iii) the applicable terms and conditions of Facebook at www.facebook.com/#!/policies.</li>
    <li>The Prize Draw opens at 12am (HK time) on 12th Aug 2014, (“Opening Time”).  All entries must be received prior to 8.00pm (HK time) on 31st Aug 2014 (“Closing Time”). In these Terms and Conditions, the period between the Opening Time and the Closing Time is referred to as the “Promotional Period”.</li>
    <li>To enter the Prize Draw, Entrants must simply enter their email address into the prize draw.</li>
    <li>AURZA (see clause 25 below) reserves the right to disqualify any entry that may be deemed Inappropriate or offensive.</li>
    <li>Each Entrant may enter the Prize Draw only once. Multiple Facebook accounts or emails may not be used by the same Entrant to enter the Prize Draw more than once.</li>
    <li>Within 48 hours after the Closing Time, one winner will be selected at random from all eligible entries to win the Prize (defined in clause 9 below).</li>
    <li>Prize: One custom-made dress from any of our luxury silk or cotton print range. In addition everyone who shares the campaign will also receive a 10% discount code sent to the email address provided at the end of the promotion.</li>
    <li>The Prize is non-exchangeable, non-transferable, and is not redeemable for a cash alternative or any other prize. AURZA reserves the right to substitute the Prize with an alternative prize or prizes of equal or greater monetary value if this is deemed necessary due to reasons beyond AURZA’s control.</li>
    <li>The Winner will be notified via email within 48 hours and asked to confirm the postal address and design to which they would like their Prize to be delivered. Help will be provided as to how to design their dress and provide measurements. Entrants who have not won a Prize will not receive notification that they have not won.</li>
    <li>Entrants must ensure that the Facebook account and email address they have used to enter is active and valid, and that they are contactable on the same.</li>
    <li>AURZA does not accept responsibility for network, computer, hardware or software failures of any kind, which may restrict or delay the sending or receipt of your entry. Entries must not be submitted through agents or third parties.</li>
    <li>If a Winner chooses not to or is not able, for any reason, to accept a Prize, or cannot be contacted within 14 days of the Closing Time or does not provide a design / postal address within 14 days of notification that they have won, AURZA reserves the right to award the relevant Prize to an alternative Entrant who shall be selected at random from all remaining complete and eligible entries.</li>
    <li>AURZA’s decision shall be final and binding in all respects on all Entrants and AURZA reserves the right not to enter into any correspondence with Entrants. Entries that do not comply in full with these terms and conditions will be disqualified.</li>
    <li>The Prize will be delivered to the Winner at the postal address they have provided, within 14 days of their confirmation of their postal address.</li>
    <li>The names and county of the Winner may be published online (including on the AURZA website/blog) and will be available on request from the AURZA at the address below.</li>
    <li>The Winners hereby agree that AURZA may use their name and likeness for advertising and promotional purposes without any remuneration and acknowledge that they may be required to participate in unpaid promotional activity.</li>
    <li>If AURZA has grounds to suspect any Entrant or third party of cheating, deception or fraudulent conduct of any kind (including, without limitation, using multiple accounts, manipulating the Prize Draw, choice of Winner(s) or any entry) AURZA reserves the right (in its sole discretion) to disqualify any Entrant, entry or person it reasonably believes to be responsible for, or associated with, such activity.  Failure by AURZA to enforce any of its rights at any stage does not constitute a waiver of those rights.</li>
    <li>If the Prize Draw is interfered with in any way, or is not capable of being conducted as reasonably anticipated due to a reason beyond the reasonable control of AURZA, AURZA reserves the right, in its sole discretion, to disqualify any Entrant, or to modify, suspend, terminate or cancel the Prize Draw.</li>
    <li>This Prize Draw is in no way sponsored, endorsed or administered by, or associated with, Facebook.  By entering, Entrants acknowledge that Facebook bears no responsibility for this Prize Draw and Entrants fully and completely release Facebook from any liability whatsoever arising out of the Prize Draw.</li>
    <li>AURZA shall not be liable for any damage, loss, liability, or injury (save for personal injury or death caused by the AURZA’s negligence) caused by matters relating to this Prize Draw.</li>
    <li>The personal details of Entrants will be used by AURZA for the purpose of administering this Prize Draw and following the promotion AURZA will contact the Entrants with an initial marketing email and an opportunity to unsubscribe.</li>
</ol>
</div>

</div>
