---
title: AURZA - Craftmanship
---

<div id="craftmanship-view" class="container static">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>INDIVIDUALLY CRAFTED PIECES</h1>

            <p class="intro">made exclusively to your design and your fit</p>

            <p>Each AURZA dress, skirt or top is made to your exact design specification with a superiour fit promise.
            It is hand-made from the best materials with the highest quality workmanship. We want you to cherish your
                garment and hope it will be a part of your core wardrobe for years to come.</p>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>QUALITY MATERIALS</h2>
            <p>Our dresses, tops and skirts are made from quality viscose crepe, stretch cotton or chinese silk crepe,
            for their drape, softness and stretch. They are dyed to specification and lovingly made into your unique one-off garment.</p>
            <img class="img-responsive" width="750px" src="./images/about/craftmanship-at-aurza.jpg" alt=""/>
        </div>

        <hr class="grad-line">
    </div>
</div>