---
title: AURZA - Our Gorgeous Fabrics
description: All AURZA Materials Are Hand-Selected For Superior Touch, Fishish And Wearability. Select From  A Range Of Colours And Prints Across Crepe, Silk, Leather, Faux Leather, Sheer Silk And Stretch Cotton
---

<div id="fabric-view" class="container static">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>GORGEOUS FABRICS</h1>
            <p class="intro">hand-selected for superior touch, feel and wearability</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-crepe-teal.jpg" alt-text="Crepe Fabric" class="img-responsive">
                <h2>CREPE</h2>
                <p class="desc">
                    Our flattering crepe fabric has been carefully selected because of its aesthetic properties.
                    It has natural breathability, drape, softness and is less
                    likely to crease. Its stretch properties also give superior comfort in wear.
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-silk-pink.jpg" alt-text="Silk Fabric" class="img-responsive">
                <h2>SILK</h2>
                <p class="desc">
                    Our gorgeous Chinese silk offers the height in luxury and elegance. Silk’s natural properties make
                    it comfortable to wear at any time of the year whilst its aesthetic properties make it drape and handle beautifully.
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-lg-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-leather.jpg" alt-text="Leather Fabric" class="img-responsive">
                <h2>LEATHER</h2>
                <p class="desc">
                    We have selected the highest quality Italian lambskin leather for our obi belts. It is characterized
                    by its extreme softness and flexibility and comes in a wide colour palette to complement our core fabric range.
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-faux-leather.jpg" alt-text="Sequins Fabric" class="img-responsive">
                <h2>FAUX-LEATHER</h2>
                <p class="desc">
                    Our stretch faux leather provides a more maintainable and affordable option to real leather. Soft
                    and supple it adds a touch of sass to any outfit whether as trim or as a whole garment.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-zebra-print-yellow.jpg" alt-text="Crepe Fabric" class="img-responsive">
                <h2>SHEER SILK</h2>
                <p class="desc">
                    Our gorgeous Chinese sheer silk offers the height in luxury and elegance. Used in our beautiful
                    printed scarves its natural properties make it drape and handle beautifully.
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-cotton.jpg" alt-text="Silk Fabric" class="img-responsive">
                <h2>STRETCH COTTON</h2>
                <p class="desc">
                    Our stretch cotton option provides a soft touch lightweight fabric alternative. Digitally printed
                    with the latest techniques to provide vibrant designs.
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-lg-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-floral-print-roses-red.jpg" alt-text="Sequins Fabric" class="img-responsive">
                <h2>FLORAL PRINTS</h2>
                <p class="desc">
                    Our stretch cotton floral print provides a lightweight fabric alternative in a funky colour palette.
                    Digitally printed with the latest techniques to provide vibrant designs.
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 fabric">
            <div class="fabric-desc page-curl">
                <img src="./images/fabrics/aurza-zebra-print-blue.jpg" alt-text="Leather Fabric" class="img-responsive">
                <h2>ZEBRA PRINTS</h2>
                <p class="desc">
                    Our stretch cotton zebra print provides a lightweight fabric alternative in a funky colour palette.
                    Digitally printed with the latest techniques to provide vibrant designs.
                </p>
            </div>
        </div>
    </div>
</div>