---
title: AURZA - flatter factor
---
<div id="flatter-view" class="container static">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>MAKING YOU FABULOUS</h1>

            <p class="intro">We know that well-made tailored clothing makes an incredible difference between looking hot
                or not.</p>

            <p>At the heart of ‘AURZA’ is our relentless desire to make clothes that flatter and fit. With 6 children
                between us (and bodies not quite like they used to be) we know that well-made tailored clothing makes an
                incredible difference between looking hot or not. Unlike most off the shelf garments available, our
                designs are based on revolutionary 3D body scanning and pattern making technology that accurately
                reflect every curve in a women’s body. We have tested each of our silhouettes and sizes not on an
                industry ‘fit model’ but on real women with wide ranging body shapes to ensure our designs and fabric
                choices are as flattering as possible. That’s why in our sizing chart you will see a small range of
                measurements for each size which reflect the flexibility of fit / stretch within each garment.</p>

            <p>Our block has been developed by using data scanned from over 10,000 real women over the age of 30.</p>
            <img class="img-responsive" width="750px" src="./images/about/the-flatter-factor-our-fit.jpg" alt=""/>

            <p>Finally, we really do get that everyone is unique and with a few simple measurements (your height, bust,
                waist and hips) we can work with our pattern master to adapt our standard sizing to ensure optimal drape
                and fit. Long body – no problem, bigger top than bottom – we can mix and match sizing. You share your
                concerns and we will work through a solution that works for you and even use all of your body
                measurements for a fully bespoke size if that is what it takes.</p>
        </div>
    </div>

    <hr class="grad-line">

</div>