---
title: AURZA - Gifts
---
<div id="gift-view" class="container static">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Give someone the ultimate gift</h1>

            <img class="img-responsive" width="600px" src="./images/gifts/aurza-gift-box.jpg" alt=""/>

            <div class="row">
                <div class="col-sm-6">
                    <p>Our luxury gift box includes:</p>
                    <ul>
                        <li>dress ideas</li>
                        <li>fabric swatches</li>
                        <li>that all important tape measure</li>

                    </ul>
                    <p>A gift box is valid for redemption against:</p>
                    <ul>
                        <li>any dress & obi belt</li>
                        <li>any skirt and top combination</li>
                    </ul>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="row">
                <p>No more compromising, no more excuses, everyone can look and feel fabulous.</p>
            </div>
        </div>
    </div>
</div>


