---
title: AURZA - how it works
---
<div id="how-view" class="container static">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>CREATE YOUR PERFECT DRESS</h1>

            <p class="intro">no more compromising style or fit</p>
            <img class="img-responsive" width="600px" src="./images/about/how-aurza-works-design-builder.jpg" alt=""/>

            <p>Choose your favourite silhouette, change the neckline, sleeves or skirt.
                Choose the colour of the fabric and details like a belt or faux-leather trim.</p>

            <p>You can then decide whether our unique standard sizing model (based on 3D body scanning) is right for you
                or whether you want us to create a bespoke pattern on your measurements.</p>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>CHOOSE YOUR FAVOURITE SILHOUETTE</h2>
            <img class="img-responsive" width="750px" src="./images/about/how-aurza-works-choose-silhouette.jpg"
                 alt=""/>

        </div>
    </div>
    <hr class="grad-line">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>CHANGE THE COLOUR</h2>

            <img class="img-responsive" width="700px" src="./images/about/how-aurza-works-choose-fabric-colours.jpg"
                 alt=""/>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>CHANGE THE STYLING</h2>

            <img class="img-responsive" width="700px" src="./images/about/how-aurza-works-change-the-style.jpg" alt=""/>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h2>CHOOSE 1 OF 3 SIZE OPTIONS</h2>
            <ol>
                <li>AURZA standard sizes provide a fabulous fit due to the fact we have created our patterns in 3D and
                    based them on a body that reflects real women (having used 3D body scanning). We have also added
                    just the right amount of stretch into our fabrics to maximise comfort and ensure a flexibility of
                    fit for different body shapes. For these reasons we do not use a typical country specific size chart
                    but have labelled our sizes 1-8 as our sizes are unique to us.
                </li>
                <li>Mix and match tops and skirts for those that want a separates look or have very different top and
                    bottom body shapes.
                </li>
                <li>Custom sizing where you provide your measurements (with our guidance) and we will adapt our patterns
                    or make a bespoke pattern just for you depending on the information you give us.
                </li>
            </ol>
        </div>

    </div>
    <hr class="grad-line">
</div>


