---
title: AURZA - how it works
---
<div id="how-view" class="container static">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>CREATE YOUR PERFECT DRESS</h1>

            <p class="intro">no more compromising style or fit</p>
            <img class="img-responsive" width="600px" src="./images/about/how-it-works-design-builder.jpg" alt=""/>

            <p>Choose your favourite silhouette, change the neckline, sleeves or skirt.
                Choose the colour of the fabric and details like a belt or faux-leather trim.</p>

            <p>You can then decide whether our unique standard sizing model (based on 3D body scanning) is right for you
                or whether you want us to create a bespoke pattern on your measurements.</p>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>CHOOSE YOUR FAVOURITE SILHOUETTE</h2>
            <img class="img-responsive" width="750px" src="./images/about/how-it-works-choose-silhouette.jpg" alt=""/>

        </div>
    </div>
    <hr class="grad-line">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>CHANGE THE COLOUR</h2>

            <img class="img-responsive" width="700px" src="./images/about/how-it-works-choose-fabric-colours.jpg"
                 alt=""/>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>CHANGE THE STYLING</h2>

            <img class="img-responsive" width="700px" src="./images/about/how-it-works-change-the-style.jpg" alt=""/>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h2>CHOOSE ONE OF 3 SIZE OPTIONS</h2>
            <ol>
                <li>AURZA standard sizes – an amazing fit due to the fact we have created our patterns in 3D and based
                    on a body that reflects a real women (having used 3D body scanning). We also we have added just the
                    right amount of stretch into our fabrics to ensure a comfort / flexibility of fit for different body
                    shapes.
                </li>
                <li>Mix and match top and bottoms for those that want a separates look or have very different top and
                    bottom body shapes.
                </li>
                <li>Custom sizing – provide your measurements (with our guidance) and we will make you a unique size
                    dress.
                </li>
            </ol>
        </div>

    </div>
    <hr class="grad-line">
</div>


