<article id="how-it-works" class="container page-curl large">
    <h1 class="row">HOW IT WORKS</h1>
    <div class="row">
        <section id="choose" class="col-sm-4 ">
            <h2>1. Choose</h2>
            <!--<div class="sprite-icons step-1-Choose"></div>-->
            <img src="../../../images/home/step-1-Choose.png" alt="CHOOSE your favourite dress silhouette">
            <p>CHOOSE your favourite dress silhouette or ready-to-buy design</p>
        </section>
        <section id="customise" class="col-sm-4">
            <h2>2. Customise</h2>
            <!--<div class="sprite-icons step-2-Customise"></div>-->
            <img src="../../../images/home/step-2-Customise.png" alt="CUSTOMISE to change anything you want">
            <p>Either click:
            <ul>
                <li>CUSTOMISE to change anything you want</li>
                <li>BUY to take it as it is.</li>
            </ul></p>
        </section>
        <section id="deliver" class="col-sm-4">
            <h2>3. Deliver</h2>
            <!--<div class="sprite-icons step-3-Deliver"></div>-->
            <img src="../../../images/home/step-3-Deliver.png" alt="Secure Payment Gateway -> Delivery in 14 days">
            <p>Once you have paid through our secure payment gateway, we will make your design exclusively for you and send it to you within 4 weeks.</p>
        </section>
    </div>
    <div class="row">
        <aside id="cherish">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--<div class="sprite-icons step-4-Cherish"></div>-->
                    <img src="../../../images/home/step-4-Cherish.png" alt="Local tailoring / Free remake / Return and full refund">
                </div>
                <div class="col-md-8 col-md-offset-1 col-sm-6">
                    <h3>We hope that you will CHERISH your creation.</h3>
                    <p>But if it is not exactly how you dreamt it would be we will provide up to 300HKD for local tailoring, remake it free-of-charge or offer a full refund if returned unworn within 30 days of purchase<sup>*</sup></p>
                    <p style="font-size: 1rem"><sup>*</sup> local tailoring cost refunded based on a receipt for work done and all garments to be returned must have the return tag intact in the garment.</p>
                </div>
            </div>
        </aside>
    </div>
</article>