---
title: AURZA - utterly fabulous custom-made dresses
---
<!--<div class="alert alert-warning alert-dismissable visible-xs">-->
    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
    <!--<p><strong>Please Note:</strong> Our site has not yet been optimised for use on a small screen, such as a mobile phone.</p>-->
    <!--<p>For best results, please use a tablet held in landscape (horizontal) mode, a laptop or a desktop computer and stayed tuned for news on our mobile update very soon...</p>-->
<!--</div>-->

<div class="modal fade" id="home-signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-10">
                    <!--<img src="/images/home/aurza-logo.png" alt="AURZA - utterly fabulous custom-made dresses">-->
                    <h1>Summer Sign-up Special</h1>
                </div>
                <div class="col-md-2 modal-button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">
                <p>Sign-up for 10% off your next Purchase this Summer and future Exclusive Offers & Customising Tips from our Experts</p>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form  action="http://aurza.us7.list-manage.com/subscribe/post" method="POST">
                            <input type="hidden" name="u" value="f865410dde76724d6fb7af929">
                            <input type="hidden" name="id" value="5da8f12ab3">

                            <div id="mergeTable" class="mergeTable">

                                <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                                    <label for="MERGE0">Email Address <span class="req float-right fwl dim6 asterisk">*</span></label>
                                    <div class="field-group">
                                        <input class="form-control" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
                                    </div>
                                </div>

                                <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                                    <label for="MERGE1">First Name</label>
                                    <div class="field-group">
                                        <input class="form-control" type="text" name="MERGE1" id="MERGE1" value="">
                                    </div>
                                </div>

                                <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                                    <label for="MERGE2">Last Name</label>
                                    <div class="field-group">
                                        <input class="form-control" type="text" name="MERGE2" id="MERGE2"value="">
                                    </div>
                                </div>
                            </div>


                            <br>
                            <!-- real people should not fill this in and expect good things -->
                            <div class="hidden-from-view"><input type="text" name="b_f865410dde76724d6fb7af929_5da8f12ab3" tabindex="-1" value=""></div>

                            <div class="submit_container"  style="text-align:center">
                                <input id="signup-button" type="submit" class="btn btn-md btn-primary" name="submit" value="Subscribe">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<article id="home-splash" class="container">
    <section id="wow"  class="page-curl large">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <!--<div class="item active">-->
                            <!--<img src="../../../images/home/aurza-lady-in-fabulous-dress.jpg" alt="custom-made fabulous" >-->
                            <!--<div class="carousel-caption">-->
                                <!--<h1>CUSTOM-MADE FABULOUS</h1>-->
                                <!--<p class="sub">no more compromise on style or fit</p>-->
                                <!--<a class="btn btn-lg btn-primary" href="shop.html#!/design" role="button">START DESIGNING</a>-->
                                <!--<p>your style, your personality, your size, <br>-->
                                    <!--YOUR PERFECT DRESS</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="item active">
                            <a href="shop.html#!/design">
                                <img src="../../../images/home/aurza-lady-in-fabulous-dress-banner.jpg" alt="AURZA: custom-made fabulous" >
                            </a>
                        </div>
                        <div class="item">
                            <a href="shop.html#!/design">
                                <img src="../../../images/home/summer-luxe.jpg" alt="Summer Luxe: day-to-night effortless glamour" >
                            </a>
                        </div>
                        <div class="item">
                            <a href="shop.html#!/design">
                                <img src="../../../images/home/summer-monochrome.jpg" alt="Summer monochromes: sassy black and white prints" >
                            </a>
                            <!--<div class="carousel-caption">-->
                                <!--<h3>...</h3>-->
                                <!--<p>...</p>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <aside>
        <div class="row">
            <div class="col-sm-4 ">
                <section id="craftmanship" class="page-curl">
                    <a class="" href="/craftmanship.html">
                        <img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">
                        <p>individually crafted pieces</p>
                        <h1>HOW WE MAKE YOUR DRESS</h1>
                    </a>
                </section>
            </div>
            <div class="col-sm-4">
                <section id="design"  class="page-curl">
                    <p>choose your favourite style, change the <span style="color:#4a00cf">sleeves</span>, neckline, skirt, length, <span style="color:#ff5200">COLOUR</span>, add details
                        like an obi belt, faux-leather trim or peplum</p>
                    <div>
                        <a class="btn btn-lg btn-primary" href="shop.html#!/design" role="button">START DESIGNING</a>
                    </div>
                    <h1>DESIGN YOUR OWN</h1>
                </section>
            </div>
            <div class="col-sm-4">
                <section id="collection"  class="page-curl">
                    <a class="" href="shop.html#!/collection">
                        <img src="../../../images/home/aurza-dress-collection.jpg" alt="individually crafted pieces">
                        <h1>SHOP THE COLLECTION</h1>
                    </a>
                </section>
            </div>
        </div>
    </aside>
</article>

<!--<article id="home-splash" class="container">-->
    <!--<section id="wow"  class="page-curl large">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<img src="../../../images/home/aurza-lady-in-fabulous-dress.jpg" alt="custom-made fabulous" >-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<h1>CUSTOM-MADE FABULOUS</h1>-->
                <!--<p class="sub">no more compromise on style or fit</p>-->
                <!--<a class="btn btn-lg btn-primary" href="shop.html#!/design" role="button">START DESIGNING</a>-->
                <!--<p>your style, your personality, your size, <br>-->
                <!--YOUR PERFECT DRESS</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--<aside>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4 ">-->
                <!--<section id="craftmanship" class="page-curl">-->
                    <!--<a class="" href="/craftmanship.html">-->
                        <!--<img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">-->
                        <!--<p>individually crafted pieces</p>-->
                        <!--<h1>HOW WE MAKE YOUR DRESS</h1>-->
                    <!--</a>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<section id="design"  class="page-curl">-->
                    <!--<p>choose your favourite style, change the <span style="color:#4a00cf">sleeves</span>, neckline, skirt, length, <span style="color:#ff5200">COLOUR</span>, add details-->
                        <!--like an obi belt, faux-leather trim or peplum</p>-->
                    <!--<div>-->
                        <!--<a class="btn btn-lg btn-primary" href="shop.html#!/design" role="button">START DESIGNING</a>-->
                    <!--</div>-->
                    <!--<h1>DESIGN YOUR OWN</h1>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<section id="collection"  class="page-curl">-->
                    <!--<a class="" href="shop.html#!/collection">-->
                        <!--<img src="../../../images/home/aurza-dress-collection.jpg" alt="individually crafted pieces">-->
                        <!--<h1>SHOP THE COLLECTION</h1>-->
                    <!--</a>-->
                <!--</section>-->
            <!--</div>-->
        <!--</div>-->
    <!--</aside>-->
<!--</article>-->


<article id="how-it-works" class="container page-curl large">
    <h1 class="row">HOW IT WORKS</h1>
    <div class="row">
        <section id="choose" class="col-sm-4 ">
            <h2>1. Choose</h2>
            <!--<div class="sprite-icons step-1-Choose"></div>-->
            <img src="../../../images/home/step-1-Choose.png" alt="CHOOSE your favourite dress silhouette">
            <p>CHOOSE your favourite dress silhouette or ready-to-buy design</p>
        </section>
        <section id="customise" class="col-sm-4">
            <h2>2. Customise</h2>
            <!--<div class="sprite-icons step-2-Customise"></div>-->
            <img src="../../../images/home/step-2-Customise.png" alt="CUSTOMISE to change anything you want">
            <p>Either click:
                <ul>
                    <li>CUSTOMISE to change anything you want</li>
                    <li>BUY to take it as it is.</li>
            </ul></p>
        </section>
        <section id="deliver" class="col-sm-4">
            <h2>3. Deliver</h2>
            <!--<div class="sprite-icons step-3-Deliver"></div>-->
            <img src="../../../images/home/step-3-Deliver.png" alt="Secure Payment Gateway -> Delivery in 14 days">
            <p>Once you have paid through our secure payment gateway, we will make your design exclusively for you and send it to you within 4 weeks.</p>
        </section>
    </div>
    <div class="row">
        <aside id="cherish">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--<div class="sprite-icons step-4-Cherish"></div>-->
                    <img src="../../../images/home/step-4-Cherish.png" alt="Local tailoring / Free remake / Return and full refund">
                </div>
                <div class="col-md-8 col-md-offset-1 col-sm-6">
                    <h3>We hope that you will CHERISH your creation.</h3>
                    <p>But if it is not exactly how you dreamt it would be we will provide up to 300HKD for local tailoring, remake it free-of-charge or offer a full refund if returned unworn within 30 days of purchase<sup>*</sup></p>
                    <p style="font-size: 1rem"><sup>*</sup> local tailoring cost refunded based on a receipt for work done and all garments to be returned must have the return tag intact in the garment.</p>
                </div>
            </div>
        </aside>
    </div>
</article>

<article id="never-customised-before" class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6">
            <img src="../../../images/home/worried-lady-who-has-never-customized-her-dress.jpg" alt="I've never customised before">
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 outer  page-curl shadow-bottom">
            <div class="inner">
                <p>Don't worry it's very simple and our fit-or-return guarantee gives you the confidence of your favourite brand or store</p>
                <a class="btn btn-lg btn-primary" href="shop.html#!/design" role="button">START DESIGNING</a>
            </div>
        </div>
    </div>
</article>
