---
title: AURZA - utterly fabulous custom-made dresses
description: Design Your Perfect Dress. Use Our Online Designer to Change the Length, Sleeves, Skirt, Fabric & Trim. We Custom-Make Them And Ship to You In 4 Weeks.
---
<div class="modal fade" id="home-signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-10">
                    <!--<img src="/images/home/aurza-logo.png" alt="AURZA - utterly fabulous custom-made dresses">-->
                    <h1>Summer Sign-up Special</h1>
                </div>
                <div class="col-md-2 modal-button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">
                <p>Sign-up for 10% off your next Purchase this Summer and future Exclusive Offers & Customising Tips from our Experts</p>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form  action="http://aurza.us7.list-manage.com/subscribe/post" method="POST">
                            <input type="hidden" name="u" value="f865410dde76724d6fb7af929">
                            <input type="hidden" name="id" value="5da8f12ab3">

                            <div id="mergeTable" class="mergeTable">

                                <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                                    <label for="MERGE0">Email Address <span class="req float-right fwl dim6 asterisk">*</span></label>
                                    <div class="field-group">
                                        <input class="form-control" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
                                    </div>
                                </div>

                                <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                                    <label for="MERGE1">First Name</label>
                                    <div class="field-group">
                                        <input class="form-control" type="text" name="MERGE1" id="MERGE1" value="">
                                    </div>
                                </div>

                                <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                                    <label for="MERGE2">Last Name</label>
                                    <div class="field-group">
                                        <input class="form-control" type="text" name="MERGE2" id="MERGE2"value="">
                                    </div>
                                </div>
                            </div>


                            <br>
                            <!-- real people should not fill this in and expect good things -->
                            <div class="hidden-from-view"><input type="text" name="b_f865410dde76724d6fb7af929_5da8f12ab3" tabindex="-1" value=""></div>

                            <div class="submit_container"  style="text-align:center">
                                <input id="signup-button" type="submit" class="btn btn-md btn-primary" name="submit" value="Subscribe">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<article id="home-splash" class="container">
    <div id="moto">
        <!--<a class="" href="/" target="_self" >-->
            NO MORE COMPROMISE
            <!--style="height:36px">-->
        <!--</a>-->
    </div>
    <section id="wow">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                        <li data-target="#carousel" data-slide-to="3"></li>
                        <li data-target="#carousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="/shop/design">
                                <img src="../../../images/home/aurza-banner-custom-made-fabulous.jpg" alt="AURZA: custom-made fabulous" >
                            </a>
                        </div>
                        <div class="item">
                            <a href="/shop/collection/new">
                                <img src="../../../images/home/aurza-banner-fresh-your-wardrobe-with-summer-prints.jpg" alt="Refresh your wardrobe with AURZA summer prints" >
                            </a>
                        </div>
                        <div class="item">
                            <a href="/shop/collection/new">
                                <img src="../../../images/home/aurza-banner-prints-in-the-city.jpg" alt="AURZA prints in the city" >
                            </a>
                        </div>
                        <!--<div class="item">-->
                            <!--<a href="/shop/collection/new">-->
                                <!--<img src="../../../images/home/aurza-banner-prints-with-attitude.jpg" alt="AURZA prints with attitude" >-->
                            <!--</a>-->
                        <!--</div>-->
                        <div class="item">
                            <a href="/shop/design">
                                <img src="../../../images/home/summer-monochrome.jpg" alt="Summer monochromes: sassy black and white prints" >
                            </a>
                            <!--<div class="carousel-caption">-->
                                <!--<h3>...</h3>-->
                                <!--<p>...</p>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <form id="sign_up_form" action="http://aurza.us7.list-manage.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="f865410dde76724d6fb7af929">
                    <input type="hidden" name="id" value="5da8f12ab3">
                    <div class="offer-signup-bar" >
                        <div class="col-sm-6 col-xs-12 sign-up-label">EXCLUSIVE OFFERS ON FABULOUS DRESSES</div>

                        <!--<div class="col-sm-4">-->


                        <!--<div id="mergeTable" class="mergeTable">-->
                            <!--<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">-->
                                <!--<label for="MERGE0">Email Address <span class="req float-right fwl dim6 asterisk">*</span></label>-->
                                <!--<div class="field-group">-->
                        <div class="col-sm-4 col-xs-8">
                            <input class="sign-up-input" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="enter your email address here">
                        </div>
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<br>-->
                        <!-- real people should not fill this in and expect good things -->
                        <div class="hidden-from-view"><input type="text" name="b_f865410dde76724d6fb7af929_5da8f12ab3" tabindex="-1" value=""></div>
                        <div class="col-sm-2 col-xs-4"><a class="sign-up-submit" href="javascript:{}" onclick="document.getElementById('sign_up_form').submit();"> SUBMIT <span class="glyphicon glyphicon-play"></span></a></div>
                        <!--<div class="submit_container"  style="text-align:center">-->
                            <!--<input type="submit" class="btn btn-md btn-primary" name="submit" value="Subscribe">-->
                        <!--</div>-->


                    <!--<div class="col-sm-4"style="background:white"><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">enter your email here</div>-->

                </div>
                </form>
            </div>
        </div>
        <div class="row icons side-by-side">
            <ul>
                <li><span class="glyphicon glyphicon-plane"></span> worldwide shipping</li>
                <li><span class="glyphicon glyphicon-heart"></span> individually handmade</li>
                <li><span class="glyphicon glyphicon-lock"></span> secure payment</li>
                <li><span class="glyphicon glyphicon-repeat"></span> 30 day return</li>
                <!--<li><span class="glyphicon glyphicon-earphone"></span> contact us</li>-->
            </ul>
        </div>
    </section>
    <aside>
        <div class="row">
            <div class="col-sm-4 ">
                <section id="craftmanship" class="">
                    <a class="" href="/craftmanship.html">
                        <img src="../../../images/home/1-aurza-how-we-craft-your-dress-design.jpg" alt="your design, expertly crafted - how we do it">
                        <!--<img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">-->
                        <!--<p>individually crafted pieces</p>-->
                        <!--<h1>HOW WE MAKE YOUR DRESS</h1>-->
                    </a>
                </section>
            </div>
            <div class="col-sm-4">
                <section id="design"  class="">
                    <a class="" href="/shop/design">
                        <img src="../../../images/home/2-design-your-perfect-dress.jpg" alt="design your perfect dress - start creating">
                        <!--<img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">-->
                        <!--<p>individually crafted pieces</p>-->
                        <!--<h1>HOW WE MAKE YOUR DRESS</h1>-->
                    </a>
                    <!--<p>choose your favourite style, change the <span style="color:#4a00cf">sleeves</span>, neckline, skirt, length, <span style="color:#ff5200">COLOUR</span>, add details-->
                        <!--like an obi belt, faux-leather trim or peplum</p>-->
                    <!--<div>-->
                        <!--<a class="btn btn-lg btn-primary" href="/shop/design" role="button">START DESIGNING</a>-->
                    <!--</div>-->
                    <!--<h1>DESIGN YOUR OWN</h1>-->
                </section>
            </div>
            <div class="col-sm-4">
                <section id="collection"  class="">
                    <a class="" href="/shop/collection">
                        <img src="../../../images/home/3-buy-our-designs-off-the-shelf.jpg" alt="ready to buy designs - shop">
                        <!--<img src="../../../images/home/aurza-dress-collection.jpg" alt="individually crafted pieces">-->
                        <!--<h1>SHOP THE COLLECTION</h1>-->
                    </a>
                </section>
            </div>
        </div>
    </aside>

    <aside>
        <div class="row">
            <div class="col-sm-4 ">
                <section class="home-image-box">
                    <a class="" href="/how-it-works.html">
                        <img src="../../../images/home/4-how-it-works.png" alt="How AURZA works ">
                        <!--<img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">-->
                        <!--<p>individually crafted pieces</p>-->
                        <h1>HOW IT WORKS</h1>
                    </a>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="home-image-box middle" >
                    <a class="" href="/fabrics.html">
                        <img src="../../../images/home/5-our-fabrics.png" alt="See our fabrics">
                        <!--<img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">-->
                        <!--<p>individually crafted pieces</p>-->
                        <h1>SEE OUR FABRICS</h1>
                    </a>
                    <!--<p>choose your favourite style, change the <span style="color:#4a00cf">sleeves</span>, neckline, skirt, length, <span style="color:#ff5200">COLOUR</span>, add details-->
                    <!--like an obi belt, faux-leather trim or peplum</p>-->
                    <!--<div>-->
                    <!--<a class="btn btn-lg btn-primary" href="/shop/design" role="button">START DESIGNING</a>-->
                    <!--</div>-->
                    <!--<h1>DESIGN YOUR OWN</h1>-->
                </section>
            </div>
            <div class="col-sm-4">
                <section class="home-image-box">
                    <a class="" href="/party.html">
                        <img src="../../../images/home/6-book-a-party.png" alt="Book a party">
                        <!--<img src="../../../images/home/aurza-dress-collection.jpg" alt="individually crafted pieces">-->
                        <h1>BOOK A PARTY</h1>
                    </a>
                </section>
            </div>
        </div>
    </aside>
</article>

<article id="" class="container">
    <section id="as-seen"  class="">
        <div class="row">
            <h2>AS SEEN IN</h2>
            <div class="row">
                <!-- Images should be 170px wide  - and 60 or 70 px high?-->

                <div class="col-sm-2  col-xs-6">
                    <div class=" image">
                    <a href="http://dressmeblog.me/made-to-shape-fashion-by-aurza/" target="_blank">
                        <img class="img-responsive" width="300px" src="./images/web/Dress_Me_Blog_Me.png" alt="Dress Me - Blog Me"/>
                    </a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class=" image">
                        <a href="http://www.techinasia.com/startup-creates-custom-tailorfit-dresses-3d-technology/"
                           target="_blank">
                            <img class="img-responsive" width="300px" src="./images/web/Tech_in_Asia.png"
                                 alt="Tech In Asia - Asia Tech News for the World"/>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class=" image">
                    <a href="http://www.forbes.com/sites/joshsteimle/2013/11/29/crowdfunded-hong-kong-startup-aurza-will-give-every-woman-the-perfect-dress/"
                       target="_blank">
                        <img class="img-responsive" width="300px" src="./images/web/forbes.jpeg"
                             style="background-color: #1b4a76" alt="Forbes"/>
                        <!--<img class="img-responsive" width="300px" src="./images/web/Forbes.png"-->
                        <!--alt="Forbes"/>-->
                    </a>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class=" image">
                        <a href="http://www.sassyhongkong.com/dressed-to-impress-customised-clothing-at-aurza-style/" target="_blank">
                            <img class="img-responsive" width="300px" src="./images/web/170/Sassy_Logo.png" alt="Sassy Hong Kong - The Girl's Guide to Everything Hong Kong"/>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-xs-6">
                    <div class=" image">
                    <a href="http://blog.generalassemb.ly/alumni-interview-jessica-stephens-stephanie-holland/"
                       target="_blank">
                        <img class="img-responsive" width="300px" src="./images/web/GENERAL_ASSEMBLY.png"
                             alt="GENERAL ASSEMBLY"/>
                    </a>
                        </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <div class=" image">
                    <a href="http://www.textile-network.com/bekleidung/aurza%E2%80%93-ordering-the-perfect-dress-online_27828_en/" target="_blank">
                        <img class="img-responsive" width="300px" src="./images/web/textilenetwork.gif" alt="Textile Network"/>
                    </a>
                        </div>
                </div>


            </div>
            <!--<div class="row">-->
                <!--<div class="col-sm-2 col-xs-6">-->
                    <!--<a href="http://www.littlebusinesslove.net/blog/the-second-sunday-in-may/" target="_blank">-->
                        <!--<img class="img-responsive" width="300px" src="./images/web/littlebusinesslove.png" alt="Little Business Love"/>-->
                    <!--</a>-->
                <!--</div>-->

            <!--<div class="col-sm-2 col-xs-6">-->
                <!--<a href="http://www.arounddb.com/articles/regulars/moments/12418-blast-from-the-past/" target="_blank">-->
                    <!--<img class="img-responsive" width="300px" src="./images/web/AroundDB.png" alt="AROUND {DB}"/>-->
                <!--</a>-->
            <!--</div>-->


                <!--<div class="col-sm-2 col-xs-6">-->
                    <!--<a href="http://sassymamahk.com/instant-goddess-goes-glam-with-aurza-chicameo-and-aly-rachelle/"-->
                       <!--target="_blank">-->
                        <!--<img class="img-responsive" width="300px" src="./images/web/Sassy_Mama_HK.png" alt="Sassy Mama HK"/>-->
                    <!--</a>-->
                <!--</div>-->


                <!--<div class="col-sm-2 col-xs-6">-->
                    <!--<a href="http://www.hktdc.com/info/mi/a/hkthk/en/1X09XECI/1/Hong-Kong-Trader-Hong-Kong-Edition/The-Right-3D-Fit.htm"-->
                       <!--target="_blank">-->
                        <!--<img class="img-responsive" width="300px" src="./images/web/hkthk.jpg" alt=""/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-sm-2 col-xs-6">-->
                    <!--<a href="http://asiatechhub.com/aurza-service-wants-help-women-find-perfect-dress/" target="_blank">-->
                        <!--<img class="img-responsive" width="300px" src="./images/web/asiatechhub.png" alt="Asia Tech Hub"/>-->
                    <!--</a>-->
                <!--</div>-->
                <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<img src="../../../images/home/aurza-lady-in-fabulous-dress.jpg" alt="custom-made fabulous" >-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<h1>CUSTOM-MADE FABULOUS</h1>-->
                <!--<p class="sub">no more compromise on style or fit</p>-->
                <!--<a class="btn btn-lg btn-primary" href="/shop/design" role="button">START DESIGNING</a>-->
                <!--<p>your style, your personality, your size, <br>-->
                <!--YOUR PERFECT DRESS</p>-->
            <!--</div>-->
        </div>
    </section>
    <!--<aside>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4 ">-->
                <!--<section id="craftmanship" class="page-curl">-->
                    <!--<a class="" href="/craftmanship.html">-->
                        <!--<img src="../../../images/home/aurza-factory.jpg" alt="individually crafted pieces">-->
                        <!--<p>individually crafted pieces</p>-->
                        <!--<h1>HOW WE MAKE YOUR DRESS</h1>-->
                    <!--</a>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<section id="design"  class="page-curl">-->
                    <!--<p>choose your favourite style, change the <span style="color:#4a00cf">sleeves</span>, neckline, skirt, length, <span style="color:#ff5200">COLOUR</span>, add details-->
                        <!--like an obi belt, faux-leather trim or peplum</p>-->
                    <!--<div>-->
                        <!--<a class="btn btn-lg btn-primary" href="/shop/design" role="button">START DESIGNING</a>-->
                    <!--</div>-->
                    <!--<h1>DESIGN YOUR OWN</h1>-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<section id="collection"  class="page-curl">-->
                    <!--<a class="" href="/shop/collection">-->
                        <!--<img src="../../../images/home/aurza-dress-collection.jpg" alt="individually crafted pieces">-->
                        <!--<h1>SHOP THE COLLECTION</h1>-->
                    <!--</a>-->
                <!--</section>-->
            <!--</div>-->
        <!--</div>-->
    <!--</aside>-->
</article>
<article id="" class="container">
    <section id="be-inspired"  class="">
        <div class="row">
            <h2><i>be</i> INSPIRED</h2>
            <p>choose your favourite style, change the sleeves, necline, skirt, length and colour. add details like an obi belt, faux-leather trim or peplum</p>
            <div class="row">

                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <div class="item">
                        <a href="/shop/collection/shift/shift-14">
                            <div class="row image">
                                <!--<div class=" image page-curl">-->
                                <img src="/images/collection/shift-14-lg-front.png"
                                     alt="shift-14">
                                <!--</div>-->
                            </div>
                            <div class="row title">
                                Eddie
                            </div>
                            <div class="row description">
                                Printed silk shift dress
                            </div>
                            <div class="create-button">
                                create
                            </div>
                        </a>
                    </div>
                </div>



                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <div class="item">
                        <a href="/shop/collection/bustier/bustier-1">
                            <div class="row image">
                                <!--<div class=" image page-curl">-->
                                    <img src="/images/collection/bustier-1-lg-dress.png"
                                         alt="bustier-1">
                                <!--</div>-->
                            </div>
                            <div class="row title">
                                Grace
                            </div>
                            <div class="row description">
                                Cream bustier dress
                            </div>
                            <div class="create-button">
                                create
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <div class="item">
                        <a href="/shop/collection/sheath/sheath-7">
                            <div class="row image">
                                <!--<div class="image">-->
                                <img src="/images/collection/sheath-7-lg-dress.png"
                                     alt="sheath-7 - ???">
                                <!--</div>-->
                            </div>
                            <div class="row title">
                                Coco
                            </div>
                            <div class="row description">
                                Red sheath dress
                            </div>
                            <div class="create-button">
                                create
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <div class="item">
                        <a href="/shop/collection/swoosh/swoosh-10">
                            <div class="row image">
                                <!--<div class=" image page-curl">-->
                                    <img src="/images/collection/swoosh-10-lg-dress.png"
                                         alt="swoosh-10 - ???">
                                <!--</div>-->
                            </div>
                            <div class="row title">
                                Kate
                            </div>
                            <div class="row description">
                                Cream swoosh dress
                            </div>
                            <div class="create-button">
                                create
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <div class="item">
                        <a href="/shop/collection/sheath/sheath-8">
                            <div class="row image">
                                <!--<div class=" image page-curl">-->
                                    <img src="/images/collection/sheath-8-lg-dress.png"
                                         alt="sheath-8 - ???">
                                <!--</div>-->
                            </div>
                            <div class="row title">
                                Coco
                            </div>
                            <div class="row description">
                                Teal wrap sheath dress
                            </div>
                            <div class="create-button">
                                create
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <div class="item">
                        <a href="/shop/collection/swing-print/swing-print-1">
                            <div class="row image">
                                <!--<div class=" image page-curl">-->
                                <img src="/images/collection/swing-print-1-lg-front.png"
                                     alt="swing-print-1 - ???">
                                <!--</div>-->
                            </div>
                            <div class="row title">
                                Adele
                            </div>
                            <div class="row description">
                                Patterned swing dress
                            </div>
                            <div class="create-button">
                                create
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</article>
