---
title: AURZA - book a party
---

<div id="party-view" class="container party static">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <!--<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-xs-8 ">-->
            <!--<div class="row">-->
            <h1>HOST A TRUNK SHOW</h1>

            <p class="intro">Treat yourself and your friends for a night of fashion and fun with an AURZA stylist.</p>
        </div>
    </div>
    <div class="row">
        <div class="book-party col-lg-8 col-lg-offset-2">
        <div class="col-sm-8 col-xs-12 party-img">
            <img src="./images/about/aurza-party-girls-night-in.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4 col-xs-12 booking-form">
            <div class="">
                Get <b>fabulous</b> free styling advice and earn <b>50% off</b> your own custom-made dress when you host a trunk show for 5 or more of your friends.
            </div>
            <!--<form role="form">-->
                <!--<div class="form-group">-->
                    <!--<label for="inputName">Name</label>-->
                    <!--<input type="email" class="form-control" id="inputName" placeholder="Enter name">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="inputEmail">Email address</label>-->
                    <!--<input type="password" class="form-control" id="inputEmail" placeholder="Enter email">-->
                <!--</div>-->
                <!--<div class="align-center">-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</div>-->
            <!--</form>-->
            <hr class="grad-line">

            <div class="contact">
                Find out more:
                <a class="btn btn-default"
                    href="mailto:party@aurza.com?subject=Hosting an AURZA Party&body=I would like some information on how to host an AURZA party.">
                    Contact us</a>
            </div>
        </div>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Get personalised style and colour advice whilst trying on a range of gorgeous dresses, tops, skirts and accessories all from the comfort of your own home.  You will be amazed how gorgeous you and your friends can look in classic cut styles that you will have never considered trying on before.</p>

            <p>Every host gets <b>50% off a custom-made dress</b> of their choice, PLUS AURZA rewards that can be redeemed against any purchase from AURZA.</p>

            <p>No more compromises, no more excuses. Finally everyone can feel this good.</p>
        </div>
    </div>
</div>
