---
title: AURZA - book a party
---

<div id="party-view" class="container party static">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <!--<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-xs-8 ">-->
            <!--<div class="row">-->
            <h1>HOST A PARTY</h1>

            <p class="intro">help change the way women shop</p>
        </div>
    </div>
    <div class="row">
        <div class="book-party col-lg-8 col-lg-offset-2">
        <div class="col-sm-8  col-xs-12 party-img">
            <img src="./images/about/aurza-party-girls-night-in.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4 col-xs-12 booking-form">
            <!--<div class="desc">-->
                As a party host you will get 50% off your perfect dress whilst helping each other design
                the dresses that you really want and that you know will look amazing.
            <!--</div>-->
            <form role="form">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="email" class="form-control" id="inputName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="password" class="form-control" id="inputEmail" placeholder="Enter email">
                </div>
                <div class="align-center">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    <hr class="grad-line">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Treat yourself and 5 friends to a night of fashion where you can try on our dresses,
                find your ideal size, check out the fabrics and design your perfect dress together in
                the comfort of your own home.</p>

            <p>Alternatively, host parties for your extended network - allowing you to work from home, design
                fabulous clothes and earn commission.</p>

            <p>No more compromises, no more excuses. Finally everyone can feel this good.</p>
        </div>
    </div>
</div>
