<div id="termsView" class="container">
    <a href="#privacy">&nbsp</a>

    <div class="row col-lg-10 col-lg-offset-1" style="padding-bottom: 100px">

        <h1 style="text-align: center">Privacy policy</h1>

        <p>
            AURZA ("AURZA", "we", "our", "us) is a trading name of DON’T PANIC THE CAT Limited. We respect the privacy
            rights of its online visitors ("you", "your", "yours") and recognize the importance of protecting the
            information collected about them. We have adopted a corporate wide Privacy Policy that guides how we
            collect, store, and use the information that you provide us with.
        </p>

        <p>
            The following information is provided by AURZA to enable our online visitors to be fully informed of our
            Privacy Policies. By visiting AURZA, you are accepting and consenting to the practices described in this
            Privacy Policy and the terms and conditions
        </p>

        <p>
            If you are under 16, we require that you inform a parent or guardian about AURZA’s Privacy Policy and Terms
            and Conditions as well as requiring their consent to the Privacy Policy and Terms and Conditions before
            registering or placing an order with AURZA.
        </p>

        <p>
            This Privacy Policy does not apply to websites maintained by other companies or organizations to which we
            link and AURZA is not responsible for any personal information you submit to third parties via our website.
            Please ensure that you read the Privacy Policy of such other companies or organizations before submitting
            your details.
        </p>

        <h3>WHAT PERSONAL INFORMATION DO WE COLLECT FROM YOU AND HOW?</h3>

        <p>
            AURZA collects personal information in several ways when you place an order, buy a gift voucher for a friend
            or register for a service offered by AURZA. By registering, you are consenting to the collection of your
            personal data. If an order is placed with us, we need to hold personal information including your name,
            email address, phone numbers, home address, shipping and credit / debit card billing address(es) so that we
            can process and fulfill your order.
        </p>

        <h3>
            WHAT ABOUT COOKIES?
        </h3>

        <p>We use cookies in order to improve your shopping experience when you visit AURZA.COM. Cookies are very small
            files that are sent by us to your computer or other access devices. Our cookies let us personalize your
            visits to AURZA.COM and recognize you when you return. Information collected from these cookies may be used
            for the purposes laid out in this Privacy Policy. Most browsers automatically accept cookies. You can
            disable cookies on your computer by indicating this in the preferences or options menu in your browser. If
            you disable cookies, you will not be able to shop at maggieandflynn.com but will still be able to visit
            selected areas of the site. </p>

        <h3>
            HOW THIS INFORMATION MAY BE USED, INCLUDING ANYONE IT MIGHT BE SHARED WITH?
        </h3>

        <p>
            AURZA may use your personal information for the processing of orders, payments and to provide you with a
            personalized shopping experience. We will also use your details to fulfill and deliver your orders and
            manage your account. Personal information that you provide may be disclosed to a credit reference or fraud
            prevention agency, which may keep a record of that information. Where there is a legal obligation to do so,
            we may disclose your information to any relevant regulatory body.
        </p>

        <p>
            We may also use your personal information to send you marketing updates but only ever in accordance with
            your preferences (as detailed in the next section). We do not sell your details to third party marketing
            companies.
        </p>

        <p>
            We do collate information about site traffic, sales and other commercial information which we may pass on to
            third parties but this information does not include any information which can identify you personally.
        </p>

        <p>
            Finally, we may use your personal information for our internal marketing and demographic studies, together
            with non-personal data to monitor customer patterns so we can consistently improve our site design to better
            meet our visitors' needs.
        </p>

        <p>
            From time to time AURZA may employ third party business partners to collect personal information on AURZA’s
            behalf. In such cases, these third parties will be subject to confidentiality agreements and instructed by
            AURZA to comply fully with the AURZA Privacy Policy.
        </p>

        <h3>
            MARKETING OPT-IN AND OPT-OUT POLICY
        </h3>

        <p>
            When you register, you will be given the option to opt-out of subscribing to our regular update service
            which will send you: (i) Email alerts for new products, features, enhancements, special offers, upgrade
            opportunities, contests, events of interest, and one-off marketing promotions. Such alerts may include
            marketing information about AURZA or selected business partners.
        </p>

        <p>
            (ii) Direct mail alerts for new products, features, enhancements, special offers, upgrade opportunities,
            contests, events of interest, and one-off marketing promotions. Such alerts may include marketing
            information about AURZA, our subsidiaries or selected business partners. We do not sell or otherwise pass
            your details to third parties for marketing purposes. Marketing communications you subscribe to will only be
            sent by AURZA Limited.
        </p>

        <p>
            At all times, we will offer you the opportunity to unsubscribe out of any service or update to which you
            have subscribed, if you change your mind. Any e-mail we send you will contain an easy automated unsubscribe
            link so that you can opt-out of that particular mailshot. Simply follow the indications in the e-mail. To
            opt out of direct mail service or updates, please contact an AURZA customer care representative by email at
            INFO@AURZA.COM
        </p>

        <h3>HOW YOU CAN ACCESS AND IF NECESSARY, CHANGE THE PERSONAL INFORMATION AURZA MAINTAINS?</h3>

        <p>
            If for any reason you are concerned that the personal information held by AURZA is not correct, please visit
            the website and, after logging into the site using the ‘sign in’ menu on the home page, your personal
            information will be made available for review and change in the ‘my account’ section. Only you or, upon your
            request, the Customer Care department, may access your personal data from the website using your password
            and User ID. Information may be changed online within ‘account details’, ‘address book’, and ‘email
            subscriptions’. You can change or delete saved credit / debit card details each time you make a purchase.
            You will also be able to delete saved credit / debit card details by adding or editing a delivery / billing
            address. If you change your billing or delivery address while your order is still being processed, the order
            will be re-processed through security validation checks. If you prefer, you may contact us by email at
            INFO@AURZA.COM and we will amend your personal details.

        </p>

        <h3>SAFEGUARDING YOUR PERSONALLY IDENTIFIABLE INFORMATION (TBC DEPENDING ON PAYMENT PROVIDER)</h3>

        <p>
            We will take reasonable care to maintain appropriate safeguards to ensure the security, integrity and
            privacy of the information you have provided us with. When you place an order or access your account
            information, we use Paypal which uses a Secure Socket Layer (SSL) encryption which encrypts your information
            before it is sent to us to protect it from unauthorised use.
        </p>

        <h3>
            WHERE AND HOW TO ASK QUESTIONS AND FILE COMPLAINTS?
        </h3>

        <p>
            If you require more information on our Privacy Policy, please go to the ‘contact us’ section of the web site
            and send an email to INFO@AURZA.COM. If you wish to chat to an AURZA customer care representative please
            call +853 53399302.
        </p>
    </div>
</div>