<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-10">
                    <!--<img src="/images/home/aurza-logo.png" alt="AURZA - utterly fabulous custom-made dresses">-->
                    <h1>Signup</h1>
                </div>
                <div class="col-md-2 modal-button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">
                <p>Exclusive Offers & Customising Tips from our Experts</p>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                <form  action="http://aurza.us7.list-manage.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="f865410dde76724d6fb7af929">
                    <input type="hidden" name="id" value="5da8f12ab3">

                    <div id="mergeTable" class="mergeTable">

                        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                            <label for="MERGE0">Email Address <span class="req float-right fwl dim6 asterisk">*</span></label>
                            <div class="field-group">
                                <input class="form-control" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
                            </div>
                        </div>

                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                            <label for="MERGE1">First Name</label>
                            <div class="field-group">
                                <input class="form-control" type="text" name="MERGE1" id="MERGE1" value="">
                            </div>
                        </div>

                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                            <label for="MERGE2">Last Name</label>
                            <div class="field-group">
                                <input class="form-control" type="text" name="MERGE2" id="MERGE2"value="">
                            </div>
                        </div>
                    </div>


                    <br>
                    <!-- real people should not fill this in and expect good things -->
                    <div class="hidden-from-view"><input type="text" name="b_f865410dde76724d6fb7af929_5da8f12ab3" tabindex="-1" value=""></div>


                    <div class="submit_container"  style="text-align:center">
                        <input type="submit" class="btn btn-md btn-primary" name="submit" value="Subscribe">
                    </div>
                </form>
                </div>
                </div>

            </div>
            <div class="modal-footer modal-button">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer role="contentinfo">
    <div class="container">
        <section id="signup" class="col-md-5 col-md-offset-1 col-sm-6">
            <p>Exclusive Offers & Customising Tips from our Experts</p>

            <!--<form class="form-inline">-->
                <!--<input id="email" type="text" class="form-control" placeholder="Enter your email...">-->
                <!--<button type="submit" class="btn btn-default">Sign up</button>-->
            <!--</form>-->

            <a  class="btn btn-default" data-toggle="modal" data-target="#signup-modal">Sign up</a>.
            <!--<a class="btn btn-default"-->
               <!--href="mailto:info@aurza.com?subject=Sign Me Up&body=I would like to be kept informed of your exclusive offers.">-->
                <!--Contact us</a>-->
        </section>
        <section id="community" class="col-sm-6">
            <p>Join the AURZA community:</p>

            <div class=" social">
                <a href="http://www.facebook.com/AURZAcustom" target="_blank">
                    <div class="sprite-icons facebook"></div>
                    <!--<image src="/images/somicro-borderless/facebook.png"></image>-->
                </a>
                <a href="http://letsgetfabulous.com/" target="_blank">
                    <div class="sprite-icons wordpress"></div>
                    <!--<image src="/images/somicro-borderless/wordpress.png"></image>-->
                </a>
                <a href="http://twitter.com/AURZAcustom" target="_blank">
                    <div class="sprite-icons twitter"></div>
                    <!--<image src="/images/somicro-borderless/twitter.png"></image>-->
                </a>
                <a href="   http://www.pinterest.com/aurza/" target="_blank">
                    <div class="sprite-icons pinterest"></div>
                    <!--<image src="/images/somicro-borderless/pinterest.png"></image>-->
                </a>
                <a href="http://instagram.com/aurzacustom" target="_blank">
                    <div class="sprite-icons instagram"></div>
                    <!--<image src="/images/somicro-borderless/instagram.png"></image>-->
                </a>
                <a href="mailto:info@aurza.com" target="_blank">
                    <div class="sprite-icons email"></div>
                    <!--<image src="/images/somicro-borderless/email.png"></image>-->
                </a>

            </div>
        </section>
    </div>
    <nav class="navbar" role="navigation">


        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/across-the-web.html">Across the web</a></li>
                <li><a href="/terms.html">Terms of use</a></li>
                <li><a href="/privacy.html">Privacy policy </a></li>
            </ul>
        </div>
    </nav>
    <section id="copyright" class=" copyright">
        <p>© 2014 AURZA. All rights reserved.</p>
    </section>
</footer>
