<footer role="contentinfo">
    <div class="container">
        <section id="signup" class="col-md-5 col-md-offset-1 col-sm-6">
            <p>Exclusive Offers & Customising Tips from our Experts</p>

            <!--<form class="form-inline">-->
                <!--<input id="email" type="text" class="form-control" placeholder="Enter your email...">-->
                <!--<button type="submit" class="btn btn-default">Sign up</button>-->
            <!--</form>-->
            <a class="btn btn-default"
               href="mailto:info@aurza.com?subject=Sign Me Up&body=I would like to be kept informed of your exclusive offers.">
                Contact us</a>
        </section>
        <section id="community" class="col-sm-6">
            <p>Join the AURZA community:</p>

            <div class=" social">
                <a href="http://www.facebook.com/AURZAcustom" target="_blank">
                    <div class="sprite-icons facebook"></div>
                    <!--<image src="/images/somicro-borderless/facebook.png"></image>-->
                </a>
                <a href="http://letsgetfabulous.com/" target="_blank">
                    <div class="sprite-icons wordpress"></div>
                    <!--<image src="/images/somicro-borderless/wordpress.png"></image>-->
                </a>
                <a href="http://twitter.com/AURZAcustom" target="_blank">
                    <div class="sprite-icons twitter"></div>
                    <!--<image src="/images/somicro-borderless/twitter.png"></image>-->
                </a>
                <a href="   http://www.pinterest.com/aurza/" target="_blank">
                    <div class="sprite-icons pinterest"></div>
                    <!--<image src="/images/somicro-borderless/pinterest.png"></image>-->
                </a>
                <a href="http://instagram.com/aurzacustom" target="_blank">
                    <div class="sprite-icons instagram"></div>
                    <!--<image src="/images/somicro-borderless/instagram.png"></image>-->
                </a>
                <a href="mailto:info@aurza.com" target="_blank">
                    <div class="sprite-icons email"></div>
                    <!--<image src="/images/somicro-borderless/email.png"></image>-->
                </a>

            </div>
        </section>
    </div>
    <nav class="navbar" role="navigation">


        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/terms.html">Terms of use</a></li>
                <li><a href="/privacy.html">Privacy policy </a></li>
            </ul>
        </div>
    </nav>
    <section id="copyright" class=" copyright">
        <p>© 2014 AURZA. All rights reserved.</p>
    </section>
</footer>
