<header role="banner">
    <!-- NAVBAR
    ================================================== -->


    <nav class="navbar navbar-fixed-top" role="navigation">

        <div class="super-nav" role="navigation">
            <div class="container" style="text-align: right;">
                <ul class="nav navbar-nav">
                    <li><a class="sign-up" data-toggle="modal" data-target="#signup-modal" >Sign up</a></li>
                    <li><a class="gift"><span class="glyphicon glyphicon-gift"></span></a></li>
                    <li>
                        <div id="bag" class="collapse navbar-collapse header-collapse">
                            <hr class="grad-line mob-only">
                            <div class="cart fc_minicart" id="foxy_mincart">
                                <!-- Add #fc_minicart or .fc_minicart to hide cart when zero items -->
                                <a href="https://aurza.foxycart.com/cart?cart=view">
                                    <div class="sprite-icons shopping_bag"></div>
                                    <!--<img src="/images/home/shopping_bag.png" >-->
                                    <span id="fc_quantity">0</span>
                                    <span id="fc_singular"> item </span>
                                    <span id="fc_plural"> items </span> in bag
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <span class="glyphicon glyphicon-chevron-down" style="color:black"></span>
                </button>
                <div id="header">
                    <div id="logo" class="mob-only">
                        <a class="" href="/" target="_self"><img itemprop="logo" src="/images/home/aurza-logo.png" alt="AURZA - utterly fabulous custom-made dresses"></a>
                    </div>

                    <!--<div id="bag" class="collapse navbar-collapse header-collapse">-->
                        <!--<hr class="grad-line mob-only">-->
                        <!--<div class="cart fc_minicart" id="foxy_mincart">-->
                            <!-- Add #fc_minicart or .fc_minicart to hide cart when zero items -->
                            <!--<a href="https://aurza.foxycart.com/cart?cart=view">-->
                                <!--<div class="sprite-icons shopping_bag"></div>-->
                                <!--<img src="/images/home/shopping_bag.png" >-->
                                <!--<span id="fc_quantity">0</span>-->
                                <!--<span id="fc_singular"> item </span>-->
                                <!--<span id="fc_plural"> items </span> in bag-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>

            </div>
            <hr class="grad-line mob-only">
            <div class="collapse navbar-collapse header-collapse">

                <ul class="nav navbar-nav">
                    <li id="logo-nav">
                        <div id="logo">
                            <a class="" href="/" target="_self">
                                <img itemprop="logo" src="/images/home/aurza-logo.png" alt="AURZA - utterly fabulous custom-made dresses">
                                        <!--style="height:36px">-->
                            </a>
                        </div>
                        <div id="moto" style="padding-top:12px;margin-left:-5px;">
                            <a class="" href="/" target="_self" >
                                NO MORE COMPROMISE
                                <!--style="height:36px">-->
                            </a>
                        </div>
                    </li>
                    <li><a href="/shop/collection" data-toggle="collapse" data-target=".header-collapse">LOOKS WE LOVE
                        <!--<div class="sprite-icons heart"></div>-->
                        <!--<img src="/images/home/heart.png">-->
                        </a></li>
                    <li><a href="/shop/design" data-toggle="collapse" data-target=".header-collapse">DESIGN YOUR OWN</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOW IT WORKS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/how-it-works.html" target="_self">HOW IT WORKS</a></li>
                            <li><a href="/flatter-factor.html" target="_self">THE FLATTER FACTOR</a></li>
                            <li><a href="/craftmanship.html" target="_self">CRAFTMANSHIP</a></li>
                            <li><a href="/fabrics.html" target="_self">FABRICS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PARTIES / GIFTS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/party.html" target="_self">BOOK A PARTY</a></li>
                            <li><a href="/gifts.html" target="_self">GIFT BOXES</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about.html" target="_self">ABOUT AURZA</a></li>
                            <li><a href="/across-the-web.html" target="_self">ACROSS THE WEB</a></li>
                            <li><a href="http://blog.aurza.com" target="_blank">LetsGetFabulous - The AURZA Blog</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <hr class="grad-line">
        </div>
    </nav>
</header>