
<!-- TODO: research latest shims and shivs - do not use CDN, locla copy-->
<!--[if lt IE 10]>
<!--<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
<!--<![endif]-->
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="/components/es5-shim/es5-shim.js"></script>
<script src="/components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- TODO or use this one? -->

<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->