/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:916de4b8a1dedaf79383c20b4528f5ad$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(db-silhouettes-sprite.png);}

.fittedsheath {width:200px; height:349px; background-position: -0px -4637px}
.flarefitted {width:202px; height:316px; background-position: -0px -2206px}
.flareplunge {width:202px; height:299px; background-position: -0px -2524px}
.loosesheath {width:201px; height:342px; background-position: -0px -2825px}
.looseswing {width:200px; height:325px; background-position: -0px -4988px}
.plain-shift {width:208px; height:298px; background-position: -0px -300px}
.plungesheath {width:202px; height:342px; background-position: -0px -899px}
.scoop {width:208px; height:297px; background-position: -0px -600px}
.shirt-long {width:200px; height:460px; background-position: -0px -4175px}
.shirt-short {width:200px; height:311px; background-position: -0px -5633px}
.swingfitted {width:202px; height:316px; background-position: -0px -1888px}
.swingloose {width:202px; height:316px; background-position: -0px -1570px}
.swingplunge {width:202px; height:325px; background-position: -0px -1243px}
.swoosh {width:200px; height:316px; background-position: -0px -5315px}
.tailored-shift {width:208px; height:298px; background-position: -0px -0px}
.whole-body {width:200px; height:501px; background-position: -0px -3672px}
.whole-body2 {width:200px; height:501px; background-position: -0px -3169px}
