<div id="aboutView" class="container about">
  <div class="row top">
    <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-xs-8">
      <div class="row">
        <div class="col-lg-8">
          <span style="background-color: #fdeee0;">
            <iframe class="video" width="520" title="YouTube video player" src="http://www.youtube.com/embed/0z79jnz9v60?HD=1;rel=0;showinfo=0;controls=0" height="320" frameborder="0"></iframe>
          </span>
          <!--<iframe width="420" height="315" src="http://www.youtube.com/embed/0z79jnz9v60?rel=0" frameborder="0" rel="0" showinfo="0"-->
                  <!--allowfullscreen modestbranding="1"></iframe>-->
          <!--<img src="images/rev/about/idea.png" class="img-responsive">-->
        </div>
        <div class="col-lg-4 heading">
          <div class="desc">
            We founded AURZA out of a frustration of never being able to find the clothes
            we really wanted. After having 5 kids clothes shopping had lost its sparkle,
            left us deflated and there was always a compromise – too short, too baggy,
            too expensive or even too plain.
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row letter">
    <div class="col-lg-2 col-lg-offset-2">
      <blockquote class="bq3">
        <span>we want everyone to be able to step out with confidence day and night</span>
      </blockquote>


      <!--<span class="quote left">"</span>-->
      <!--<div class="quote text">we want everyone to be able to step out with confidence day and night</div>-->
      <!--<span class="quote right">"</span>-->
    </div>
    <div class="col-lg-6">
      <p>So our aim is simple - to allow women like us to create extraordinary clothes
        that reflect their own sense of style whilst both flattering and fitting each
        of our unique bodies. We want everyone to be able to step out with confidence
        day and night, feeling a million dollars and we know from personal experience
        that a great outfit can make all the difference.</p>

      <p>We are starting by offering utterly fabulous custom made dresses and separates
        <b>designed by us and perfected by you</b>. You choose the style and simply change
        the bodice, skirt, sleeves, length, fabric, trims and accessories. You can
        then decide whether our unique standard sizing model based on 3d body scanning
        is right for you or whether you want us to create a bespoke pattern just for
        you based on your measurements. </p>

      <p>Once you have experienced custom from the comfort of your own home you will
        always want to feel this good.</p>

      <p class="handwriting">Steph and Jess</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 ">
      <h3>Meet the team</h3>
    </div>
  </div>
  <div class="row team">
    <div class="col-lg-2 col-lg-offset-2 ">
      <img src="images/rev/about/mup1.png" width=150 class="img-polaroid">
    </div>
    <div class="col-lg-6 text">
      <h4>Jessica Stephens – Founder and Creative Director</h4>

      <p>With 12 years of textiles and design experience Jess has lead the way with the creative
        development of the range. Aiming to create classic designs that are jaw droppingly gorgeous,
        Jess has worked closely with Alex and our manufacturing experts and spent years researching
        the perfect silhouettes and fabrics that both flatter and fit and quite frankly just make
        you feel great.</p>
    </div>

  </div>
  <div class="row team">
    <div class="col-lg-2 col-lg-offset-2 ">
      <img src="images/rev/about/mup2.png" width=150 class="img-polaroid">
    </div>
    <div class="col-lg-6 text">
      <h4>Stephanie Holland – Founder and Commerical Director</h4>

      <p>With 15 years commercial experience Steph has developed our international supply chain to
        ensure we offer high quality, value for money pieces that exceed our consumers’ expectations
        whilst offering the just in time service we require.</p>
    </div>
  </div>
  <div class="row team">
    <div class="col-lg-2 col-lg-offset-2 ">

      <img src="images/rev/about/mup3.png" width=150 class="img-polaroid">
    </div>
    <div class="col-lg-6 text">
      <h4>The IT Guy</h4>
    </div>

  </div>
</div>
</div>