<div id="aboutView" class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <h3>About BRAZEN</h3>
         </div>
        <div class="row-fluid">
            <p>We founded BRAZEN out of a frustration of never being able to find the clothes
                we really wanted. After having 5 kids clothes shopping had lost its sparkle,
                left us deflated and there was always a compromise – too short, too baggy,
                too expensive or even too plain. </p>
            <p>So our aim is simple - to allow women like us to create extraordinary clothes
                that reflect their own sense of style whilst both flattering and fitting each
                of our unique bodies. We want everyone to be able to step out with confidence
                day and night, feeling a million dollars and we know from personal experience
                that a great outfit can make all the difference.</p>
            <p>We are starting by offering utterly fabulous custom made dresses and separates
                <b>designed by us and perfected by you</b>. You choose the style and simply change
                the bodice, skirt, sleeves, length, fabric, trims and accessories. You can
                then decide whether our unique standard sizing model based on 3d body scanning
                is right for you or whether you want us to create a bespoke pattern just for
                you based on your measurements. </p>
            <p>Once you have experienced custom from the comfort of your own home you will
                always want to feel this good.</p>
            <p class="handwriting">Steph and Jess</p>
        </div>
        <div class="row-fluid">
            <h3>Our story</h3>
        </div>
            <div class="row-fluid">
                <p class="centeredImage">
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/0z79jnz9v60?rel=0" frameborder="0" allowfullscreen modestbranding="1"></iframe>
                </p>
            </div>
        </div>
        <div class="row-fluid">
            <h3>Meet the team</h3>
        </div>
        <!--<div class="row-fluid">-->
            <!--<div class="span2 ">-->
                <!--<img src="images/about/legend.png" width = 150 class="img-polaroid">-->
            <!--</div>-->
            <!--<div class="span9 teamText left">-->
                <!--<h4>Professor Alexandre Kung – Technical Director</h4>-->
                <!--<p>Alex is a legend in his field and is invaluable to BRAZEN’s pattern development-->
                    <!--process. He has worked tirelessly with us to ensure exceptional fit and brought-->
                    <!--classic couture styling to BRAZENs designs as a result of his 30 years experience-->
                    <!--in Italian and French fashion houses as well as his own patented 3D pattern-->
                    <!--making techniques. Alex we love you.</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span9 offset1 teamText right">
                <h4>Jessica Stephens – Founder and Creative Director</h4>
                <p>With 12 years of textiles and design experience Jess has lead the way with the creative
                    development of the range. Aiming to create classic designs that are jaw droppingly gorgeous,
                    Jess has worked closely with Alex and our manufacturing experts and spent years researching
                    the perfect silhouettes and fabrics that both flatter and fit and quite frankly just make
                    you feel great.</p>
            </div>
            <div class="span2 ">
                <img src="images/about/mup1.png" width = 150 class="img-polaroid">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <img src="images/about/mup2.png" width = 150 class="img-polaroid">
            </div>
            <div class="span9 teamText left">
                <h4>Stephanie Holland – Founder and Commerical Director</h4>
                <p>With 15 years commercial experience Steph has developed our international supply chain to
                    ensure we offer high quality, value for money pieces that exceed our consumers’ expectations
                    whilst offering the just in time service we require.</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 teamText right">
                <h4>The Stig – IT Director</h4>
            </div>
            <div class="span2">
                <img src="images/about/mup3.png" width = 150 class="img-polaroid">
            </div>
        </div>
    </div>
</div>