<div id="designBuildView" class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li class="active">Customize</li>
      <li>Sizing/li>
      <li>Review design</li>
      <li>Checkout</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-span-md-5">

      <div id="dress_view" class="container">
        <div class="row">
          <div class="dress">
            <div class=" pic body db-parts-sprite model-front"></div>
            <div draw-dress dress="form"></div>
          </div>
        </div>
        <div class="row purchase big-buy-button">
          <button class="btn" form="selection_form" ng-click="cancel()" ng-disabled="isCancelDisabled()"
                  onClick="_gaq.push(['_trackEvent', 'Design Build', 'cancel']);">Reset
          </button>
          <!--<a class="btn" data-toggle="modal" href="#resetModal">Reset</a>-->
          <!--<a class="btn" id="reset-button" data-toggle="modal" href="#purchase" onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy', '{{dress.silId}}/{{dress.itemId}}']);">Reset design</a>-->
          <a class="btn  btn-info" id="big-buy-button" data-toggle="modal" href="#/purchase"
             onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy', '{{dress.silId}}/{{dress.itemId}}']);">Buy
            Now</a>
        </div>
      </div>


    </div>
    <div class="col-span-md-7">
      <div class="container">
        <div class="row">
          <div class="col-span-md-4">
            {{design.longName}}
          </div>
          <div class="col-span-md-4 builder price">
            <b>HKD {{design.price}}</b>
          </div>
          <div class="col-span-md-4 builder button">
            <a class="btn btn-mini btn-info" id="buy-button" data-toggle="modal" href="#/purchase"
               onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy', '{{dress.silId}}/{{dress.itemId}}']);">Buy
              Now</a>
          </div>
        </div>
        <div class="row  top-border">
          <div class="col-span-md-12">
            <p class=" "><i>{{range.strapline}}</i></p>
          </div>
        </div>
        <div class="row">
          <span ng-repeat="para in range.description"><p>{{para}}</p></span>
        </div>
        <div class="row">
          <tabs class="tabbable">
            <pane heading="customize">
              <tabs class="tabbable tabs-left">
                <pane class="" ng-repeat="option in range.options" heading="{{option.label}}"
                      active="pane.active=option.active">
                  <div class="row col-span-md-12">
                    <!--<br>-->
                    <div class="" name="option_choice" data-toggle="buttons-checkbox">
                      <!--https://github.com/angular-ui/bootstrap/issues/233-->
                      <button ng-repeat="value in option.values" type="button" class="btn builder options"
                              ng-model="form[option.part_name]['id']" btn-radio="value.id">
                        <div class="db-icons-sprite {{option.type}}-{{value.id}}">.</div>
                      </button>
                    </div>
                  </div>
                  <div class="row col-span-md-11">
                    <p>fabric</p>

                    <div class="top-border" name="option_fabric_choice" data-toggle="buttons-checkbox">
                      <!--<div fabric-panel selected-option="form[option.opt_name]"></div>-->
                      <div fabrics selection="range.fabrics" selected-option="form[option.part_name]"></div>
                      <div>
                        fabric description goes here, lorem blah blah..
                      </div>
                    </div>
                  </div>
                </pane>
              </tabs>
            </pane>
            <!-- /style and colour-->
            <pane heading="trim">
              <tabs class="tabbable tabs-left">
                <!--<pane heading="Static title">Static content</pane>-->
                <!--<pane class=""ng-repeat="option in range.options" heading="{{option.opt_label}}" active="pane.active=option.active">-->

                <!--<div class="row col-span-md-5">-->
                <!--<p>trim</p>-->

                <!--<div class="top-border" name="option_trim_choice" data-toggle="buttons-checkbox">-->
                <!--<div trim-panel selected-option="form[option.opt_name]"></div>-->
                <!--<div>-->
                <!--trim description goes here, lorem blah blah..-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row col-span-md-5">-->
                <!--<p>trim fabric</p>-->
                <!--<div class="top-border" name="option_trim_fabric_choice" data-toggle="buttons-checkbox">-->
                <!--<div fabric-trim-panel selected-option="form[option.opt_name]"></div>-->
                <!--<div>-->
                <!--fabric description goes here, lorem blah blah..-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</pane>-->
              </tabs>
            </pane>

            <pane heading="size selector">
            </pane>
            <!--<pane heading="review my design">-->
            <!--Details of your personal {{design.longName}} design:-->
            <!--<ul>-->
            <!--<li ng-repeat="item in form">{{item.type|labelLookup}} in {{item.fabric|labelLookup}} fabric</li>-->
            <!--</ul>-->
            <!--</pane>-->
          </tabs>

        </div>
      </div>
    </div>
  </div>

  <br/><br/><br/><br/><br/>
  <!--Debug View:-->
  <pre>form={{form}}</pre>
  <pre>option={{option}}</pre>
  <pre>options={{options}}</pre>

  <pre>master={{master}}</pre>
  <pre>category={{category}}</pre>
  <pre>design={{design}}</pre>
  <pre>range={{range}}</pre>
</div> <!-- /designBuildView -->