<div id="fabricsView" class="container">
  <div class="row">
    <div class="strap-line col-sm-6 col-sm-offset-3">
      <span class="small">...fabrics strap-line...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2 col-sm-3 col-xs-6 fabric">
      <img src="images/rev/fabrics/crepe.png" alt-text="Crepe Fabric" class="img-responsive">
      <div class="title">CREPE</div>
      <p class="desc">
        Cupcake ipsum dolor sit amet tart halvah brownie. Wafer tootsie roll unerdwear.com ice cream liquorice sugar plum danish. Gingerbread bonbon cake pie danish marshmallow. Cheesecake lollipop macaroon candy wafer.
      </p>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-6 fabric">
      <img src="images/rev/fabrics/silk.png" alt-text="Silk Fabric" class="img-responsive">
      <div class="title">SILK</div>
      <p class="desc">
        Gummies danish carrot cake jujubes chupa chups pastry. Gingerbread bear claw sweet roll sesame snaps pastry carrot cake donut cookie chocolate bar. Muffin biscuit bear claw pastry biscuit apple pie jelly biscuit.
      </p>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-6 fabric">
      <img src="images/rev/fabrics/leather.png" alt-text="Leather Fabric" class="img-responsive">
      <div class="title">LEATHER</div>
      <p class="desc">
        Apple pie ice cream pie gingerbread macaroon muffin. Candy canes brownie liquorice pudding pudding fruitcake gingerbread cheesecake candy canes. Macaroon marzipan muffin soufflé dessert dragée. Gummies croissant jelly beans.
      </p>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-6 fabric">
      <img src="images/rev/fabrics/sequins.png" alt-text="Sequins Fabric" class="img-responsive">
      <div class="title">SEQUINS</div>
      <p class="desc">
        Soufflé croissant donut chocolate cake caramels cheesecake. Bear claw donut wafer cotton candy sesame snaps cookie. Unerdwear.com icing applicake dragée. Chocolate cake lollipop jelly. Chocolate bar gummies danish danish.
      </p>
    </div>
  </div>
</div>