<div id="fabricsView" class="container">
  <div class="row">
    <div class="strap-line col-sm-6 col-sm-offset-3">
      <span class="small">...fabrics strap-line...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2 col-sm-3 col-xs-6 fabric">
      <img src="images/fabrics/crepe.png" alt-text="Crepe Fabric" class="img-responsive">
      <div class="title">CREPE</div>
      <p class="desc">
          Our flattering viscose crepe fabric has been carefully selected because of

          its stretch, drape and softness. Mixed with polyester and elastane for added

          strength and stretch recovery it is less likely to crease than cotton. The inherent

          stretch of the twisted yarns gives superior comfort to the wearer as well as

          providing the firmness of a woven fabric that simple jersey cannot offer.
      </p>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-6 fabric">
      <img src="images/fabrics/silk.png" alt-text="Silk Fabric" class="img-responsive">
      <div class="title">SILK</div>
      <p class="desc">
          Our gorgeous Chinese silk offers the height in luxury and elegance. Known for

          its high quality it has a velvety touch and a peach-skin appearance. Silk’s natural

          properties make it comfortable to wear at any time of the year whilst its aesthetic

          properties make it drape and handle beautifully. The luxury of silk next to the skin

          is one of life’s pleasures.
      </p>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-6 fabric">
      <img src="images/fabrics/leather.png" alt-text="Leather Fabric" class="img-responsive">
      <div class="title">LEATHER</div>
      <p class="desc">
          We have selected the highest quality Italian lambskin leather for our fabric belts.

          It is characterized by its extreme softness and flexibility and comes in a wide

          colour palette to complement our core fabric range.
      </p>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-6 fabric">
      <img src="images/fabrics/sequins.png" alt-text="Sequins Fabric" class="img-responsive">
      <div class="title">Faux LEATHER</div>
      <p class="desc">
          Our stretch faux leather provides a more maintainable and affordable option to

          real leather. Soft and supple it adds a touch of sass to any outfit whether as trim

          or as a whole garment.
      </p>
    </div>
  </div>
</div>