<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div id="email-signup" class="col-sm-5 col-sm-offset-1">
        <p>Exclusive Offers & Customising Tips from our Experts</p>

        <form class="form-inline">
          <!--<label>-->
          <!--Receive our Newsletter-->
          <!--</label>-->
          <input id="email" type="text" class="form-control" placeholder="Enter your email...">
          <button type="submit" class="btn btn-default">Sign up</button>
        </form>

      </div>
      <div class="col-sm-4" id="social-signup">
        <p>Join the AURZA community</p>

        <div class="row social">
          <div class="span12">
            <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
            <a href="#" class="gplus">
              <span class="socialicons ico3"></span>
              <span class="socialicons_h ico3h"></span>
            </a>
            <a href="#" class="flickr">
              <span class="socialicons ico4"></span>
              <span class="socialicons_h ico4h"></span>
            </a>
            <a href="#" class="pinterest">
              <span class="socialicons ico5"></span>
              <span class="socialicons_h ico5h"></span>
            </a>
            <a href="#" class="dribble">
              <span class="socialicons ico6"></span>
              <span class="socialicons_h ico6h"></span>
            </a>
            <a href="#" class="behance">
              <span class="socialicons ico7"></span>
              <span class="socialicons_h ico7h"></span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <nav class="navbar" role="navigation">

        <div class="container">
          <!--<div class="navbar-header">-->
          <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-aurza-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--</div>-->

          <!-- Place everything within .nav-collapse to hide it until above 768px -->
          <div class="collapse navbar-collapse navbar-aurza-collapse">
            <div class="navbar-inner">
              <ul class="nav navbar-nav">
                <li><a href="#collection">Shop the collection</a></li>
                <li><a href="#design">Design your own</a></li>
                <li><a href="#fit">A better fit</a></li>
                <li><a href="#fabrics">Browse fabrics</a></li>
                <li><a href="#party">Book a party</a></li>
                <li><a href="#about">About AURZA</a></li>
                <li><a href="#contact">CONTACT</a></li>
              </ul>
            </div>
            <div class="row contact ">
              <div class="container  col-sm-offset-1">
                <div class="col-lg-3 col-sm-6">
                  <span class="glyphicon glyphicon-map-marker"></span> Discovery Bay, Lantau Island
                </div>
                <div class="col-lg-2 col-sm-4">
                  <span class="glyphicon large glyphicon-phone"></span>  +852 123456
                </div>
                <div class="col-lg-3 col-sm-6">
                  <span class="glyphicon glyphicon-envelope"></span> <a href="#"> panic@thecat.com</a>
                </div>
                 <div class="col-lg-3 col-sm-4 ">
                   <span class="glyphicon "></span>
                   <span class="terms">Terms of use</span>
                   <span class="privacy">Privacy policy </span>
                  </div>
              </div>
            </div>

          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
        <!--</div>-->
      </div><!-- /.navbar -->
    </div>
    <div class="row copyright">
    <div class="col-sm-12">
      <p>© 2013 AURZA. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
  </div>
</footer>