<div id="myModal" class="modal hide fade smallModal">
    <form id="signup-form" action="/signup" method="post" class="form-horizontal">
        <div class="modal-header"><a data-dismiss="modal"  class="close"></a>
            <h3>Sign Up Today</h3></div>
        <div class="modal-body">
            <fieldset>
                <div class="control-group">
                    <input type="text" name="username" placeholder="Username" class="input-xlarge uname"/>
                    <!--<span id="imagePlaceHolder"></span>-->
                </div>
                <div class="control-group">
                    <input type="text" name="email" placeholder="Email" class="input-xlarge"/>
                </div>
                <div class="control-group">
                    <input type="password" name="password" placeholder="Password" class="input-xlarge"/>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Close</a>
            <button class="btn btn-primary create-button" type="submit">Create Account</button>
        </div>
    </form>
</div>
<div id="loginModal" class="modal hide fade smallModal">
    <form id="login-form" action="/login" method="post" class="form-horizontal">
        <div class="modal-header">
            <a data-dismiss="modal" class="close"></a>
            <h3>Log In</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="control-group">
                    <input type="text" name="username" placeholder="Username" class="input-xlarge uname"/>
                    <!--<span id="imagePlaceHolder"></span>-->
                </div>
                <div class="control-group">
                    <input type="password" name="password" placeholder="Password" class="input-xlarge"/>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>
<div id="resetModal" class="modal hide fade smallModal">
    <form id="reset-form" action="/design" method="post" class="form-horizontal">
        <div class="modal-header">
            <a data-dismiss="modal" class="close"></a>
            <h3>RESET</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to throw away your design?</p>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Oops, no. Take me back!</a>
            <button class="btn btn-primary" type="submit">Yes, chuck it away please.</button>
        </div>
    </form>
</div>
<div id="reviewModal" class="modal hide fade smallModal">
    <form id="review-form" action="/review" method="post" class="form-horizontal">
        <div class="modal-header">
            <a data-dismiss="modal" class="close"></a>
            <h3>Review my design</h3>
        </div>
        <div class="modal-body">
            <div class="design-list">

            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <button class="btn btn-primary" type="submit">Add to bag &raquo;</button>
        </div>
    </form>
</div>

<nav class="navbar navbar-fixed-top" role="navigation">

  <div class="container">
    <!--<div class="navbar-header">-->
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-aurza-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="centeredImage">
        <a class="logo" href="#!"><img src="/images/rev/home/logo.png"></a>
        <!--<a class="new_logo2" href="#home">AURZA</a>-->
      </div>
    <!--</div>-->

    <!-- Place everything within .nav-collapse to hide it until above 768px -->
    <div class="collapse navbar-collapse navbar-aurza-collapse">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li><a href="#!collection">Shop the collection</a></li>
          <li><a href="#!design">Design your own</a></li>
          <!--<li><a href="#!fit">A better fit</a></li>-->
          <li><a href="#!fabrics">Browse our fabrics</a></li>
          <!--<li><a href="#!party">Book a party</a></li>-->
          <li><a href="#!about">About AURZA</a></li>
          <!--<li><a href="#!contact">CONTACT</a></li>-->
        </ul>
      </div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->