
<nav class="navbar navbar-fixed-top" role="navigation">

  <div class="container">
    <!--<div class="navbar-header">-->
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-aurza-collapse">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <div class="">
        <a class="logo" href="#!"><img src="/images/home/AURZAlogo.png"></a>
        <!--<a class="new_logo2" href="#home">AURZA</a>-->
      </div>
    <!--</div>-->
    <div style="font-family: 'Nothing You Could Do', cursive;font-size: 40px;">
      design you perfect dress
    </div>

    <!-- Place everything within .nav-collapse to hide it until above 768px -->
    <!--<div class="collapse navbar-collapse navbar-aurza-collapse">-->
      <!--<div class="navbar-inner">-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li><a href="#!collection">Shop the collection</a></li>-->
          <!--<li><a href="#!design">Design your own</a></li>-->
          <!--&lt;!&ndash;<li><a href="#!fit">A better fit</a></li>&ndash;&gt;-->
          <!--<li><a href="#!fabrics">Browse our fabrics</a></li>-->
          <!--&lt;!&ndash;<li><a href="#!party">Book a party</a></li>&ndash;&gt;-->
          <!--<li><a href="#!about">About AURZA</a></li>-->
          <!--&lt;!&ndash;<li><a href="#!contact">CONTACT</a></li>&ndash;&gt;-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.nav-collapse &ndash;&gt;-->
  </div><!-- /.container -->
</nav><!-- /.navbar -->