<div id="designBuildView" class="container">
<div class="row">

  <div id="view_dress_panel" class="col-lg-3 col-lg-offset-1 col-md-3 ">
    <div class="row dress">
      <!--<div draw-design-Pic design="form"></div>-->
      <div draw-design design="form" model=""></div>
    </div>

    <div class="row">

    </div>

  </div>

  <div id="dress_designer_panel" class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-">
    <div class="container style">

      <div class="row">
        <!--<div design-breadcrumb></div>-->
        <ul class="breaded" id="options">
          <li ng-repeat="part in range.options[0].parts" ng-class="{active: part.active}">
            <a href="#{{part.part_name}}" data-toggle="tab">{{part.label}}</a>
          </li>
          <li ng-repeat="part in range.extras[0].parts"><a href="#{{part.part_name}}-extra" data-toggle="tab">{{part.label}}</a>
          </li>
        </ul>

        <!-- Start of inner pannel --->
        <div class="option-panel">

          <div class="tab-content">
            <div ng-repeat="part in range.options[0].parts" class="tab-pane" ng-class="{active: part.active}"
                 id="{{part.part_name}}">
              <div class="row">
                <div class="col-xs-6">
                  <part-selector part="part" selected-option="form[range.options[0].option_name][part.part_name]"/>
                </div>
                <div class="col-xs-6">
                  <fabric-selector ng-repeat="set in fabricSets | filterSets:part.fabricSets" fabric-set="set"
                                   selected-option="form[range.options[0].option_name][part.part_name]"/>
                </div>
              </div>
              <div class="row trim-selector" ng-show="part.size">
                <div class="col-xs-7">
                  Length:
                </div>
                <div class="col-xs-4">
                  <size-selector part="part" selected-option="form[range.options[0].option_name][part.part_name]"/>
                </div>
              </div>
              <div class="row trim-selector" ng-show="part.trim">
                <trim-selector ng-repeat="set in fabricSets | filterSets:part.trimFabricSets"
                               ng-checked="form[range.options[0].option_name][part.part_name]['trim']"
                               fabric-set="set" selected-option="form[range.options[0].option_name][part.part_name]"
                               is-trim="true" part-name="part.part_name"/>
              </div>
            </div>


            <div ng-repeat="part in range.extras[0].parts" class="tab-pane"
                 id="{{part.part_name}}-extra">

              <div class="row  middle-container" ng-repeat="value in part.values">
                <div class="col-xs-3">

                  <div data-toggle="buttons">
                    <!--https://github.com/angular-ui/bootstrap/issues/233-->
                    <div class="option-button">
                      <button type="button" class="btn btn-default option"
                              ng-model="form[range.extras[0].name][part.part_name]['id']" btn-radio="value.id"
                              ng-click="form[range.extras[0].name][part.part_name]['fabric'] = value.defaultFabric; form[range.extras[0].name][part.part_name]['code']=value.id + '-' +value.defaultFabric"
                              ng-class="{highlight: form[range.extras[0].name][part.part_name]['id']==value.id }">
                        <div class="db-icons-sprite {{part.type}}-{{value.id}}" tooltip="{{value.name}}"></div>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-xs-3" style="vertical-align: middle">
                  <div>
                    <div class="fabric-group middle-inner">
                      <div class="row extras-fabric-header">
                        None
                      </div>
                      <div class="row">

                        <button type="button"
                                class="btn fabric-selector fabric000"

                                ng-click="form[range.extras[0].name][part.part_name]['fabric'] = 000; form[range.extras[0].name][part.part_name]['id'] = value.id"
                                ng-model="form[range.extras[0].name][part.part_name]['code']"
                                btn-radio="value.id +'-'+000"
                                ng-class="{active: form[range.extras[0].name][part.part_name]['code']==value.id +'-'+000 }"
                                tooltip="None"
                                onClick="_gaq.push(['_trackEvent', 'Design Build', 'select fabric', '{{form[range.extras[0].name][part.part_name].type}}-{{form[range.extras[0].name][part.part_name].id}}', '000' ]);">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-6" style="vertical-align: middle">
                  <div ng-repeat="set in fabricSets | filterSets:value.fabricSets">
                    <div class="fabric-group middle-inner">
                      <div class="row extras-fabric-header">
                        {{set.setName}}
                      </div>
                      <div class="row">

                        <button ng-repeat="fabric in set.fabrics" type="button"
                                class="btn fabric-selector fabric{{fabric.fabId}}"

                                ng-click="form[range.extras[0].name][part.part_name]['fabric'] = fabric.fabId; form[range.extras[0].name][part.part_name]['id'] = value.id"
                                ng-model="form[range.extras[0].name][part.part_name]['code']"
                                btn-radio="value.id +'-'+fabric.fabId"
                                ng-class="{active: form[range.extras[0].name][part.part_name]['code']==value.id +'-'+fabric.fabId }"
                                tooltip="{{fabric.fabName}}"
                                onClick="_gaq.push(['_trackEvent', 'Design Build', 'select fabric', '{{form[range.extras[0].name][part.part_name].type}}-{{form[range.extras[0].name][part.part_name].id}}', '{{fabric.fabId}}' ]);">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

            <form action="https://AURZA.foxycart.com/cart" method="post">
                <input type="hidden" name="name" value="A great product" />
                <input type="hidden" name="price" value="5.00" />
                <select name="size">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                <input type="submit" value="Buy It Now!" />
            </form>

          <!--<div style="vertical-align:middle; text-align: left; font-family: 'Nothing You Could Do', cursive;font-size: 30px;">-->
            <!--share your design:-->
          <!--</div>-->
          <!--<div ng-controller="MetaCtrlInput" class="row align-left">-->
            <!--<ul ng-social-buttons style="margin-top:10px"-->
                <!--data-url="$location.absUrl()"-->
                <!--data-title="data.og_title"-->
                <!--data-description="'current_desc'"-->
                <!--data-image="data.og_image">-->
              <!--<li style="vertical-align:middle; text-align: left; font-family: 'Nothing You Could Do', cursive;font-size: 24px;">-->
                <!--share your design:-->
              <!--</li>-->
              <!--<li class="ng-social-facebook">Facebook</li>-->
              <!--&lt;!&ndash;<li class="ng-social-google-plus" data-proxy-url="'/proxy.php'">Google+</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-twitter">Twitter</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-vk">Вконтакте</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-odnoklassniki">Одноклассники</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-mailru">Мой мир</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-pinterest">Pinterest</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-github" user="esvit" repository="ng-table">GitHub</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-github-forks" user="esvit" repository="ng-table">Forks</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="ng-social-stumbleupon">StumbleUpon</li>&ndash;&gt;-->
            <!--</ul>-->
          <!--</div>-->
        </div>

        <!--<div class="row">-->
          <!--<div class="col-sm-4 align-left">-->
            <!--<a class="btn btn-default igg-design-buttons" id="reset-design" ng-click="cancel()"-->
               <!--ng-disabled="isCancelDisabled()"-->
               <!--onClick="_gaq.push(['_trackEvent', 'Design Build', 'reset-design', '{{dress.silId}}/{{dress.itemId}}']);">-->
              <!--Reset design</a>-->
          <!--</div>-->

          <!--&lt;!&ndash;<div class="col-sm-4 col-md-offset- align-left" style="margin-bottom:50px">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="btn btn-danger design-buttons" href="#/purchase"&ndash;&gt;-->
          <!--&lt;!&ndash;onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">&ndash;&gt;-->
          <!--&lt;!&ndash;Change silhouette</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--<div class="col-sm-4 col-md-offset-4 align-right">-->
            <!--&lt;!&ndash;<a class="btn btn-default igg-design-buttons"&ndash;&gt;-->
               <!--&lt;!&ndash;href="https://www.facebook.com/dialog/feed?picture=http://img.aurza.com/skt-001-02-013-slv-009-00-013-nek-001-00-003-blt-002-00-000-ext-002-00-000-ext-003-00-000.png&description=For more details on this dress...&app_id=153275411536544&redirect_uri=http://indiegogo-prototype-designer.aurza.com/#!/design/sheath&link=http://indiegogo-prototype-designer.aurza.com/#!/design/sheath&name=Check+out+the+dress+I+designed+-+what+do+you+think%3F"&ndash;&gt;-->
               <!--&lt;!&ndash;onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">&ndash;&gt;-->
              <!--&lt;!&ndash;Facebook</a>&ndash;&gt;-->
            <!--<div facebook design="form"></div>-->
          <!--</div>-->


        <!--</div>-->
        <!--<div class="row align-center">-->
          <!--&lt;!&ndash;<div class="col-sm-12 align-center" style="margin-bottom:50px">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="btn btn-danger" href="#/purchase"&ndash;&gt;-->
               <!--&lt;!&ndash;style="font-family: 'Nothing You Could Do', cursive;font-size: 30px;"&ndash;&gt;-->
               <!--&lt;!&ndash;onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">&ndash;&gt;-->
              <!--&lt;!&ndash;back to indiegogo</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div facebook design="form"></div>-->
        <!--</div>-->

      </div>

    </div>
  </div>
</div>

<!--<p>{{param(form)}}</p>-->
<!--<pre>form={{form}}</pre>-->
<!--<div design-link design="param(form)" sil="style"/>-->

<div class="row">
  <div class="col-md-5 col-sm-3 align-center" style="margin-bottom:10px">
      <a class="btn btn-default design-buttons" id="reset-design" ng-click="cancel()" ng-disabled="isCancelDisabled()"
         style="font-family: 'Nothing You Could Do', cursive;font-size: 20px;"
         onClick="_gaq.push(['_trackEvent', 'Design Build', 'reset-design', '{{dress.silId}}/{{dress.itemId}}']);">
        Reset design</a>
  </div>
  <div class="col-md-3 col-sm-5 align-center" style="margin-bottom:10px">
    <a class="btn btn-default  igg-design-buttons" href="#!/"
       style="font-family: 'Nothing You Could Do', cursive;font-size: 20px;"
       onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', 'design-build/different-style']);">
      try a different style</a>
  </div>
  <div class="col-sm-4 align-center" style="margin-bottom:10px">
    <!--<a class="btn btn-danger igg-design-buttons" href="#!/review/{{style.styleId}}/{$.param(design)}'"-->
       <!--style="font-family: 'Nothing You Could Do', cursive;font-size: 20px;"-->
       <!--onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', 'design-build/send']);">-->
      <!--Send us your design</a>-->
    <div review-link design="param(form)" sil="style"/>
  </div>
</div>

<!--<div class="row" id="debug_view">-->

  <!--<div class="col-md-4 align-left">-->
    <!--<a class="btn btn-mini" ng-click="isDebugCollapsed = !isDebugCollapsed">Toggle debug view</a>-->
  <!--</div>-->
  <!--<div class="col-md-4 align-center">-->
  <!--</div>-->
  <!--<div class="col-md-4 align-right">-->
    <!--<a class="btn btn-mini" href="#!/designAdmin/{{style.styleId}}">Toggle admin view</a>-->
  <!--</div>-->
  <!--<hr>-->
  <!--<div ng-show="!isDebugCollapsed">-->
    <!--<p>{{param(form)}}</p>-->
    <!--<pre>form={{form}}</pre>-->
    <!--<pre>fabricSets={{fabricSets}}</pre>-->
    <!--<pre>trimFabricSets={{trimFabricSets}}</pre>-->
    <!--<pre>dressFabricSets={{dressFabricSets}}</pre>-->


    <!--<pre>master={{master}}</pre>-->
    <!--<pre>category={{category}}</pre>-->
    <!--<pre>style={{style}}</pre>-->
    <!--<pre>range={{range}}</pre>-->
  <!--</div>-->
<!--</div>-->
</div>
<!-- /designBuildView -->