<div id="designBuildView" class="container">
<div class="row">

  <div id="view_dress_panel" class="col-lg-3 col-lg-offset-1 col-md-3 ">
    <div class="row dress">
      <!--<div draw-design-Pic design="form"></div>-->
      <div draw-design design="form"></div>
    </div>

    <div class="row">

    </div>

  </div>

  <div id="dress_designer_panel" class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-">
    <div class="container style">

      <div class="row" style="border-width:1px; border-color: black; border-style:solid; padding: 10px">

        <div style="border-width:1px; border-color: black">

          <div style="border-bottom-width:1px; border-bottom-color: #c2c2c2; border-bottom-style:solid; padding: 10px">
            <p><b>To:</b> info@aurza.com</p>
            <p><b>Subject</b>: My Design Details</p>
          </div>
        <br>
        <p>Dear Team AURZA,</p>

        <p>Please find below the component codes for my dress design:</p>

        <table  class="reviewDesign">
          <tr>
            <th>Component</th>
            <th>Style</th>
            <th>Size</th>
            <th>Fabric</th>
            <th>Trim</th>
          </tr>
          <tr ng-repeat="design in form.design" ng-class-even="'alt'">
            <td class="bold">{{design.type}}</td>
            <td>{{design.id}}</td>
            <td>{{design.size}}</td>
            <td>{{design.fabric}}</td>
            <td>{{design.trim}}</td>
          </tr>
          <tr><td> &nbsp</td></tr>
          <tr>
            <th>Accessory</th>
            <th>Style</th>
            <th>Fabric</th>
            <th>Length</th>
            <th>Trim</th>
          </tr>
          <tr ng-repeat="design in form.extras" ng-class-even="'alt'">
            <td class="bold">{{design.type}}</td>
            <td>{{design.id}}</td>
            <td>{{design.fabric}}</td>
            <td>{{design.size}}</td>
            <td>{{design.trim}}</td>
          </tr>
        </table>
        <br>

          <form name="test">
          Raw link to my design (<a class="highlighttext" href="javascript:selectcopy('test.select1')">select all</a>)
          <br>
          <div raw-link-box design="param(form)" sil="style"></div>

            </form>



        <!--<div class="row">-->
          <!--<div class="col-sm-4 align-left">-->
            <!--<a class="btn btn-default igg-design-buttons" id="reset-design" ng-click="cancel()"-->
               <!--ng-disabled="isCancelDisabled()"-->
               <!--onClick="_gaq.push(['_trackEvent', 'Design Build', 'reset-design', '{{dress.silId}}/{{dress.itemId}}']);">-->
              <!--Reset design</a>-->
          <!--</div>-->

          <!--&lt;!&ndash;<div class="col-sm-4 col-md-offset- align-left" style="margin-bottom:50px">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="btn btn-danger design-buttons" href="#/purchase"&ndash;&gt;-->
          <!--&lt;!&ndash;onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">&ndash;&gt;-->
          <!--&lt;!&ndash;Change silhouette</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--<div class="col-sm-4 col-md-offset-4 align-right">-->
            <!--&lt;!&ndash;<a class="btn btn-default igg-design-buttons"&ndash;&gt;-->
               <!--&lt;!&ndash;href="https://www.facebook.com/dialog/feed?picture=http://img.aurza.com/skt-001-02-013-slv-009-00-013-nek-001-00-003-blt-002-00-000-ext-002-00-000-ext-003-00-000.png&description=For more details on this dress...&app_id=153275411536544&redirect_uri=http://indiegogo-prototype-designer.aurza.com/#!/design/sheath&link=http://indiegogo-prototype-designer.aurza.com/#!/design/sheath&name=Check+out+the+dress+I+designed+-+what+do+you+think%3F"&ndash;&gt;-->
               <!--&lt;!&ndash;onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">&ndash;&gt;-->
              <!--&lt;!&ndash;Facebook</a>&ndash;&gt;-->
            <!--<div facebook design="form"></div>-->
          <!--</div>-->


        <!--</div>-->
        <!--<div class="row align-center">-->
          <!--&lt;!&ndash;<div class="col-sm-12 align-center" style="margin-bottom:50px">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="btn btn-danger" href="#/purchase"&ndash;&gt;-->
               <!--&lt;!&ndash;style="font-family: 'Nothing You Could Do', cursive;font-size: 30px;"&ndash;&gt;-->
               <!--&lt;!&ndash;onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">&ndash;&gt;-->
              <!--&lt;!&ndash;back to indiegogo</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div facebook design="form"></div>-->
        <!--</div>-->
      </div>
      </div>

      <div class="row">
        <div class="col-sm-6 align-center" style="margin-bottom:10px">
          <div design-link design="param(form)" sil="style"></div>
        </div>
        <div class="col-sm-6 align-center" style="margin-bottom:10px">
          <div place-order design="designString(form.design)" extras="designString(form.extras)" params="param(form)" sil="style"></div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row" id="debug_view">

  <!--<div class="col-md-4 align-left">-->
    <!--<a class="btn btn-mini" ng-click="isDebugCollapsed = !isDebugCollapsed">Toggle debug view</a>-->
  <!--</div>-->
  <!--<div class="col-md-4 align-center">-->
  <!--</div>-->
  <!--<div class="col-md-4 align-right">-->
    <!--<a class="btn btn-mini" href="#!/designAdmin/{{style.styleId}}">Toggle admin view</a>-->
  <!--</div>-->
  <hr>
  <div ng-show="!isDebugCollapsed">
    <pre>form={{form}}</pre>
    <pre>fabricSets={{fabricSets}}</pre>
    <pre>trimFabricSets={{trimFabricSets}}</pre>
    <pre>dressFabricSets={{dressFabricSets}}</pre>


    <pre>master={{master}}</pre>
    <pre>category={{category}}</pre>
    <pre>style={{style}}</pre>
    <pre>range={{range}}</pre>
  </div>
</div>
</div>
<!-- /designBuildView -->