<div id="designBuildView" class="container">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div design-breadcrumb step="customize"></div>
  </div>
</div>
<div class="row">

<div id="view_dress_panel" class="col-md-5  col-md-offset-1">
    <div class="row dress">
      <img ng-src="images/parts/whole body.png" class="pic body">

      <div draw-dress dress="form.design"></div>
      <div draw-trim dress="form.design"></div>
      <div draw-dress dress="form.belt"></div>
      <div draw-dress dress="form.extras"></div>
    </div>
    <div class="row">
    <!--<div style="float:left">-->
      <!--Mouseover to zoom-->
      <!--</div>-->
    <div class=" align-right" style="margin-bottom:50px">
      <a class="btn btn-default reset" id="reset-design" ng-click="cancel()" ng-disabled="isCancelDisabled()"
         onClick="_gaq.push(['_trackEvent', 'Design Build', 'reset-design', '{{dress.silId}}/{{dress.itemId}}']);">
        Reset</a>
    </div>
  </div>
</div>

<div id="dress_designer_panel" class="col-md-5">
<div class="container style">
<div class="row">
  <div class="col-md-6">
    <div overview info="style"></div>
  </div>
  <div class="col-md-6 align-right">
    <div class="row">
      <a class="btn btn-mini btn-danger" id="buy-sml-btn" href="#/purchase"
         onClick="_gaq.push(['_trackEvent', 'Design Build', 'buy-sml-btn', '{{dress.silId}}/{{dress.itemId}}']);">
        Choose size and checkout</a>
    </div>
    <div class="row">
      <!--...add social icons here-->
    </div>
  </div>
</div>

<div class="row" ng-hide="isFlatDesigner">
  <div class="row">
    <div class="panel-group" id="customise-accordion">

      <div class="panel" ng-repeat="option in range.options">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#customise-accordion"
               href="#{{option.option_name}}">
              {{option.label}}
            </a>
          </h3>
        </div>
        <!--TODO - default open panel is class="panel-collapse collapse" -->
        <div id="{{option.option_name}}" class="panel-collapse collapse " ng-class="{in: option.active}">
          <div class="panel-body">

            <ul class="nav nav-tabs" id="{{option.option_name}}-tab">
              <!--<pane class="" ng-repeat="part in option.parts" heading="{{part.label}}"-->
              <!--active="pane.active=part.active">-->
              <li ng-repeat="part in option.parts" ng-class="{active: part.active}"><a href="#{{part.part_name}}"
                                                                                       data-toggle="tab">{{part.label}}</a>
              </li>
              <!-- class="active" ===> active="pane.active=part.active" -->
            </ul>

            <div class="tab-content">

              <div ng-repeat="part in option.parts" class="tab-pane" ng-class="{active: part.active}"
                   id="{{part.part_name}}">
                <div class="row">
                  <div class="col-md-7">

                    <div data-toggle="buttons">
                      <!--https://github.com/angular-ui/bootstrap/issues/233-->
                      <div class="option-button"ng-repeat="value in part.values">
                        <button type="button" class="btn btn-default option"
                            ng-model="form[option.option_name][part.part_name]['id']" btn-radio="value.id"
                            ng-class="{highlight: form[option.option_name][part.part_name]['id']==value.id }">
                          <div class="db-icons-sprite {{part.type}}-{{value.id}}" tooltip="{{value.name}}"></div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <fabric-selector ng-repeat="set in fabricSets | filterSets:part.fabricSets" fabric-set="set"
                                     selected-option="form[option.option_name][part.part_name]"/>
                  </div>
                </div>
                <div class="row trim-selector" ng-show="part.trim">
                  <!--<div class="col-md-7">-->
                    <!--<label class="checkbox"><input type=checkbox-->
                                                   <!--ng-click="clearTrim(form[option.option_name][part.part_name])"-->
                                                   <!--ng-model="trim">Add trim</label>-->

                    <!--<button type="button" class="btn fabric-selector fabric-none"-->
                      <!--ng-model="selectedOption['trim']" btn-radio="fabric-none" tooltip="No trim"onClick="_gaq.push(['_trackEvent', 'Design Build', 'select fabric', '{{selectedOption.type}}-{{selectedOption.id}}', '{{fabric.fabId}}' ]);"></button>'-->

                  <!--</div>-->
                  <!--<div class="col-md-5"> &lt;!&ndash;ng-show="trim">&ndash;&gt;-->
                    <!--<div fabric-selector ng-repeat="set in fabricSets | filterSets:option.fabricSets"  fabric-set="set" selected-option="form[option.part_name]"></div>-->
                    <trim-selector ng-repeat="set in fabricSets | filterSets:part.trimFabricSets"
                                     ng-checked="form[option.option_name][part.part_name]['trim']"
                                     fabric-set="set" selected-option="form[option.option_name][part.part_name]"
                                     is-trim="true"/>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#customise-accordion"
               href="#info">
              Info
            </a>
          </h3>
        </div>
        <!--TODO - default open panel is class="panel-collapse collapse" -->
        <div id="info" class="panel-collapse collapse ">
          <div class="panel-body">
            <ul>
              <li>{{range.strapline}}</li>
              <li ng-repeat="para in range.description">{{para}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="row" ng-show="isFlatDesigner">

  <div class="top-border" ng-repeat="option in range.options" heading="{{option.label}}"
       is-open="option.active">
    {{option.label}}
    <div class="" ng-repeat="part in option.parts" heading="{{part.label}}" active="pane.active=part.active">

      <div class="container">
        <div class="row  top-border-small">
          {{part.label}}
        </div>
        <div class="row  top-border-small">

          <div class="col-md-6">
            <div class="align-center" name="option_choice" data-toggle="buttons-checkbox">
              <!--https://github.com/angular-ui/bootstrap/issues/233-->
              <button ng-repeat="value in part.values" type="button" class="btn builder option"
                      ng-model="form[option.option_name][part.part_name]['id']" btn-radio="value.id">
                <div class="db-icons-sprite {{part.type}}-{{value.id}}"
                     tooltip="{{part.type}}-{{value.id}}"></div>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <fabric-selector ng-repeat="set in fabricSets | filterSets:part.fabricSets" fabric-set="set"
                             selected-option="form[option.option_name][part.part_name]"/>
          </div>
        </div>


        <div class="row top-divider " ng-show="part.trim">
          <div class="col-md-6">
            <label class="checkbox"><input type=checkbox
                                           ng-click="clearTrim(form[option.option_name][part.part_name])"
                                           ng-model="trim">Add trim</label>
          </div>
          <div class="col-md-6" ng-show="trim">
            <fabric-selector ng-repeat="set in fabricSets | filterSets:part.trimFabricSets"
                             ng-checked="form[option.option_name][part.part_name]['trim']"
                             fabric-set="set" selected-option="form[option.option_name][part.part_name]"
                             is-trim="true"/>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>

</div>
</div>
</div>


<!--<div class="row" id="debug_view">-->
  <!--<div class="col-md-4 align-left">-->
    <!--<a class="btn btn-mini" ng-click="isDebugCollapsed = !isDebugCollapsed">Toggle debug view</a>-->
  <!--</div>-->
  <!--<div class="col-md-4 align-center">-->
    <!--<a class="btn btn-mini" href="#/designAdmin/{{style.styleId}}">Toggle admin view</a>-->
  <!--</div>-->
  <!--<div class="col-md-4 align-right">-->
    <!--<a class="btn btn-mini" ng-click="isFlatDesigner = !isFlatDesigner">Toggle flat designer</a>-->
  <!--</div>-->
  <!--<hr>-->
  <!--<div >-->
    <!--<pre>form={{form}}</pre>-->
    <!--<pre>fabricSets={{fabricSets}}</pre>-->
    <!--<pre>trimFabricSets={{trimFabricSets}}</pre>-->
    <!--<pre>dressFabricSets={{dressFabricSets}}</pre>-->


    <!--<pre>master={{master}}</pre>-->
    <!--<pre>category={{category}}</pre>-->
    <!--<pre>style={{style}}</pre>-->
    <!--<pre>range={{range}}</pre>-->
  <!--</div>-->
<!--</div>-->
</div>
<!-- /designBuildView -->